{% extends 'base.html.twig' %}

{% block title %}
	ConsoMyZone : Ajouter A google Agenda
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{asset('assets/css/account/account.css')}}">
	<link rel="stylesheet" href="{{asset('assets/css/account/agenda/agenda.css')}}">
{% endblock %}
{% block javascripts %}
<script src="{{asset('assets/js/agenda/googleCalendarAPI.js')}}" defer></script>
{% endblock %}
{% block body %}

    <div style="position: absolute; top: 50%; left: 50%;transform: translate(-50%, -50%);">

        <h1 style="margin-bottom:5px;">
            <button type="button" class="btn btn-primary" onclick=addToGoogleCalendar()>Ajouter à votre google agenda</button>
        </h1>

        <div>
           <a href="/">Revenir vers CMZ</a>
        </div>

    </div>

{% endblock %}