.content_block_message{
    display: block;
    width: 78%;
    height: 84vh;
    overflow: scroll;
    
    position: absolute;
    right: 0;

    padding: 15px;
}

.list_amis_to_chat{
    display: flex;
    text-decoration: none;
    margin: 10px 0px;
    justify-content: start;
    align-items: start;
}

.list_amis_to_chat img{
   display: flex;
   justify-content: center;
   align-items: center;
}
.list_amis_to_chat h6{
    color: black;
}

.content_message , .content_amis{
    background-color: white;
    color: black;
    min-height: 100vh;
    padding: 10px;
}

.content_entete {
    display: block;
    width: 50%;
    margin: 25px auto;
    text-align: center;
}

.content_img{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.content_img img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: auto;

}

.content_entete h3{
    text-align: center;
    font-weight: bolder;
}
.content_entete h4{
    text-align: center;
    font-weight: bold;
}


.avatar_message{
    display: flex;
    align-items: center;
}

.left_place{
    justify-content: start;
}

.right_place{
    justify-content: end;
}
.avatar_message img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.avatar_message .message_single{
    display: block;
    margin: 10px 15px;
    padding: 15px;
    border-radius: 15px;
    margin-top: 0;
}
.message_single p{
    margin-bottom: 0;
}

.avatar_message span{
    margin: 10px 15px;
    font-size: 0.7rem;
    font-style: italic;
}

.left_place span{
    display: inline-block;
    width: 90%;
    text-align: start;
}
.right_place span{
    display: inline-block;
    width: 90%;
    text-align: end;
}



.left_place .message_single{
    color: #004085;
    background-color: #cce5ff;
    border-color: #b8daff;
}

.right_place .message_single {
    color: #383d41;
    background-color: #e2e3e5;
    border-color: #d6d8db;
    padding: 10px;
    border-radius: 20px;
}


.globla_message{
    width: 50%;
}


.input_message{
    display: flex;
    align-items: flex-end;
    justify-content: end;
}

.input_message textarea{
    width: 100%;
    min-height: 54px;
    margin-right: 25px;
    padding: 10px;
    border-radius: 5px;
    resize: none;
}

.input_message i{
    font-size: 1.5rem;
    cursor: pointer;
}

.i_input_file{
    margin-right: 15px;
}   

.i_input_file input{
    display: none;
}

.outer_icon_message{
    margin-bottom: 25px;
}

.outer_icon_micro{
    margin-bottom: 15px;
}



.content_image_input{
    display: none;
    justify-content: start;
    align-items: center;
    max-width: 100%;
    overflow-x: auto;
    background-color: lightgray;
    padding: 5px;
    border-radius: 5px 5px 0 0;
}

.content_image_input img{
    width: 30%;
    height: 10%;
    margin-right: 5px;
}


.content_amis{
    position: fixed;
    top: 135px;
    padding-top: 25px;
    min-height: 76vh;
}

.content_amis li {
    display: flex;
    align-items: center;
    margin: 10px 0;
    cursor: pointer;
    font-size: 0.8rem;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif

}

.content_amis img{
    width: 30px;
    height:30px;
    border-radius: 50%;
    margin-right: 10px;
}

.i_input_file_under_image{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 30px;
    height:30px;
    border-radius: 50%;
    margin-right: 10px;
}

.content_loading{
    float: right;
    transform: translate(15px, -30px);
}

.loading{
    animation: rotation 2s linear infinite;
}
.content_image_message{
    display: flex;

    margin: 10px 0;
}

.image_left{
    justify-content: start;
    margin-left: 10px;
}

.image_right{
    justify-content: end;
    /* margin-right: 10px; */
}

.content_image_message img{
    width: 60px;
    height: 60px;
    border-radius: 5px;
    margin-right: 10px;
}

.error_message_status{
    color: red;
}

@keyframes rotation {
    0%{
        transform: rotate(0deg);
        }
    100%{
        transform: rotate(360deg);
        }
}
   