.kidje3{
    width: 115px;
}

.see-avis{
    display: block;
    font-size: 12pt;
}

.container-depart{
    pointer-events: none;
}

.spec_cluster {

    width: 45px;
    height: 45px;
    background-color: rgb(253, 0, 13);
    border-radius: 50%;
    text-align: center;
    font-size: 24px;
}

.markers-spec {
    font-size: 11px;
}
.mycluster {

    width: 45px;
    height: 45px;
    background-color: greenyellow;
    border-radius: 50%;
    text-align: center;
    font-size: 24px;
}

.markers_tommy_js {
    font-size: 11px;
}