#map {
    margin-left: 1.5rem !important;
}

.kidje3{
    width: 115px;
}

.see-avis{
    display: block;
    font-size: 12pt;
}

/* .container-depart{
    pointer-events: none;
} */

.navleft .list-depart {
    margin-top: 0 !important;
}

.choix_list_cart {
    text-align: center;
}

.content_description {
    height: 600px;
}

.content_container_list{
    display: flex;
    justify-content: center;
    /* text-align: center; */
}