/* #map {
    margin-left: 1.5rem !important;
} */
.cart_map{
    width:100% !important;
}
#map {
    width: 100% !important;
}

.kidje3{
    width: 115px;
}

.see-avis{
    display: block;
    font-size: 12pt;
}

/* .container-depart{
    pointer-events: none;
} */

.navleft .list-depart {
    margin-top: 0 !important;
}

.choix_list_cart {
    text-align: center;
}

.content_description {
    height: 600px;
}

.content_container_list{
    display: flex;
    justify-content: center;
    /* text-align: center; */
}

/* .leaflet-control-zoom.leaflet-bar.leaflet-control {
    margin-right: 4vw;
} */

#btnPastilleCarte, .confirmPast{
    background-color: #0D6EFD !important;
}

.annulPast{
    background-color: #DC3545 !important;
}



.edit_avis{
    width: 100%;
    padding: 0.2rem;
}