
###> symfony/framework-bundle ###
/.env.local
/.htaccess
/.env.local.php
/.env.*.local
.env.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/public/uploads/
/public/uploads_22/
/public/assets/publications/photos/
/src/controller/test/faniry/
/var/
/vendor/
/uploads/
/public/uploads_old/
/public/uploads _2_.zip
/jwt/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###

###> symfony/phpunit-bridge ###
.phpunit.result.cache
/phpunit.xml
