
###> symfony/framework-bundle ###
/.env.local
/BDD
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/public/uploads/
/public/uploads/users/photos/
/public/assets/publications/photos/
/public/uploads/tribu_t/photo/
/public/uploads/tribu_t/photos/
/public/uploads/tribus/photos/
/public/uploads/tribus/
/public/uploads/messages/
/public/users/audios/
/public/users/photos/
/var/
/vendor/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###

###> symfony/phpunit-bridge ###
.phpunit.result.cache
/phpunit.xml

###< symfony/phpunit-bridge ###
/.env.local
/deleteWhenProd.md
/BDD
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/public/uploads/
/public/uploads/users/photos/
/public/assets/publications/photos/
/public/uploads/tribu_t/photo/
/public/uploads/tribu_t/photos/
/public/uploads/tribus/photos/
/public/uploads/messages/
/public/users/audios/
/public/users/photos/
/var/
/vendor/