{# /////SHOW DETAILS HOME #}
<div class="navleft-detail fixed-top hidden key_draggable_details_jheo_js" id="remove-detail-home">
	<nav>
		<div id="close-detail-home">
			<i class="fa-solid fa-x"></i>
		</div>
		<div class="content_description" id="content_details_home_js_jheo">
			{# THE CONTENT IS GENERATE BY THE JS #}
		</div>
	</nav>
</div>
