<div class="modal fade" id="modal_filter_home" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Filtrer Home</h5>
        <button type="button" class="btn-close btn_close_modal_filter_jheo_js" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="content_filter_global content_filter_global_modal_jheo_js">
          {# CONTENT FILTER ADD ON JS #}
        </div>
      </div>
    </div>
  </div>
</div>
