<div class="navleft fixed-top">
	<div class="container-fluid list-depart">
		<div class="head-left">
			<div class="row">
				<div class="col-md-10">
					<h6 class="modal-title" id="exampleModalLabel">
                        Résultats de votre recherche:

                        {% if results[1] > 0 %}
                            <i class="total_number_js">({{results[1] > 1 ? results[1] ~ " resultats" : "1 resultat"  }})</i>
                        {% else %}
                            <i class="total_number_js">({{results[1]}} resultat)</i>
                        {% endif %}
                    </h6>
				</div>
			</div>
			<div class="container list-depart-all" id="Scrollbar">
				<div id="list_departements">
					<ul>
						{% for item in results[0] %}
							{% include "card/card.html.twig" %}
						{% endfor %}
					</ul>
				</div>
			</div>

		</div>
	</div>
</div>
