.navleft .list-depart {
    margin-top: 0;
    font-size: 10pt;
}

.icon_golf{
    width: 45px;
    height: 45px;
}

.navleft .list-depart-all-specific {
    height: 72vh;
}

.content_description {
    height: 75vh !important;
}

.site_web {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon_golf_legend{
    display: block;
    width: 30px;
    height: 40px;
}


@media screen and (min-width: 1440px) and (max-width: 1550px){
    .navbar-light-left .fa-x {
        margin-left: 169px !important;
    }
}
