.navleft .list-depart {
    margin-top: 0;
    font-size: 10pt;
}

.icon_golf{
    width: 45px;
    height: 45px;
}

.navleft .list-depart-all-specific {
    height: 72vh;
}

.content_description {
    height: 75vh !important;
}


.icon_golf_legend{
    display: block;
    width: 30px;
    height: 40px;
}
.golf_status{
    font-size: 0.6rem;
}
.lead{
    font-size: 0.8rem;
}

.btn_golf_did {
    cursor: pointer;
}

.btn_golf_did:hover {
    transform: scale(1.3);
}


@media screen and (min-width: 1440px) and (max-width: 1550px){
    .navbar-light-left .fa-x {
        margin-left: 169px !important;
    }
}
