<div class="specific-detail responsif-none-pc " data-toggle-user-id="{{app.user ? app.user.id : 0}}">
	<nav class="navbar navbar-light d-flex content-spec-resto content-spec-resto-tomm-js">
		<div class="container-fluid scroll-mobile scroll-mobile-tomm-js">
			<ul class="navbar-nav mt-3 d-flex flex-row list-specific-depart-mobile-tomm-js">
                {% for codinsee in codinsees %}
                    <li class="nav-item me-3 content_avie_details_tomm_js " data-toggle-id-resto="${response.id}">
                        <a href="{{path('restaurant_specific_arrondissement_sepcial', {'nom_dep': nom_dep, 'id_dep': id_dep, 'codinsee' : codinsee.codinsee, 'arrdssm' : codinsee.arrondissement }) }}">
                            <div class="containt-specific-arrandismant">
                                <P class="text-point-9 fw-bold "> 
                                    <svg version="1.0" style="display: inline; margin-top: -5px;" xmlns="http://www.w3.org/2000/svg" width="30pt" height="30pt" viewbox="0 0 752.000000 752.000000" preserveaspectratio="xMidYMid meet">

                                        <g transform="translate(0.000000,752.000000) scale(0.100000,-0.100000)" fill="#000000" stroke="none">
                                            <path d="M3722 5818 c-9 -9 -12 -69 -12 -209 l0 -197 -37 -19 c-22 -11 -51
                                                -39 -68 -66 -20 -31 -37 -46 -52 -46 -12 -1 -33 -5 -47 -11 l-26 -10 0 -193
                                                c0 -209 2 -217 54 -217 l29 0 -7 -146 c-3 -80 -13 -212 -21 -293 -16 -158 -70
                                                -497 -85 -537 -9 -23 -13 -24 -98 -24 -55 0 -92 -4 -100 -12 -19 -19 -17 -376
                                                2 -397 15 -16 8 -34 -127 -363 l-11 -28 -137 0 c-119 0 -138 -2 -152 -18 -15
                                                -16 -17 -45 -17 -195 0 -164 2 -179 20 -197 11 -11 25 -20 30 -20 6 0 -2 -19
                                                -16 -42 -52 -84 -189 -277 -197 -278 -18 0 -143 186 -197 295 -112 225 -154
                                                401 -154 645 1 121 5 177 22 257 95 444 395 824 819 1036 50 26 94 51 98 57
                                                13 20 -5 60 -29 66 -45 11 -269 -115 -418 -234 -285 -230 -486 -555 -564 -912
                                                -28 -128 -26 -438 4 -572 32 -145 66 -239 137 -383 211 -426 616 -741 1088
                                                -846 135 -30 397 -37 542 -14 334 52 626 200 864 436 217 217 355 467 427 775
                                                26 109 28 136 29 319 0 218 -10 286 -66 458 -124 378 -425 728 -791 917 -88
                                                46 -126 60 -143 56 -25 -6 -43 -45 -30 -66 4 -6 48 -31 98 -57 424 -212 724
                                                -593 818 -1036 29 -134 31 -369 5 -502 -38 -200 -113 -387 -219 -547 -59 -90
                                                -113 -156 -119 -148 -3 3 -36 50 -75 105 -99 141 -145 215 -133 215 5 0 19 9
                                                30 20 19 19 20 33 20 198 0 161 -2 181 -18 195 -15 14 -42 17 -153 17 l-135 0
                                                -11 28 c-135 329 -142 347 -127 363 19 21 21 378 2 397 -8 8 -45 12 -100 12
                                                -106 0 -95 -17 -132 200 -41 248 -76 582 -76 737 0 62 0 63 28 63 50 0 52 9
                                                52 217 l0 193 -26 10 c-14 6 -36 10 -49 10 -17 0 -30 12 -48 43 -17 29 -42 52
                                                -71 68 l-46 24 0 195 c0 206 -3 220 -45 220 -12 0 -26 -5 -33 -12z m89 -518
                                                l24 -19 -72 -1 c-75 0 -90 9 -50 28 35 17 73 14 98 -8z m139 -240 l0 -120
                                                -190 0 -190 0 0 120 0 120 190 0 190 0 0 -120z m-86 -272 c3 -35 8 -112 11
                                                -173 8 -161 32 -366 66 -565 16 -96 29 -180 29 -187 0 -10 -47 -13 -210 -13
                                                -193 0 -210 1 -210 18 0 9 9 62 20 118 37 194 65 440 86 767 l6 97 98 0 98 0
                                                6 -62z m324 -1145 l-3 -118 -425 0 -425 0 -3 118 -3 117 431 0 431 0 -3 -117z
                                                m-638 -218 c0 -7 -55 -144 -107 -267 l-45 -108 -89 0 c-49 0 -89 1 -89 3 0 1
                                                16 41 36 87 20 47 49 119 64 160 55 147 37 130 140 130 49 0 90 -2 90 -5z
                                                m140 -2 c0 -5 -33 -89 -73 -188 -59 -148 -76 -181 -93 -183 -20 -3 -15 14 55
                                                187 58 146 80 191 94 191 9 0 17 -3 17 -7z m251 -184 c70 -173 75 -190 55
                                                -187 -17 2 -34 35 -93 183 -40 99 -73 183 -73 188 0 4 8 7 18 7 13 0 35 -45
                                                93 -191z m227 146 c15 -40 118 -298 129 -322 4 -10 -17 -13 -85 -13 l-90 0
                                                -37 88 c-40 92 -115 280 -115 288 0 3 41 3 91 2 l91 -3 16 -40z m-350 -194
                                                c29 -71 52 -131 52 -135 0 -3 -49 -6 -110 -6 -60 0 -110 3 -110 6 0 14 104
                                                264 110 264 3 0 29 -58 58 -129z m792 -356 l0 -115 -850 0 -850 0 0 115 0 115
                                                850 0 850 0 0 -115z m-42 -261 c15 -26 73 -114 130 -196 56 -82 102 -152 102
                                                -157 0 -12 -94 -97 -170 -154 l-61 -47 -60 75 c-142 176 -307 291 -506 352
                                                -79 24 -104 27 -243 27 -132 1 -167 -3 -233 -22 -206 -59 -367 -171 -518 -359
                                                l-57 -72 -64 48 c-84 64 -168 140 -168 153 0 5 26 47 59 91 49 69 133 196 188
                                                285 l13 22 780 0 780 0 28 -46z m-738 -200 c134 -40 256 -167 394 -411 25 -45
                                                46 -86 46 -91 0 -11 -153 -58 -252 -77 -121 -23 -280 -29 -398 -16 -148 17
                                                -370 75 -370 96 0 4 25 52 56 107 129 230 266 367 398 399 49 11 68 10 126 -7z
                                                m-453 -116 c-52 -61 -116 -160 -177 -270 -23 -43 -44 -78 -46 -78 -13 0 -114
                                                56 -114 63 0 16 109 144 164 194 53 48 191 143 208 143 5 0 -11 -24 -35 -52z
                                                m868 -39 c92 -69 235 -219 235 -245 0 -8 -100 -64 -114 -64 -2 0 -29 44 -60
                                                98 -64 114 -112 186 -170 257 l-41 49 50 -28 c28 -16 73 -46 100 -67z"/>
                                            <path d="M3632 5118 c-7 -7 -12 -34 -12 -60 0 -41 4 -50 24 -59 41 -19 66 3
                                                66 59 0 52 -12 72 -45 72 -12 0 -26 -5 -33 -12z"/>
                                            <path d="M3822 5118 c-7 -7 -12 -34 -12 -60 0 -41 4 -50 24 -59 41 -19 66 3
                                                66 59 0 52 -12 72 -45 72 -12 0 -26 -5 -33 -12z"/>
                                            <path d="M3442 3698 c-7 -7 -12 -34 -12 -60 0 -42 3 -50 26 -60 39 -18 58 0
                                                62 56 2 27 -2 54 -9 62 -14 17 -51 18 -67 2z"/>
                                            <path d="M3580 3691 c-26 -50 -3 -121 39 -121 41 0 64 73 37 115 -20 30 -61
                                                33 -76 6z"/>
                                            <path d="M3720 3691 c-26 -49 -1 -121 42 -121 24 0 48 34 48 69 0 48 -16 71
                                                -50 71 -19 0 -33 -7 -40 -19z"/>
                                            <path d="M3864 3685 c-27 -42 -4 -115 37 -115 42 0 65 71 39 121 -15 27 -56
                                                24 -76 -6z"/>
                                            <path d="M4011 3696 c-7 -8 -11 -35 -9 -62 4 -56 23 -74 62 -56 23 10 26 18
                                                26 60 0 26 -5 53 -12 60 -16 16 -53 15 -67 -2z"/>
                                            <path d="M3017 2892 c-19 -21 -22 -73 -7 -103 7 -12 21 -19 40 -19 50 0 70 80
                                                30 120 -25 25 -42 25 -63 2z"/>
                                            <path d="M3160 2890 c-22 -22 -25 -54 -10 -94 7 -20 17 -26 38 -26 15 0 33 5
                                                40 12 19 19 15 92 -6 111 -24 22 -38 21 -62 -3z"/>
                                            <path d="M3308 2899 c-13 -7 -18 -23 -18 -57 0 -52 12 -72 45 -72 32 0 45 20
                                                45 66 0 61 -30 88 -72 63z"/>
                                            <path d="M3446 2894 c-19 -18 -22 -94 -4 -112 7 -7 21 -12 33 -12 33 0 45 20
                                                45 72 0 37 -4 50 -19 58 -27 14 -37 13 -55 -6z"/>
                                            <path d="M3587 2892 c-20 -22 -23 -92 -5 -110 7 -7 25 -12 40 -12 22 0 31 6
                                                39 27 14 37 3 90 -21 103 -26 14 -34 13 -53 -8z"/>
                                            <path d="M3730 2890 c-40 -40 -20 -120 30 -120 34 0 50 23 50 69 0 30 -29 71
                                                -50 71 -5 0 -19 -9 -30 -20z"/>
                                            <path d="M3878 2899 c-22 -12 -32 -67 -19 -102 8 -21 17 -27 39 -27 15 0 33 5
                                                40 12 19 19 15 92 -6 111 -21 19 -30 20 -54 6z"/>
                                            <path d="M4018 2899 c-13 -7 -18 -23 -18 -57 0 -52 12 -72 45 -72 32 0 45 20
                                                45 66 0 61 -30 88 -72 63z"/>
                                            <path d="M4156 2894 c-19 -18 -22 -94 -4 -112 7 -7 21 -12 33 -12 33 0 45 20
                                                45 72 0 37 -4 50 -19 58 -27 14 -37 13 -55 -6z"/>
                                            <path d="M4297 2892 c-20 -22 -23 -92 -5 -110 7 -7 25 -12 40 -12 21 0 31 6
                                                38 26 15 40 12 72 -10 94 -25 25 -42 25 -63 2z"/>
                                            <path d="M4440 2890 c-40 -40 -20 -120 30 -120 34 0 50 23 50 73 0 33 -24 67
                                            -48 67 -7 0 -21 -9 -32 -20z"/>
                                        </g> 
                                    </svg>
                                    Département 75
                                </P>
                                <div class="row container-depart element">
                                    <div class="col-8">
                                        <p class="text-point-9">
                                            {{codinsee.arrondissement}} <spam class="arrond-eme">eme</spam>	Arrondissement 
                                        </p>
                                    </div>
                                    <div class="col-2">
                                        {# <a class="plus-arrendissement" href="{{path('restaurant_specific_arrondissement_sepcial', {'nom_dep':nom_dep ,'id_dep':id_dep, 'codinsee': codinsee.codinsee }) }}"> #}
                                            <svg version="1.0" xmlns="http://www.w3.org/2000/svg"  viewbox="0 0 512.000000 512.000000" preserveaspectratio="xMidYMid meet">

                                                <g transform="translate(0.000000,512.000000) scale(0.100000,-0.100000)" 
                                                stroke="none">
                                                    <path d="M2375 4954 c-231 -24 -462 -78 -641 -149 -782 -310 -1321 -993 -1440
                                                    -1824 -21 -141 -23 -445 -5 -581 23 -170 77 -398 116 -485 8 -16 26 -59 40
                                                    -95 175 -426 486 -804 870 -1056 1052 -689 2449 -398 3148 658 313 473 437
                                                    1008 360 1568 -135 995 -920 1789 -1923 1945 -101 15 -440 28 -525 19z m285
                                                    -395 c108 -17 187 -60 254 -137 32 -37 72 -96 90 -132 l31 -65 3 -519 3 -519
                                                    332 6 c183 3 418 3 523 -1 188 -7 192 -8 256 -40 172 -85 278 -295 249 -496
                                                    -23 -164 -114 -297 -249 -363 l-76 -38 -518 -3 -517 -3 -3 -517 -3 -517 -28
                                                    -59 c-79 -170 -238 -266 -437 -266 -199 0 -358 96 -437 266 l-28 59 -3 517 -3
                                                    517 -517 3 -518 3 -76 38 c-176 87 -280 295 -249 497 21 138 112 279 221 343
                                                    98 57 120 59 652 59 l487 -1 3 517 3 517 29 62 c16 35 35 68 42 74 8 6 14 20
                                                    14 29 0 47 174 151 280 169 77 12 115 12 190 0z"/>
                                                </g>
                                            </svg>
                                        {# </a> #}
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                {% endfor %}
            </ul>
		</div>
	</nav>
</div>

