<div id="remove-detail-resto" class="hidden responsif-none">
		<div id="close-detail-resto" class="close_detail_resto_js_jheo">
			<i class="fa-solid fa-x"></i>
		</div>
		<div class="content_description" id="content_detail_resto_js_jheo">
			{# THE CONTENT IS GENERATE BY THE JS #}
		</div>
</div>