<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
	<div class="modal-dialog  modal-dialog-scrollable">
		<div class="modal-content">
			<div class="modal-header bg-light">
				<h5 class="modal-title" id="staticBackdropLabel">Avis</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="list-avis-ferme">
				<div class="modal-body container-avis all_avis_jheo_js">
					{# LIST AVIS CONTENT #}
				</div>
			</div>

		</div>
	</div>
</div>

