<div class="modal fade list-avis-ferme-global" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
	<div class="modal-dialog  modal-dialog-scrollable">
		<div class="modal-content">
			<div class="modal-header bg-light">
				<h5 class="modal-title" id="staticBackdropLabel">Avis</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="list-avis-ferme">
				<div class="modal-body container-avis all_avis_jheo_js">
					<div class="card mb-2 card_avis_resto_jheo_js">
						<div class="card-body">
							<div class="avis_content">
								<div class="d-flex justify-content-between align-items-end">
									<h3>
										<small class="fw-bolder text-black">With faded secondary text : </small> <br>
										Fancy display heading
									</h3>	
									<p>
										<i class="fa-solid fa-star checked" style="color: rgb(245, 209, 101);"></i>
										<i class="fa-solid fa-star checked" style="color: rgb(245, 209, 101);"></i>
										<i class="fa-solid fa-star"></i>
										<i class="fa-solid fa-star"></i>
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			{% if app.user %}
				<div class="modal-footer">
					<button type="button" class="btn btn-warning btn_modal_avis_resto_jheo_js non_active" data-status="create" data-bs-dismiss="modal" data-bs-toggle="modal" data-bs-target="#modalAvisRestaurant">Donné votre avis</button>
				</div>
			{% else %}
				<div class="modal-footer" data-bs-toggle="tooltip" data-bs-placement="top" title="Veuillez vous connecter, pour envoyer votre avis.">
					<button type="button" class="btn btn-warning non_active">Donné votre avis</button>
				</div>
			{% endif %}
		</div>
	</div>
</div>

