<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Votre Avis</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				{# <div class="content_note">
					<div class="start start-avis star-tom-js">
					 <i class="fa-solid fa-star" data-rank="1"></i>
						<i class="fa-solid fa-star" data-rank="2"></i>
						<i class="fa-solid fa-star" data-rank="3"></i>
						<i class="fa-solid fa-star" data-rank="4"></i>
						<i class="fa-solid fa-star" data-rank="5"></i>
						
					</div>


				</div> #}
				<form>
					{# <div class="mb-3"> #}
					<label for="text-note" class="col-form-label">Donner une note sur 4:</label>
					<textarea class="form-control" id="text-note"></textarea>
					<label for="message-text" class="col-form-label">Commentaire:</label>
					<textarea class="form-control" id="message-text"></textarea>
					{# </div> #}
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-envoyer" data-bs-dismiss="modal" id="Submit-Avis-resto-tom-js">Envoyer</button>
			</div>
		</div>
	</div>
</div>
