<div class="modal fade" id="modalAvisRestaurant" tabindex="-1" aria-labelledby="modalAvisRestaurantLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="modalAvisRestaurantLabel">Votre Avis</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" data-bs-toggle="modal" data-bs-target="#staticBackdrop"></button>
			</div>
			<div class="modal-body">
				<form>
					{# <div class="mb-3"> #}
					<label for="text-note" class="col-form-label">Donner une note sur 4:</label>
					<textarea class="form-control note_number_jheo_js" id="text-note"></textarea>
					<label for="message-text" class="col-form-label">Commentaire:</label>
					<textarea class="form-control note_avis_jheo_js" id="message-text"></textarea>
					{# </div> #}
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-warning send_avis_jheo_js" data-bs-dismiss="modal" data-bs-toggle="modal" data-bs-target="#staticBackdrop" id="Submit-Avis-resto-tom-js">Envoyer</button>
			</div>
		</div>
	</div>
</div>


<div class="modal fade list-avis-ferme-global" id="avisRestoPastille" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="avisRestoPastilleLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-scrollable">
		<div class="modal-content">
			<div class="modal-header bg-light">
				<h5 class="modal-title" id="avisRestoPastilleLabel">Avis</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body container-avis all_avis_jheo_js" id="bodyAvisRestoPastilleElie">
				
			</div>

			{% if app.user %}
				<div class="modal-footer">
					<button type="button" class="btn btn-warning btn_modal_avis_resto_jheo_js" id="btn_open_modal_avis_elie" >Donner votre avis</button>
				</div>
			{% endif %}
		</div>
	</div>
</div>