<div class="fixed-top hidden" id="remove-detail-golf">
	<nav>
		<div class="close_details close_details_jheo_js" id="close-detail-golf">
			<i class="fa-solid fa-x"></i>
		</div>
		<div class="content_description" id="content-details-golf">
			{# THE CONTENT IS GENERATE BY THE JS #}
		</div>
	</nav>
</div>
