{% extends 'base.html.twig' %}

{% block title %}Ferme ConsoMyZone{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{asset('asset/css/ferme/app.css')}}">
{% endblock %}


{% block javascripts %}
<script src="{{asset('assets/js/ferme/data_ferme.js')}}" defer></script>
{% endblock %}

{% block body %}
    <div class="responsif-none">
        {% include 'shard/navbar.twig' %}
    </div>
    <div class="row">
        <div class="col responsif-none" id="tous">
            {% include 'shard/ferme/ferme_navleft.twig' %}
        </div>
        <div class="col">
            <div class="content_cart_map">
                <div class="cart_map">
                    <div class="chargement_content" id="toggle_chargement">
                        <div class="content_box">
                            <div class="box">
                                <div class="under_box"></div>
                            </div>
                        </div>
                    </div>
                    <div id="map" class="map"></div>
                </div>
            </div>
        </div>
    </div>
    
{% endblock %}
