<form action="" class="account-bar-de-recherche event-click">
    <input type="text" class="input" placeholder="De quoi avez-vous besoin ?">
    {# <input type="text" class="input" placeholder="Adresse, quartier, ville, département"> #}
<button type="submit" class="btn-submit">
	<i class="fa-solid fa-magnifying-glass"></i>
</button>

</form>