<form  action="/search" method="get" class="bar-de-recherche form_content_search_navbar_js">
    <input type="text" name="cles0" class="form-control input-recherche-navbar input_search_type_js" placeholder="De quoi avez-vous besoin ?" >
    

    <input type="text" name="cles1" list="datalistOptions"  class="form-control input-recherche-navbar mx-3 input_mots_cle_js" placeholder="Adresse, quartier, ville, département" >
    <datalist id="datalistOptions"></datalist>

    <button type="submit" class="btn-submit btn_search_nav_bar_js_jheo"><i class="fa-solid fa-magnifying-glass"></i></button>
    {# <button type="button" style="display:none" class="btn btn-primary btn_show_modal_js" data-bs-toggle="modal" data-bs-target="#modal_list_searh_nav"></button> #}
</form>