<div class="content-logo-shearch row">
	<div class="col-2">
		<a class="navbar-brand" href="{{path("app_home")}}"><img src="{{asset('assets/image/logo.png')}}" alt="logo"></a>
	</div>
	<div class="recherche-navbar col-9 ">
		<form action="/search" method="get" class="bar-de-recherche form_content_search_navbar_js_mob">
			<input type="text" name="cles0" class="form-control input-recherche-navbar input_search_type_js_mob" placeholder="Quoi ?">
			<input type="text" name="cles1" list="datalistOptions" class="form-control input-recherche-navbar mx-3 input_mots_cle_js_mob" placeholder="Où ?">
			<datalist id="datalistOptions"></datalist>
			<button type="submit" class="hidden"></button>
		</form>
		<button class="open-navleft-resto open-navleft-resto-spec open-navleft-resto-arrond open-navleft-ferme open-navleft-ferme-spec open-navleft-station open-navleft-station-spec btn-recher-nav open_nav_left_jheo_js close-search-mob" id="close-search-mob">
			<i class="fa-solid fa-xmark"></i>
		</button>
	</div>
</div>
