<div class="content_photos_js_jheo">
    <!-- Gallery -->
    <div class="mt-4">
        <div class="alert alert-success" role="alert" style="display:none;" id="success_upload">
            Photo télechargé avec succès!
        </div>
        <span class="h4">Liste des photos</span> 
        <label class="input-file text-center float-end" style="height:40px;background-color:#0D6EFD;padding:10px;border-radius:5px;color:white;cursor:pointer;"> <i class="bi bi-camera-fill"></i> Importer
            <input onchange="loadFile(event)" type="file" name="photo" style="display:none;">
            <img src="" alt="" id="photo-file" class="w-100" style="display:none;">
        </label>
    </div>
    <div class="gallery-container">
    {# <div class="row gallery-container"> #}
        {# {% for double_photo  in photos|batch(2)  %} #}
            <div class="" id="gallery" style="width:100%">
            {# <div class="col-lg-4 col-md-12 mb-4 mb-lg-0" id="gallery"> #}
                {% for single_photo in photos %}
                    {% if single_photo.photo %}
                        <img
                            src="{{asset('uploads/tribu_g/photos/') ~ table_tribu ~ "/" ~ single_photo.photo}}"
                            {# src={{asset("uploads/tribu_t/photos/" ~ single_photo.photo)}} #}
                            class=""
                            alt="Boat on Calm Water"
                            />
                    {% endif %}
                {% endfor %}
            </div>
        {# {% endfor %} #}
    </div>
    <!-- Gallery -->
</div>
