{# content_photos #}
<div class="2xl:ud-max-w-230 content_photos_js_jheo" style="width: 67%;">
	<div class="card p-3">
		<!-- Gallery -->
		<div>
			<div class="alert alert-success" role="alert" style="display:none;" id="success_upload">
				Photo télechargé avec succès!
			</div>

			{# <span class="h4">Les photos de la tribu-G</span> #}

			{# <label class="input-file text-center float-end" style="height:40px;background-color:#0D6EFD;padding:10px;border-radius:5px;color:white;cursor:pointer;">
				<i class="bi bi-camera-fill"></i>
				Importer
				<input onchange="loadFile(event)" type="file" name="photo" style="display:none;">
				<img src="" alt="" id="photo-file" class="w-100" style="display:none;">
			</label> #}
		</div>
{# id="gallery" #}
		<div class="row mt-2" style="width:100%" >
				<div class="gallery-container">
                  <div>
                      <span class="h2 text-dark text-center" >Bienvenue dans la galerie.</span> 
                      
                  </div>
                  <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <div class="container-fluid">
                      <div class="navbar-collapse" id="navbarNavAltMarkup">
                        <div
							class="navbar-nav">
							{# <a class="nav-link" id="gal-publication-g" onclick="galPubG()" data-status-nav="gal-publication-g" style="color: #0101DF">Publication</a>
							<a class="nav-link" id="gal-agenda-g" onclick="galAgendaG()" data-status-nav="gal-agenda-g">Agenda</a> #}
							<ul class="d-flex">
								<li class="nav-link me-2">
									<a id="gal-publication-g" onclick="galPubG()" data-status-nav="gal-publication-g" style="color: #0101DF">Publication</a>
								</li>

								<li class="nav-link">
									<a id="gal-agenda-g" onclick="galAgendaG()" data-status-nav="gal-agenda-g">Agenda</a>
								</li>
<li class="nav-link">
											<a id="gal-album-g" onclick="galAlbumG()" data-status-nav="gal-album-g">Album</a>
										</li>
							</ul>
                        </div>
                      </div>
                    </div>
                  </nav>

                  <div id="gallery">
                    <div class="content-publication-tomm-js" data-status="gal-publication-g">
                      
                      <div class="row photo-pud-t-tomm-js" >
					  {% set mergedArrayPub = {} %}
						{% for single_photo in photosPub %}
{% if single_photo['isAlbum'] == 0 %}
							{% set createdAt = single_photo['createdAt'] %}
							{% set photo = single_photo['photo'] %}
							{% if not mergedArrayPub[createdAt] is defined %}
								{% set mergedArrayPub = mergedArrayPub|merge({ (createdAt): [photo] }) %}
							{% else %}
								{% if mergedArrayPub[createdAt] != single_photo['photo'] %}
									{% set mergedArrayPub = mergedArrayPub|merge({ (createdAt): mergedArrayPub[createdAt]|merge([photo]) }) %}
								{% endif %}
							{% endif %}
{% endif %}
							
						{% endfor %}
						{% for key,items in mergedArrayPub %}
							<h6>{{ key }}</h6>
							{% for item in items %}
								<div class="col-lg-4 col-md-12 mb-4 mb-lg-0 pub"  onclick="openGalleriesPhotoTribuT(this)">
									<img src="{{ item }}" class="w-100 shadow-1-strong mb-4 pub" alt="Boat on Calm Water"/>
													</div>
						{% endfor %}
						{% endfor %}
						
                      </div>
                    </div>
                    <div class="content-agenda-tomm-js d-none" data-status="gal-agenda-g">
                      
                      <div class="row photo-agenda-t-tomm-js">
					  {% set mergedArray = {} %}
					  	
                        {% for single_photo in photosAgenda %}
							{% if single_photo['isAlbum'] == 0 %}
								{% set createdAt = single_photo['createdAt'] %}
								{% set photo = single_photo['photo']  %}
								{% set photoSplit = single_photo['photoSplit'] %}
								{% if not mergedArray[createdAt] is defined %}
									{% set mergedArray = mergedArray|merge({ (createdAt): [photo] }) %}
								{% else %}
									{% if mergedArray[createdAt] != single_photo['photo'] %}
										{% set mergedArray = mergedArray|merge({ (createdAt): mergedArray[createdAt]|merge([photo]) }) %}
									{% endif %}
								{% endif %}
							{% endif %}
						{% endfor %}
						{% for key,items in mergedArray %}
							{% for item in items %}
								{% if item %}
									{% set photoSplit = item|split('/') %}
								{% if photoSplit[3] is same as("tribu_g") %}
									<h6>{{ key }}</h6>
									<div class="col-lg-4 col-md-12 mb-4 mb-lg-0 galer" onclick="openGalleriesPhotoTribuT(this)">
										<img src="{{ item }}" class="w-100 shadow-1-strong mb-4 galer" alt="Boat on Calm Water"/>
									</div>
								{% endif %}
					{% endif %}
					
				{% endfor %}
				
				{% endfor %}

                      </div>
                    </div>
                    <div class="content-album-tomm-js d-none" data-status="gal-album-g">
                      <div class="row photo-album-t-tomm-js album-tomm-js">

						<div class="row insert-album-g-tomm-js">
							<button type="button" class="btn btn-light create-album"  data-bs-toggle="modal" data-bs-target="#createAlbumTribuG">
								<i class="fa-solid fa-plus"></i>
							</button>
						</div>
                      </div>
                    </div>
                  </div>
                </div>
				{# <div class="column-pg-cmz" >  #}
				
				
				{# </div> #}
			{# {% endfor %} #}
		</div>

		<!-- Gallery -->
	</div>
	<div id="modalZoom" class="modalZoom">
		<span class="closeZoom">&times;</span>
		<img class="modalZoom-content" id="imgFullSecreen">
					{# <div id="captionZoom"></div> #}
	</div>
</div>

{# modale createAlbumTribuT #}
<div class="modal" tabindex="-1" id="createAlbumTribuG">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Création de votre album</h5>
				<button type="button" class="btn-close btn-close-creer-album-tomm-js" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<div class="container text-center">
					<i class="fas fa-question-circle fs-1 text-info"></i><br>
					<input type="text" class="input-album value-name-album-g-tomm-js" placeholder="Nom de votre album">
					<div class="container mb-4 mt-5 content_btns_nanta_js add_attribut_tomm_js">
						{# data-bs-toggle="modal" data-bs-target="#selectAddAlbum" #}
						<button type="button" id="creation-album-g" class="btn btn-primary mt-1 creation-album-tribu-g-tomm-js" onclick="createAlbumTribuG()"></i>
						Créer une album</button>
					</div>
				</div>

			</div>
		</div> 
	</div>
</div>

{# modale selectAddAlbum #}
<div class="modal" tabindex="-1" id="selectAddAlbumG"> 
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Séléctionner les photos</h5>
				<button type="button" class="btn-close btn-close-tomm-js" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<div class="container text-center">
					<div class="gallery-container">
						<div>
							<span class="h2">Vos photos</span>
						</div>
						<div id="gallery">
							<div class="row all-galeri-to-album-tomm-js"></div>
						</div>
					</div>
					<div class="container mb-4 mt-5 content_btns_nanta_js add_attribut_tomm_js">
						<button type="button" id="copye-album" class="btn btn-primary mt-1 copye-album-tribu-g-tomm-js" disabled></i>
						Ajoutez dans l'album</button>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>


{# modale selectAddAlbum #}
<div class="modal" tabindex="-1" id="selectModifAlbumG">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Modifier les photos</h5>
				<button type="button" class="btn-close btn-close-delet-tomm-js" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<div class="container text-center">
					<div class="gallery-container">
						<div>
							<span class="h2">Vos photos</span>
						</div>
						<div id="gallery">
							<div class="row all-galeri-modif-album-tomm-js"></div>
						</div>
					</div>
					<div class="container mb-4 mt-5 content_btns_nanta_js add_attribut_tomm_js">
						<button type="button" id="supr-album" class="btn btn-danger mt-1 delete-album-tribu-g-tomm-js" disabled >
							Suprimer dans l'album
						</button>
						{# <button type="button" id="modif-album" class="btn btn-primary mt-1 modif-album-tribu-g-tomm-js" disabled>
							Changer l'album
						</button> #}
				</div>
			</div>

		</div>
	</div>
</div></div>


