<div class="content_photos_js_jheo" style="width:71%">
	<div class="card p-3">
		<!-- Gallery -->
		<div>
			<div class="alert alert-success" role="alert" style="display:none;" id="success_upload">
				Photo télechargé avec succès!
			</div>

			<span class="h4">Les photos de la tribu-G</span>

			{# <label class="input-file text-center float-end" style="height:40px;background-color:#0D6EFD;padding:10px;border-radius:5px;color:white;cursor:pointer;">
				<i class="bi bi-camera-fill"></i>
				Importer
				<input onchange="loadFile(event)" type="file" name="photo" style="display:none;">
				<img src="" alt="" id="photo-file" class="w-100" style="display:none;">
			</label> #}
		</div>
{# id="gallery" #}
		<div class="row mt-2" style="width:100%" >
				
				{# <div class="column-pg-cmz" >  #}
				{% for single_photo in photos %}
					
					{% if single_photo.photo %}
					    <div class="col-lg-3 col-md-4 col-xs-6 col-sm-6 thumb text-center">
							<a href="#" class="fancybox" rel="ligthbox">
								<img src={{ single_photo.photo}} class="zoom img-fluid " alt="Image" style="width:100%"/>
							</a>
						</div>
						

					{% endif %}
					
				{% endfor %}
				
				{# </div> #}
			{# {% endfor %} #}
		</div>

		<!-- Gallery -->
	</div>
	<div id="modalZoom" class="modalZoom">
		<span class="closeZoom">&times;</span>
		<img class="modalZoom-content" id="imgFullSecreen">
					{# <div id="captionZoom"></div> #}
	</div>
</div>
