<div class="content_list_p_tG">
    <div class="card mb-2">
        <div class="card-header">
            <h4>Restaurant pastillé dans la tribu G</h4>
        </div>
        <div class="card-body" style="overflow-x:auto;">
            <table class="table table-responsive">
                <thead>
                    <tr>
                        <th scope="col">Nom de restaurant</th>
                        <th scope="col">Note</th>
                        <th scope="col">Avis</th>
                        <th scope="col">Actions</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="restaurant-tg-elie-js">
                    
                </tbody>
            </table>
        </div>
    </div>
</div>