body{
    background-color: #f4f5f9;
}
.sous-pdp img{
    width: 50px;
    clip-path: ellipse(33% 50%);
}

.icon-recherche {
    padding-left: 25px;
    background: url("https://static.thenounproject.com/png/101791-200.png") no-repeat left;
    background-size: 20px;
    border-radius: 20px;
    border: #000 2px solid;
    height: 30px;
    width: 190px;
    margin-left: 90px;
}

.content_chargement{
    display: block;
    width: 50%;
    height: 50px;
    text-align: center;
}



.content_left_menu_account {
    display: block;
    width: 22%;
    height: 100vh; 
    overflow: scroll;
}

.content_right_actualite{
    display: block;
    width: 78%;
    /* height: 100vh; */
    /* overflow-y: scroll; */
    overflow-x: hidden;
    
    position: absolute;
    right: 0;
    top: 78px;
    padding: 15px;

}

.content_right_actualite-g {
    display: block;
    width: 78%;
    /* height: 100vh; */
    /* overflow-y: scroll; */
    overflow-x: hidden;

    position: absolute;
    right: 0;
    top: 40px;
    padding-top: 15px;

}

.content_right_dashboard_sp {
    display: block;
    width: 78%;
    float: right;
    /* overflow: scroll; */
    padding: 15px;
    position: absolute;
    right: 0;
    top: 75px;
}

.content_right_profil{
    display: block;
    width: 78%;
    overflow: scroll;
    
    position: absolute;
    right: 0;
    top: 110px;
}



.account-profils img{
    width: 70px;
}

.account-profils h4{
    font-size: 12pt;
}

.account-profils p {
    font-size: 8pt;
}

.content_global {
    display: flex;
    justify-content: right;
    height: 100%;
    overflow: hidden;
}

.right_content {
    display: block;
    width: 85vw;
    /* width: 78%; */
    position: relative;
    height: 100%;
}

.card-apropos-admin .card{
    display: block;
    height: 100%;
    /* height: auto; */
}

.card-pub{
    display: block;
    /* width: 73vw; */
    /* margin-left: 160px; */
}

.card-actif{
    width: 200px;
    height: 70vh;
    margin-top: 150px;
    margin-left: 60px;
}

.card-actif .icon-actif{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgb(10, 255, 112);
    margin: 10px 20px;
    
}

.pdp-actif img{
    width: 40px;
    clip-path: ellipse(33% 50%);
}

.card-hover{
    z-index: 12;
    width: 270px;
    height: 150px;
    box-shadow: 5px 5px 5px rgb(107, 107, 107);
}

.col-nom{
    margin-top: 10px;

}

.img-profile img {
    width: 120px;
    clip-path: ellipse(33% 50%);
    margin-top: 5px;
    margin-left: -20px;
}

.chat{
    margin-left: 780px;
    margin-top: -250px;
}

.toast{
    height: 450px;
    position: fixed;
    top: 29%;
    left:  58%;
}

.toast-header img{
    width: 50px;
    clip-path: ellipse(33% 50%);
}

.imput-chat-content{
    background-color: #fff;
    box-shadow: 0 0 2px 0 rgb(107, 107, 107);
    height: 50px;
}

.imput-chat{
    margin-top: 310px;
    
}

/* .imput-chat .form-control{
    width: 150px;
    border-radius: 50px;
} */

.icon-envoyer {
    padding-left: 25px;
    /* background: url(../../image/icon-envoyer.png) no-repeat right; */
    background-size: 30px;
    border-radius: 20px;
    border: #ccc 2px solid;
    height: 30px;
    width: 350px; 
    /* margin-left: 70px; */
}

.tous_marquer_comme_lu{
    display: block !important;
    text-align: center;
}



.bi-file-earmark-plus {
    margin-left: 10px;
}

/* .fa-solid{
    color: #0084ff;
} */
.fa-star {
    color: #000 ;
}
.fa-solid-nav{
    color: #000;
    font-size: 12pt;
    margin-right: 5px;
    /* margin-top: 11px; */
}

.icon-nav-left img{
    margin-left: -5px
}

.not_autorised{
    cursor: not-allowed;
}

.row-js{
    width: 350px;
    clear: both;
    /* position: fixed; */
    top: 94%;
    left: 58%;
}

.row-js .fa-file-import{
    width: 10%;
    float: left; 
    margin-top: 15px;
    z-index: 2;
}

.row-js .fa-file-import input{
    height: 100%;
    display: none;
    z-index: 1;
}

.row-js .text-chat input{
    width: 100%;
    
}

div.row-js > div.text-chat.down{
    width: 70%;
    float: left;
   
}

div.row-js>div.text-chat.up{
    width: 70%;
    height: 120px;
    float: left;
    margin-top: -85px;
    border: #f0f2f5 3px solid;
    border-radius: 10px;
    background-color: #f0f2f5;
}

div.row-js>div.text-chat.up input{
    margin-top: 6px;
    
}

div.row-js>div.text-chat.up i{
    margin-top: 25px;
   transform: translateX(20px);
}

div.row-js>div.text-chat.up .icon-upload-f{
    width: 65px;
    height: 50px;
    background-color: #fff;
    border-radius: 5px;
    float: left;

}
div.row-js>div.text-chat.up .attachement {
  width: 100%;
    clear: both;
} 
.img-card{
    float: left;
    margin-top: -12px;
}
div.row-js>div.text-chat.up img{
    margin-left: 20px;
    margin-top: 10px;
}


.row-js .fa-paper-plane{
    width: 10%;
    float: right;
    margin-top: 15px;
    
}

.upload-img{
    width: 100%;
    height: 75px;
    overflow-x: scroll;
    
}


/* dropdown navbar */
.icons-pdp .nav-icon{
    width: 25px;
    margin-top: 7px;
}

.message .dropdown-menu{
    width: 350px;
    min-height: 250px;
    max-height: 80vh;
    margin-left: -160px;
    overflow-y: scroll;
}

.message .dropdown-toggle::after {
    display: none;
}

.notification .dropdown-menu {
    width: 350px;
    margin-left: -200px;
    max-height: 70vh;
    overflow: scroll;
}

.notification .dropdown-toggle::after {
    display: none;
}

.menu-account-pdp .dropdown-menu{
    margin-left: -100px;
    
}

.dropdown{
    -o-appearance: none;
   -ms-appearance: none;
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
}

.na-text-right{
    text-decoration: none;
    color: #000000a6;
    padding-right: 10px;
}
.na-text-right:hover{
    color: black;
    background-color: #d8d8f1;
    border-radius: 0.25rem!important;
}
.na-ul-right{
    list-style-type: none;
}

.na-li-right{
    padding: auto;
}

#setting_profil_consumer, #setting_profil_supplier, #change_password{
    padding-left: 5%;
    padding-right: 5%;
    font-size: 12px;
}

#setting_profil_consumer div label, #setting_profil_supplier div label, #change_password div label{
    font-weight: bold;
}

#setting_profil_consumer div input, #setting_profil_supplier div input, #change_password div input{
    font-size: 12px;
}

.securityForm{
    font-size: 12px;
}

.securityForm div div input{
    min-height: 30px;
    padding-left: 10px;
}

.recherche-navbar-account input {
    width: 300px;
    height: 40px;
}

.recherche-navbar-account .btn-submit {
    background: linear-gradient(to right, #45f58d, #3bfbe4);
    border: none;
    width: 50px;
}

.recherche-navbar-account .btn-submit i{
    color: #fff;
}

.account-bar-de-recherche {
    display: flex;
    /* width: 100%; */
    /* justify-content: end; */
    font-weight: bolder;
    margin-left: 250px;
}

.content_notification, .content_message_nav_bar{
    position: relative;
}

.badge_notification, .badge_message{
    position: absolute;
    top: 0;
    right:0;
}

.nav-link{
    cursor: pointer;
}

.badge_notification, .badge_message{
    background-color: red;
    height: 20px;
    width: 20px;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.badge_notification span, .badge_message span{
    color: white;
    font-weight: bolder;
    font-size: 0.8rem;
}

.content_global_super_admin {
    display: flex;
    justify-content: center;
    /* height: 100%; */
    height: auto !important;
    /* overflow-y: scroll; */
    overflow-x: hidden;
}

thead > tr{
    border-bottom: 2px;
}

/* .table-list-membre{
    width: 70%;
    margin-left: 250px;
} */

.table-list-apropos{
    /* width: 70%; */
}

.card-apropos-admin{
    display: block;
    width: 90%;
    /* height: 555px; */
    /* margin-left: 300px; */
}

.card-apropos-admin .fa-solid-admin{
    font-size: 30pt;
}

.card-apropos-admin-tribut{
    /* width: 98%; */
    height: 350px;
    margin-top: 20px;
}

.card-tribut{
    width: 50%;
    /* margin-left: 10px; */
    /* height: 430px; */
}

.card-categoerie{
    display: block;
    height: auto !important;
}

.card-categoerie .table{
    width: 95%;
    margin-left: 20px;
    margin-right: 20px;
}

.card_notification, .card_message{
    font-size: 0.8rem;
}

.back_gray{
    background-color: lightgray;
}

.border_gray{
    border: 1px solid lightgray;
}

.bi-heart-fill{
    color:red;
}

.show_single_message_popup{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}

.show_single_message_popup img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-right: 10px;
}
.souri-non-utilise{
    cursor: not-allowed;
}

.list_mais_attribut{
    margin-left: 430px;
}

.list_mais_attribut .card-attr-ferme{
    width: 180px;
    height: auto;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(163, 161, 161, 0.2);
}

.list_mais_attribut .card-attr-ferme .card-body {
    padding-top: 7px;
    padding-left: 7px;

}
.list_mais_attribut .card-attr-ferme a{
    text-decoration: none;
    color: #000;
   
}
#swal2-title{
    color: red;
}


  
  ul#navBarTribu li.listNavBarTribu {
    float: left;
  }
  
  ul#navBarTribu li.listNavBarTribu a{
    display: block;
    color: #0D6EFD;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  ul#navBarTribu li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  ul#navBarTribu li.listNavBarTribu a:hover:not(.active){
    background-color: #0D6EFD;
    color: white;
  }
  
  ul#navBarTribu li a.active {
    background-color: #0D6EFD;
  }

  ul#dropdownNavBarTribu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }

  ul#dropdownNavBarTribu > li:nth-child(2) > a{
    background-color: #04AA6D;
  }

  ul#dropdownNavBarTribu > li:nth-child(1) > a:hover{
        color: black;
  }

  ul#dropdownNavBarTribu > li:nth-child() > a:hover{
    color: green;
    background-color: whitesmoke;
}


/******radio check******/
           
.switch-radio {
  position: relative;
  height: 26px;
  width: 81px;
  margin: 20px auto;
  background: rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3),
    0 1px rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
}

.switch-radio-label {
  position: relative;
  z-index: 2;
  float: left;
  width: 40px;
  line-height: 26px;
  font-size: 11px;
  color: rgba(255, 255, 255, 0.35);
  text-align: center;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.45);
  cursor: pointer;
}
.switch-radio-label:active {
  font-weight: bold;
}

.switch-radio-label-off {
  padding-left: 2px;
}

.switch-radio-label-on {
  padding-right: 2px;
}

.switch-radio-input {
  display: none;
}
.switch-radio-input:checked + .switch-radio-label {
  font-weight: bold;
  color: rgba(0, 0, 0, 0.65);
  text-shadow: 0 1px rgba(255, 255, 255, 0.25);
  -webkit-transition: 0.15s ease-out;
  -moz-transition: 0.15s ease-out;
  -ms-transition: 0.15s ease-out;
  -o-transition: 0.15s ease-out;
  transition: 0.15s ease-out;
  -webkit-transition-property: color, text-shadow;
  -moz-transition-property: color, text-shadow;
  -ms-transition-property: color, text-shadow;
  -o-transition-property: color, text-shadow;
  transition-property: color, text-shadow;
}
.switch-radio-input:checked + .switch-radio-label-on ~ .switch-radio-selection {
  left: 40px;
  /* Note: left: 50%; doesn't transition in WebKit */
}

.switch-radio-selection {
  position: absolute;
  z-index: 1;
  top: 2px;
  left: 2px;
  display: block;
  width: 40px;
  height: 22px;
  border-radius: 3px;
  background-color: #65bd63;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, #9dd993),
    color-stop(100%, #65bd63)
  );
  background-image: -webkit-linear-gradient(top, #9dd993, #65bd63);
  background-image: -moz-linear-gradient(top, #9dd993, #65bd63);
  background-image: -ms-linear-gradient(top, #9dd993, #65bd63);
  background-image: -o-linear-gradient(top, #9dd993, #65bd63);
  background-image: linear-gradient(top, #9dd993, #65bd63);
  -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.5),
    0 0 2px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.5), 0 0 2px rgba(0, 0, 0, 0.2);
  -webkit-transition: left 0.15s ease-out;
  -moz-transition: left 0.15s ease-out;
  -ms-transition: left 0.15s ease-out;
  -o-transition: left 0.15s ease-out;
  transition: left 0.15s ease-out;
}


.card-setting-validation-fondateur{
    margin: 50px auto 0 auto;
    padding-left: 20px;
    width: 750px;
    height: 150px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgba(148, 147, 147,0.5);
}

.card-list-publication-fondateur {
    margin: 50px auto 0 auto;
    padding: 20px 20px 0 20px;
    width: 750px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgba(148, 147, 147, 0.5);
}

.card-list-publication-fondateur .card{
    height: 50px;
    margin-bottom: 20px;
}

.card-list-publication-fondateur  img{
    clip-path: ellipse(40% 50%);
    width: 50px;
}

.card-list-publication-fondateur .title-nom span{
    font-size: 10pt;
    font-style: italic;
    color: rgb(138, 137, 137);
}

.card-list-publication-fondateur .reaction-lign-1{
    width: 90%;
    margin: 0 auto 0 auto;
}

.card-list-publication-fondateur .reaction-lign-2 {
    width: 90%;
    margin: 20px auto 20px auto;
}

.card-list-publication-fondateur .reaction{
    margin-left: 125px;
    margin-top: 10px;
}

.container-invitation{
    margin-left: 320px;
    /* margin-left: 350px; */
    margin-top: 130px;

    /* background: lightgrey; */
    background: transparent;
    font-family: tahoma;
    font-size: 12pt;
    color: #333;
    height: 80vh;
    width: 77%;
}
#profileImage {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: #512DA8;
    font-size: 35px;
    color: #fff;
    text-align: center;
    padding-top: 10%;
  }

#panneau {
    margin: 30px;
}

#panneau #onglets li {
    float: left;
    width: 170px;
    height: 30px;
    line-height: 30px;
    background: rgba(255, 255, 255, 0.4);
    text-align: center;
    margin-right: 5px;
    color: rgba(0, 0, 0, 0.6);
    list-style: none;
}

#panneau #onglets li.actif {
    background: white;
    color: black;

}

#panneau #contenus {}

#panneau #contenus li {
    /*Je défini les propriétés communes 
à ts les contenus*/
    background: white;
    width: 920px;
    padding: 20px;

    /*et je les masque*/
    display: none;
}

#panneau #contenus li.actif {

    /* j'affiche uniquement le li de class actif */
    display: block;
}

/***** HACKS CSS *******/

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

.send_requesting:active{
    transform:scale(.98)
}
.disabled_notif_success{

    transform: translateX(-25%);
    opacity: 0;
    transition: 2s ease-in-out;
}

.succes_message{
    background-color: #277447;
    color: #fff;
    width: 200px;
    height: 50px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgba(104, 102, 102, 0.3);
    margin: -612px 0 0px 943px;
    padding: 13px 20px 20px 20px;
}

.custom-flash-publication{
    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;
    margin: 10px 15px;
    border-radius: 5px;
}




.content_cc_css_jheo{
    display: block;
    position: relative;
}

.cc_css_jheo {
    display: block;
    position: absolute !important;
    top: 23px;
    right: 0px;
}

.content_chip{
    display: block;
    margin-top: 10px;
}

.content_chip .chip{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: gray;
    border-radius: 14px;
    margin: 5px;
    padding: 5px 10px;
    max-width:50%;
    color: black;;
}

.content_chip .chip i{
   cursor: pointer;
}

.toast {
    height: 0 !important;
    position: fixed !important;
    top: 64% !important;
    left: 29% !important;
}

.input-textarea {
    width: 250px;
    height: 24px;
    background-color: #ccc;
    border: 1px solid #000;
}



.avatar-account-fondateur img{
    width:50px;
    height:50px;
    border-radius: 50%;
}

.modal-commet-tribut{
    height: 695px !important;
    overflow-y: scroll;
    overflow-x: hidden;
}

.card-comment{
    background-color: #ffffff;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    padding-left: 15px;
    border: none !important;
}

.card-comment h4{
    color: #0A0AFE;
}

.back-tribu-t{
    background-color: #fff;
    height: 100vh;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.back-tribu-t .avatar-tribu{
    width: 35px;
    height: 35px;
    border-radius: 15px;
}

.back-tribu-t ul li{
    list-style: none;
}

.back-tribu-t .card-my-tribu-t a{
    color: #000;
    text-decoration: none;
}

.content_right_actualite .card-couverture-pub-tribu-t{
    width: 76vw;
    height: 28vh;
    margin-top: -215px;
    background-color: #fff;
    border-radius: 15px ;
    position: fixed;
    z-index: 5;
}

.content_right_actualite .card-couverture-pub-tribu-t .hr-pub{
    width: 50vw;
}

.content_right_actualite .card-couverture-pub-tribu-t .content-couverture{
    width: 76vw;
    height: 20vh;
    margin-top: 0;
    background-color: #8888;
    border-radius: 15px 15px 0 0;
}

.content_right_actualite .exprime-pub {
    margin-top: 235px;
    
}

.content_right_actualite .champ-pub {
    background-color: #fff; 
    width: 75vw;
    border-radius: 15px;
}

.content_right_actualite .card-couverture-pub-tribu-t .content-couverture .avatar-tribu-pub{
    margin: 30px;
}

.content_right_actualite .card-couverture-pub-tribu-t .content-couverture img{
    height: 100px;
    border-radius: 10px;
    margin-left: 15px;
    margin-top: 15px;
}

.content_right_actualite .card-couverture-pub-tribu-t .content-couverture nav{
    width: 35vw;
    border-radius: 3px;
}

.content_right_actualite .card-couverture-pub-tribu-t .nome-fontateur-tribu-t{
    background-color: #1aba12;
    margin-top: 12px;
}

.content_right_actualite .card-couverture-pub-tribu-t .nome-fontateur-tribu-t p{
    color: #fff;
    margin-left: 20px;
}

.content_right_actualite .pub-tribu-t{
    background-color: #fff;
    border-radius: 15px;
}

.content_right_actualite .pub-tribu-t .name-pub .mini-pdp{
    width: 40px;
    margin-left: 15px;
    margin-top: 15px;
    border-radius: 50%;
}

.content_right_actualite .pub-tribu-t .name-pub a {
    text-decoration: none;
    color: #000; 
    font-weight: 600;
}

.content_right_actualite .pub-tribu-t .name-pub .pub-content p{
    margin-left: 25px;
    margin-top: 15px;
    width: 50vw;
}

.content_right_actualite .pub-tribu-t .name-pub .pub-photo img{
    margin-left: 25px;
    margin-top: 15px;
    width: 45vw;
}

.content_right_actualite .pub-tribu-t .name-pub .content-comant-reaction p{
    text-align: right;
    margin-right: 15px;
}

.content_right_actualite .pub-tribu-t .name-pub  hr {
    width: 650px;
    margin-left: auto;
    margin-right: auto;
}

.content_right_actualite .apropos-tribu-t {
    background-color: #fff;
    border-radius: 15px;
    width: 24vw;
}

.content_right_actualite .apropos-tribu-t p{
    width: 22vw;
    /* text-align: justify; */
}

.input[type="file"] {
    opacity: 0;
    z-index: 1;
    cursor: pointer;
}

.label{
    position: absolute;
    top: -70px;
    left: 25px;
    display: block;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    border: #494949 5px solid;
    box-shadow: inset 0px 0px 3px rgba(0, 0, 0, 0.4);
    background: url('../../icon/NewIcons/avatar.svg');
    background-repeat: no-repeat;
    text-align: center;
}
.input[type="file"] {
    position: absolute;
    top: -5px;
    left: -5px;
    display: block;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    border: #494949 5px solid;
    box-shadow: inset 0px 0px 3px rgba(0, 0, 0, 0.4);
    background: url('../../icon/NewIcons/avatar.svg');
    background-repeat: no-repeat;
    text-align: center;
}

.label {
    position: relative;
}

.label-uplaod-tribu-t {
    position: absolute;
    top: 50px;
    left: 25px;
    width: 100px;
    font-size: 12pt;
    color: #494949;
    line-height: 1.5;
    /* z-index: -1; */
}

.ModalCreationTribuT .modal-body .mini-couvertur-tribu-t img{
    width: 468px;
    height: 200px;
}

.form-tribu-t{
    position: relative;
}

.nom-tribu-t{
    position: absolute;
    top: 225px;
    left: 180px;
    width: 300px;
    border: none;
    background-color: transparent;
    font-size: 14pt;
    font-weight: 700;
}

.description-tribu-t{
    position: absolute;
    top: 300px;
    left: 15px;
    width: 470px;
    height: 50px;
    border: none;
    resize: none;
    background-color: transparent;
    font-size: 12pt;
    /* text-align: center; */
}

.adress-tripu-t{
    width: 470px;
    height: 50px;
    border: none;
    background-color: transparent;
}

.btn-creer{
    width: 150px;
    height: 40px;
    background-color: #0A0AFE;
    border-radius: 5px;
    border: none;
    color: #fff;
    margin-left: 25px;
}

/* .adress-tripu-t,.description-tribu-t,.nom-tribu-t:focus{
    outline: none;
} */

#uploadImage img{
    position: absolute;
    top:0;
    left: 0;
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

.text-choisir{
    position: absolute;
    top: 420px;
    left: 28px;
    font-size: 8pt;
}

.pastille-resto{
    width: 76vw;
    height: 80px;
    background-color: #fff;
    border-radius: 15px;
}


.pastille-resto label {
    margin-left: 50px;
}

.pastille-resto .input-group {
    width: 75vw;
}

.rounded {
    border: none;
    height: 60px;
    border-radius: 0px 0px 0px 0px;
}

.pastil-resto{
    background-color: #fff;
    height: 150px;
    border-radius: 15px;
    margin-bottom: 15px;
}

.pastil-resto img{
    height: 150px; 
    border-radius: 15px;
}

.result_resto_chr .card-result-chr{
    background-color: #fff;
    width: 200px;
    /* height: 100%; */
    border-radius: 15px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
}

.result_resto_chr .card-result-chr .header-result h5{
    margin: 15px;
}

.result_resto_chr .card-result-chr .body-result {
    background-image: linear-gradient(to right bottom, #262626, #2e2e2e, #363636, #3e3e3e, #464646);
    color: #fff;
    margin-left: auto;
    margin-right: auto;
    width: 190px;
    height: 160px;
    border-radius: 15px;
}
.type-resto-ico{
    display: none;
}
.result_resto_chr .card-result-chr .body-result.active {
    
    height:auto
}

.result_resto_chr .card-result-chr .body-result p { 
    width: 180px;
    margin-left: auto;
    margin-right: auto;
    font-size: 10pt;
}

.result_resto_chr .card-result-chr .body-result i{ 
    font-size: 12pt;
    color: #fff;
    margin: 15px 15px 15px 15px;
}

.result_resto_chr .card-result-chr .body-result .type-resto{ 
    margin-left: 20px;
    cursor: pointer;
}

.result_resto_chr .card-result-chr .body-result .type-resto span{
    font-size: 10pt;
}

.result_resto_chr .card-result-chr .body-result .type-resto i{
    font-size: 10pt !important;
}

.result_resto_chr .card-result-chr .body-result .type-resto i.active{
    transform: rotate(90deg);
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}
.result_resto_chr .card-result-chr .footer-result button { 
    margin: 5px auto auto 56px;
}

.pull-right {
    float: right;
}

.pull-left {
    float: left;
}

#fbcomment {
    background: #fff;
    border: 1px solid #dddfe2;
    border-radius: 3px;
    color: #4b4f56;
    padding: 50px;
}

.header_comment {
    font-size: 14px;
    overflow: hidden;
    border-bottom: 1px solid #e9ebee;
    line-height: 25px;
    margin-bottom: 24px;
    padding: 10px 0;
}

.sort_title {
    color: #4b4f56;
}

.sort_by {
    background-color: #f5f6f7;
    color: #4b4f56;
    line-height: 22px;
    cursor: pointer;
    vertical-align: top;
    font-size: 12px;
    font-weight: bold;
    vertical-align: middle;
    padding: 4px;
    justify-content: center;
    border-radius: 2px;
    border: 1px solid #ccd0d5;
}





/* .container {
    width: 78vw;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
} */

.center-block {
    max-width: 45rem;
    margin: 0 auto;
}

.addonz-switch {
    z-index: 0;
    position: relative;
    display: inline-block;
}

.addonz-switch>.addonz-switch-input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    z-index: -1;
    position: absolute;
    right: 4px;
    top: -10px;
    display: block;
    margin: 0;
    background-color: #151a20;
    outline: none;
    transform: scale(1);
    pointer-events: none;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    opacity: 0;
    transition: opacity 0.3s, transform 0.2s;
}

.addonz-switch>.addonz-switch-inner {
    display: inline-block;
    width: 100%;
    font-weight: 500;
    cursor: pointer;
}

.addonz-switch>.addonz-switch-inner::before {
    content: "";
    float: right;
    display: inline-block;
    margin: 5px 0 5px 15px;
    border-radius: 7px;
    width: 36px;
    height: 14px;
    background-color: #adb5bd;
    vertical-align: top;
    transition: background-color 0.2s, opacity 0.2s;
}

.addonz-switch>.addonz-switch-inner::after {
    content: "";
    position: absolute;
    top: 2px;
    right: 1rem;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background-color: white;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    transition: background-color 0.2s, transform 0.2s;
}

.addonz-switch>.addonz-switch-input:checked {
    right: -14px;
    background-color: #1c939c;
}

.addonz-switch>.addonz-switch-input:checked+.addonz-switch-inner::before {
    background-color: #1c939c;
}

.addonz-switch>.addonz-switch-input:checked+.addonz-switch-inner::after {
    background-color: #2ab6c0;
    transform: translateX(16px);
}

.addonz-switch:hover>.addonz-switch-input {
    opacity: 0.08;
}

.addonz-switch:hover>.addonz-switch-input:focus {
    opacity: 0.18;
}

.addonz-switch>.addonz-switch-input:focus,
.addonz-switch>.addonz-switch-input.focus {
    opacity: 0.2;
}

.addonz-switch>.addonz-switch-input:active {
    opacity: 1;
    transform: scale(0);
    transition: transform 0s, opacity 0s;
}

.addonz-switch>.addonz-switch-input:active+.addonz-switch-inner::before {
    background-color: #1c939c;
}

.addonz-switch>.addonz-switch-input:checked:active+.addonz-switch-inner::before {
    background-color: #adb5bd;
}

.addonz-switch>.addonz-switch-input:disabled {
    opacity: 0;
}

.addonz-switch>.addonz-switch-input:disabled+.addonz-switch-inner {
    color: #2ab6c0;
    opacity: 0.7;
    cursor: default;
}

.addonz-switch>.addonz-switch-input:disabled+.addonz-switch-inner::before {
    background-color: rgba(52, 58, 64, 0.4) !important;
}

.addonz-switch>.addonz-switch-input:checked:disabled+.addonz-switch-inner::before {
    background-color: rgba(52, 58, 64, 0.4) !important;
}

.box-theme-option {
    padding: 1.5rem;
    background-color: rgba(255, 255, 255, 0.039);
    border-radius: 0.8rem;
    margin-bottom: 4rem;
}

.box-theme-option .box-theme-option-inner {
    display: flex;
    flex-direction: column;
}

.box-theme-option .addonz-form-inline {
    margin-top: -5px;
    margin-bottom: 2rem;
}

.badge-color {
    text-decoration: none;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 1rem;
    background-color: #f8f9fa;
    margin-bottom: 0.8rem;
}

.badge-color .badge-color-icon {
    visibility: hidden;
}

.badge-color.blue {
    background-color: var(--theme-color-blue);
}

.badge-color.red {
    background-color: var(--theme-color-red);
}

.badge-color.green {
    background-color: var(--theme-color-green);
}

.badge-color.yellow {
    background-color: var(--theme-color-yellow);
}

.badge-color.pink {
    background-color: var(--theme-color-pink);
}

.badge-color.cyan {
    background-color: var(--theme-color-cyan);
}

.badge-color.violet {
    background-color: var(--theme-color-violet);
}

.badge-color.active .badge-color-icon {
    visibility: visible;
}

.twtr-emoji {
    position: relative;
    vertical-align: middle;
    top: -0.1rem;
}

.collapse-repply,
.media-footer-option .icon-bubble-content,
.media-footer-option,
.media-comment-footer,
.ripple-grow,
.media-comment-body .media-comment-data-person {
    display: flex;
    align-items: center;
}

.text-muted {
    color: var(--muted-color);
}

.comment-wrapper {
    padding-top: 5rem;
}

.media-comment {
    display: flex;
    align-items: flex-start;
    background:  #f7f7f7; 
    border-radius: 10px;
    padding: 7px;
    margin-bottom: 15px;
}

.media-comment .avatar-content {
    margin-right: 1rem;
}

.media-comment .avatar-content .avatar {
    border-radius: 50%;
}

.media-comment-body {
    position: relative;
    display: inline-block;
    padding: 1.2rem;
    background-color: var(--media-comment-body-bg);
    border-radius: 0.8rem;
    padding-right: 3rem;
}

.media-comment-body .media-option {
    position: absolute;
    right: 0.7rem;
    top: 1rem;
    visibility: hidden;
}

.media-comment-body:hover .media-option {
    visibility: visible;
}

.media-comment-body .media-comment-data-person {
    margin-bottom: 0.3rem;
}

.media-comment-body .media-comment-text {
    color: var(--media-comment-body-color);
}

.media-comment-body .media-comment-name {
    color: var(--media-comment-name-color);
    font-size: 1rem;
    font-weight: 600;
    text-transform: inherit;
    line-height: 1.5;
    letter-spacing: 0.0178571em;
    margin-right: 1rem;
}

.ripple-grow {
    width: 2.5rem;
    height: 2.5rem;
    justify-content: center;
    border-radius: 50%;
    color: rgba(0, 0, 0, 0.658) !important;
}

.ripple-grow:hover {
    background-color: rgba(0, 0, 0, 0.122);
    color: #000;
}

.media-comment-footer {
    margin-top: 0.6rem;
    margin-bottom: 1.2rem;
}

.media-footer-option {
    padding: 0 1rem 0 0;
    text-decoration: none;
    transition: all 0.3s;
    color: var(--body-color);
}

.media-footer-option .icon-bubble-content {
    transition: all 0.3s;
    justify-content: center;
    margin-right: 0.4rem;
    border-radius: 50%;
    width: 2.2rem;
    height: 2.2rem;
}

.media-footer-option.repply:hover {
    color: #03c1e2;
}

.media-footer-option.repply:hover .icon-bubble-content {
    background-color: rgba(0, 156, 184, 0.233);
}

.media-footer-option.like:hover {
    color: #cd0aa9;
}

.media-footer-option.like:hover .icon-bubble-content {
    background-color: rgba(215, 9, 178, 0.169);
}

.media-footer-option.share:hover {
    color: #009402;
}

.media-footer-option.share:hover .icon-bubble-content {
    background-color: rgba(0, 179, 3, 0.164);
}

.collapse-repply {
    margin-bottom: 1.5rem;
}

.collapse-repply svg {
    transition: all 0.3s;
    transform: rotate(-180deg);
}

.collapse-repply.active svg {
    transform: rotate(0deg);
}

.loading-content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem 0;
    margin-bottom: 5rem;
}

.loading-content path {
    fill: var(--body-color);
}

/* a,
a:link {
    color: var(--body-color);
    text-decoration: none;
    transition: 0.3s linear;
} */

a:hover {
    color: var(--body-color-hover);
}

a:focus {
    outline: none;
}

.commentair-tribu-t{
    width: 23vw;
    height: 40px;
    border-radius: 20px;
    border: 2px solid #3f3f3f;
    padding-left: 15px;
}
.btn-envoyer-comment-tribu-t i{
    color: #0A0AFE;
    font-size: 16pt;
}

.btn-envoyer-comment-tribu-t:focus{
    outline: green solid 3px;
}



.action-container .like{
    margin-left: 25%;
    margin-right: 50%;
}

#list-publicatiotion-tribu-t .modal .modal-content{
    height: 90vh !important;
}
#list-publicatiotion-tribu-t .center-block{
    height: 65vh;
    overflow-y: scroll;
    overflow-x: hidden;
} 

#list-publicatiotion-tribu-t .voir-plus{
    cursor: pointer;
}

#list-publicatiotion-tribu-t .voir-plus:hover { 
    border-bottom: 1px solid #000;
}

.card-partisons {
    background-color: #fff;
    box-shadow: 2px 3px 24px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    width: 750px;
    height: 150px;
    margin-top: 15px;
    margin-left: 15px;
}

.partisons-pdp {
    margin-left: -15px;
}

.partisons-pdp img {
    height: 150px;
    border-radius: 10px 0px 0px 10px;
}

.partisons-text h4 {
    color: #39007C;
}

.partisons-text p {
    color: #9b9a9a;
    font-size: 10pt;
}

.partisons-text h4 span{
    text-transform: uppercase;
}

.card-tribu-g{
    width: 100%;
    background-color: #C0C0C0;
    border-radius: 15px;
    margin-left: 0;
}

.card-tribu-g .nav-tribu-g{
    background-color: #fff;
    border-radius: 0 0 15px 15px;
}

.publication-tribu-g{
    margin-left: 0;
    height: 130px;
}

.card-appropos-g{
    width: 100%;
    height: 150px;
    padding: 15px;
    background-color: #fff;
    border-radius: 15px;
}

.card-pub-g{
    width: 100%;
    padding: 15px;
    background-color: #fff;
    border-radius: 15px;
}

.content_bloc_js_jheo{
    margin: 0;
}

.hr-g {
    width: 650px;
    margin-left: auto;
    margin-right: auto;
}
.content_left_menu_account{
    background-color: #fff;
}

.position_sticky{
    display: block;
    position: sticky;
    top:50px;
}

.content_chargement_publication{
    text-align: center;
}

.card_entete{
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.btn_actualise{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 25px;
}

.hidden_actualise{
    opacity:0;
}

.btn_actulise_annimation{
    animation-duration: 0.7s;
    animation-name: slideOut;
}

.spinner_custom{
    width: 15px;
    height: 15px;
    margin-right: 5px;
}
.text_mini{
    font-size: 0.8rem;
    font-weight: bold;
}

@keyframes slideOut {
    0% {
        top: 0%;
    }
    100% {
        top: 20%;
    }
}