.content_nav_top {
    /* margin-left: 14vw; */
    z-index: 2;
}
.content_global {
    height: 100%;
}

main {
 top: unset;    
 height: 90vh;
}

.right_content{
    background: rgba(0,54,246,0);
    background: linear-gradient(189deg,rgba(0,54,246,0) 10%, rgba(0,111,255,0.64) 80%);
    background: -webkit-linear-gradient(189deg,rgba(0,54,246,0) 10%, rgba(0,111,255,0.64) 80%);
    background: -moz-linear-gradient(189deg,rgba(0,54,246,0) 10%, rgba(0,111,255,0.64) 80%);
    width: 100%;
    z-index: 1;
    height: 100vh;
}

.content_form{
    display: block;
    border-radius: 15px;
    padding : 25px;

    background: rgba(0,54,246,0);
    background: linear-gradient(88deg,rgba(0,54,246,0) 10%, #cdcdcd 80%);
    background: -webkit-linear-gradient(88deg,rgba(0,54,246,0) 10%, #cdcdcd 80%);
    background: -moz-linear-gradient(88deg,rgba(0,54,246,0) 10%, #cdcdcd 80%);
}

.user_icon{
    display: block;
    width : 100%;
}

.user_icon img{
    display: block;
    width : 50%;
    margin: 0 auto;
}
.user_icon_signing img{
    display: block;
    width : 24%;
    margin: 0 auto;
}

.btn_submit{
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 7px;
    padding: 14px 23px;
    border: none;

    background: rgba(0,54,246,0);
    background: linear-gradient(332deg,rgba(0,54,246,0) 10%, rgba(0,111,255,0.64) 80%);
    background: -webkit-linear-gradient(332deg,rgba(0,54,246,0) 10%, rgba(0,111,255,0.64) 80%);
    background: -moz-linear-gradient(332deg,rgba(0,54,246,0) 10%, rgba(0,111,255,0.64) 80%);

}

.resend_email{
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}
 .hide-flash{
    transform: translateX(-20%);
    opacity: 0;
    transition:  2s ease-in-out;
}

.custom-flash{
    position: relative;
    z-index: 5;
    width: 365px;
    height: auto;
    margin: -664px auto 50px auto;
    padding-left: 20px;
    border-radius: 10px;
    box-shadow:10px 10px 10px rgba(158, 158, 158 , 0.9);

}

.custom-flash h4{
    margin-bottom: -5px;
}

.custom-flash .fa-danjer{
    font-size: 22pt;
    margin-top: 12px;
}

.hide-flash-inscription {
    transform: translateX(-20%);
    opacity: 0;
    transition: 2s ease-in-out;
}

.custom-flash-inscription {
    position: relative;
    z-index: 5;
    width: 365px;
    height: auto;
    margin: 18px auto -78px auto;
    padding-left: 20px;
    padding-top: 20px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgba(158, 158, 158, 0.9);

    z-index: 1000;

}

.custom-flash-inscription h4 {
    margin-bottom: -5px;
}

.custom-flash-inscription .fa-danjer {
    font-size: 22pt;
    margin-top: 12px;
}

.possition-password{
    margin-top: -50px;
}

.password-niveau {
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 50px;
    width: 297px;
}

.password-niveau .progress{
    height: 5px !important;
}

.password-niveau .progress-bar{

    /* width: 50%; */
    height: 5px;
}

.password-niveau .i-1 i{
    font-size: 22pt;
}

.password-niveau .i-2 i {
    font-size: 22pt;
}

.password-niveau .i-3 i {
    font-size: 22pt;
}

.font-avertismen{
    font-size: 8pt;
}


#form {
    margin: 100px auto;
    width: 530px;
    padding: 45px 30px 15px;
    position: relative;
    box-shadow: 5px 5px 25px rgba(0, 0, 0, .2);
    border-radius: 1px;
    background-color: #2c3e50;
    height: 450px;
    overflow: hidden;
    border-radius: 6px;
}

::-webkit-scrollbar {
    border-radius: 10px;
    width: 10px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    width: 10px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #808080;
}

.form input{
    /* background-color: transparent; */
    border: none;
    border-bottom: 1px solid #9e9e9e;
    border-radius: 0;
    outline: none;
    height: 3rem;
    width: 100%;
    font-size: 1rem;
    margin: 0 0 20px 0;
    padding: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}




#form #toggle-forms {
    position: absolute;
    top: 15px;
    right: 30px;
    border: 1px solid #3a4a5d;
    border-radius: 20px;
    overflow: hidden;
    z-index: 99;
}

#form #toggle-forms>button {
    border: none;
    background: none;
    background-color: #34495e;
    border: 1px solid #22303e;
    color: #FFF;
    float: left;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    padding: 2px 10px;
}

#form #toggle-forms>button:first-of-type {
    border-right: 0;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

#form #toggle-forms>button.active {
    background-color: #3AC334;
}

#form form h4 {
    text-transform: capitalize
}

.input-field label.active {
    color: #FFF !important;
    font-size: 1.1rem
}

#form form input:focus {
    border-bottom-color: dodgerblue !important;
}

#form .row>button {
    background-color: #3AC334;
}

input {
    color: black !important;
    padding-left: 15px !important;
}

#form form {
    padding: 45px 30px 15px;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #2c3e50;
    transition: all .3s linear;
    z-index: 2;
}

#form form:last-of-type {
    left: 100%;
}

#form.active form:first-of-type {
    left: -100% !important;
}

#form.active form:last-of-type {
    left: 0 !important;
}

@media (max-width: 767px) {
    #form {
        width: 290px !important;
    }
}

.animate {
    /* height: 100%; */
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;
}

.animate>li {
    position: absolute;
    height: 50px;
    width: 50px;
    top: 100%;
    left: 10px;
    background-color: rgba(255, 255, 255, .1);
    z-index: -1;
    overflow: hidden;
    animation: move 10s linear infinite;
}

.animate>li:nth-last-of-type(2) {
    left: 70px;
    animation-delay: 3.5s;
    height: 15px;
    width: 15px;
}

.scroll-inscription{
    overflow-y: scroll;
    overflow-x: hidden;
}

.animate>li:nth-last-of-type(3) {
    left: 140px;
    animation-delay: 3s;
}

.animate>li:nth-last-of-type(4) {
    left: 210px;
    animation-delay: 5.5s;
}

.animate>li:nth-last-of-type(5) {
    left: 280px;
    animation-delay: 1.8s;
    height: 65px;
    width: 65px;
}

.animate>li:nth-last-of-type(6) {
    left: 140px;
    animation-delay: 6.8s;
    height: 25px;
    width: 25px;
}

.animate>li:nth-last-of-type(7) {
    left: 280px;
    animation-delay: 5s;
    height: 35px;
    width: 35px;
}


@keyframes move {
    to {
        top: -50px;
        transform: rotate(360deg);
    }
}

.forgot {
    color: #fff;
}

.forgot:hover {
    text-decoration: underline;
    cursor: pointer;
}

.text-color-blanc {
    color: #fff;
}

.bg-blanc-auth {
    background-color: #f7f8f8;
    width: 100vw;
    height: 70px;
}

.content_global{
    margin-top: 0;
}

@media screen and (max-width: 375px) {
    .content_global {
      background-color: olive !important;
    }
    #navbarSupportedContent{
        margin-left: -30px;
    }
  }