*{
    user-select: none;
}

input[type="search"]{
    padding: 5px !important;
    padding-left: 10px!important;
    border-radius: 15px !important;
    outline: none;

}

.dataTables_filter{
    float: right;
}

.cta{
    text-align: end;
    display: flex;
}

.cta a{
    margin-right: 5px;
}