.content_image_msg{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.message_image_item{
    display: block;
    width: 145px;;
    height: 145px;
    border-radius: 5px !important;
}

.cta_profil_message{
    color: white !important
}