.navleft-detail {
    transform: translate(70vw, 15vh) !important;
}
.content_show_list_mobile svg{
    fill: #fff;
    background-color: #2343ac;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}