{% extends 'base.html.twig' %}

{% block title %}
	ConsoMyZone : Présence avec succès
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{asset('assets/css/account/account.css')}}">
	<link rel="stylesheet" href="{{asset('assets/css/account/agenda/agenda.css')}}">
{% endblock %}
{% block bootstrap %}
	
{% endblock %}


{% block javascripts %}
        
{% endblock %}

{% block body %}

    <div style="position: absolute; top: 50%; left: 50%;transform: translate(-50%, -50%);">

        <h1 style="color: #64b450; font-weight:bold; font-size: 24px; margin-bottom:5px;">Merci pour votre présence !</h1>

        <p>Visiter le site en cliquant <a href="http://">ici</a></p> 

    </div>

{% endblock %}