/* style="width:70px;height:70px; position: fixed;bottom: 0; right: 0; z-index:1003;background-color:transparent;" */

.content_chatbot{
    position: absolute;
    bottom: 56px;
    right: 28px;
    z-index: 1003;
}

.content_open_chat{
    background-color: #0d6efd;
    width:40px;
    height:40px;
    color:white;
    border-radius:8px;
    cursor:pointer;
}

.card_chatbot{
    background-color: white;
    border-radius: 20px;
    height: 100%;
}

.card_chatbot_header{
    display: block;
    height: 45px;
}

.card_chatbot_footer{

}