*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #e2e0e0 !important;
    overflow-x: hidden;
}

#Scrollbar::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #F5F5F5;
    border-radius: 10px;
}

#Scrollbar::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
}

#Scrollbar::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #FFF;
    background-image: -webkit-gradient(linear,
            40% 0%,
            75% 84%,
            from(#4D9C41),
            to(#19911D),
            color-stop(.6, #54DE5D))
}

/* **********navLeft************* */

.navleft {
    background-color: #fff !important;
    width: 25vw;
    height: 100vh;
    box-shadow: -5px -5px 15px #4d4d4d !important;
}

.navbar-light-left {
    background-color: #fff !important;
    width: 25vw;
}


.navbar-light-left .logo img{
    width: 15vw;
    /* margin-top: -600px; */
}

.navbar-light-left svg{
    fill: #1111FE;
}

.navbar-light-left svg:hover {
    fill: #28BE21;
}

.navleft .list-depart{
    margin-top: 100px;
    font-size: 10pt;
}

.navleft .list-depart span{
    font-size: 10pt;
    font-weight: 700;
}

.navleft .list-depart-all{
    height: 75vh;
    overflow-y: scroll;
}


.navleft .list-depart-all ul li{
    list-style: none;
    background-color: #e7e7e7;
    width: 18vw;
    height: 10vh;
    /* margin-left: -40px; */
    margin-left: -10px;
    margin-bottom: 20px;
    border-radius: 30px;
    box-shadow: -5px 10px 15px rgba(49, 49, 49, 0.3);
    font-size: 11pt;
}

.navleft .list-depart-all ul li h5{
  
    font-size: 12pt;
}

.navleft .list-depart-all ul li .container-depart{
    margin: auto auto auto auto;
}

.navleft .list-depart-all ul li .container-depart svg{
    fill: #28BE21;
    width: 5vw;
    height: 5vh;
}

.navleft .list-depart-all ul li .container-depart svg:active {
    fill: #000;
    transform: scale(0.8);
}

.navleft .list-depart-all ul li .container-depart svg:hover {
    fill: #000;
    transform: scale(1.2);
}

.mobile_box_shadow{
    box-shadow: -5px 10px 15px rgba(49, 49, 49, 0.3);
}

/* ***********specific_resto_navleft************** */
.navleft .list-depart-all-specific {
    height: 75vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

.navleft .list-depart-all-specific ul .card-list {
    list-style: none;
    background-color: #e7e7e7;
    width: 18vw;
    height: 20vh;
    /* margin-left: -40px; */
    margin-left: -10px;
    margin-bottom: 20px;
    border-radius: 40px;
    box-shadow: -5px 10px 15px rgba(49, 49, 49, 0.3);
    font-size: 11pt;
}
.navleft .list-depart-all-specific-station ul .card-list {
    height: 40vh !important;
}

.navleft .list-depart-all-specific ul li h5 {

    font-size: 12pt;
}

.navleft .list-depart-all-specific ul li .container-depart {
    margin: auto auto auto auto;
}

.navleft .list-depart-all-specific ul li .container-depart svg {
    fill: #28BE21;
    width: 5vw;
    height: 5vh;
    margin-left: -15px;
    margin-top: 15px;
}

.navleft .list-depart-all-specific ul li .container-depart svg:hover {
    fill: #000;
    width: 5.5vw;
    height: 5.5vh;
    margin-left: -15px;
    margin-top: 15px;
}

/* *************detail_reto_navleft***************** */

.navleft-detail{
    width: 25vw;
    /* height: 100vh; */
    /* box-shadow: -5px -5px 15px #4d4d4d !important; */
    transform: translate(28vw, 15vh);
    opacity: 1;
    transition: all 1.5s ease-out;
}

.list-depart-all-detail {
    width: 50vw;
    height: 75vh;
    /* overflow-y: scroll; */
    overflow-x: hidden;
    background-color: #fff;
    border-radius: 15px;

}

.hidden{
    display: none;
}

#close-detail{
    position: absolute;
    left: 40vh;
    top: 10px;
    fill: #1111FE;
}

#close-detail:hover {
    fill: #000;
}



#close-detail-tous-resto {
    position: absolute;
    left: 40vh;
    top: 10px;
    fill: #1111FE;
}

#close-detail-tous-resto:hover {
    fill: #000;
}

#close-detail-ferme {
    position: absolute;
    left: 40vh;
    top: 10px;
    fill: #1111FE;
}

#close-detail-ferme:hover {
    fill: #000;
}

#close-detail-home, #close-detail-station{
    position: absolute;
    top: 15px;
    fill: #1111FE;
    right: 5px;
}

#close-detail-home:hover ,#close-detail-station:hover {
    fill: #000;
}
/* ************NavBar************ */



.navbar-light-bar{
    background-color: #fff !important;
    width: 100vw;
    height: 10vh;
    box-shadow: -5px -5px 25px #4d4d4d !important;
}

.navbar-light-bar .open-navleft{
    fill: #28BE21;
}

.navbar-light-bar .open-navleft:hover {
    fill: #1111FE;
}

.navbar-light-bar .navbar-nav .icon-tous a svg {
    width: 50px;
    height: 50px;
    border: 2px solid #DF01D7 !important;
    border-radius: 15px;
    fill: #DF01D7;
}
.navbar-light-bar .navbar-nav .icon-tous a svg:active {
    transform: scale(0.5);
}

.navbar-light-bar .navbar-nav .icon-tous a svg:hover {
    width: 50px;
    height: 50px;
    border: 2px solid #DF01D7 !important;
    border-radius: 15PX;
    background-color: #DF01D7;
    fill: #fff !important;
    transform: scale(1.3);
}

.navbar-light-bar .navbar-nav .icon-ferme a svg{
    width: 50px;
    height: 50px;
    border: 2px solid #1111FE !important;
    border-radius: 15PX;
    fill: #1111FE;
}

.navbar-light-bar .navbar-nav .icon-ferme a svg:hover {
    width: 50px;
    height: 50px;
    border: 2px solid #1111FE !important;
    border-radius: 15PX;
    background-color: #1111FE;
    fill: #fff !important;
    transform: scale(1.3);
}

.navbar-light-bar .navbar-nav .icon-resto a svg {
    width: 50px;
    height: 50px;
    border: 2px solid #000 !important;
    border-radius: 15PX;
    fill: #000;
}

.navbar-light-bar .navbar-nav .icon-resto a:active {
    transform: scale(0.5);
}

.navbar-light-bar .navbar-nav .icon-resto a svg:hover {
    width: 50px;
    height: 50px;
    border: 2px solid #000 !important;
    border-radius: 15PX;
    background-color: #000;
    fill: #fff;
    transform: scale(1.3);
}

.navbar-light-bar .navbar-nav .icon-station a svg {
    width: 50px;
    height: 50px;
    border: 2px solid #28BE21 !important;
    border-radius: 15PX;
    fill: #28BE21;
}
.navbar-light-bar .navbar-nav .icon-station a svg:hover {
    width: 50px;
    height: 50px;
    border: 2px solid #28BE21 !important;
    border-radius: 15PX;
    background-color: #28BE21;
    fill: #fff;
    transform: scale(1.3);
}

.navbar-light-bar .navbar-nav .icon-recherche a svg {
    width: 50px;
    height: 50px;
    border: 2px solid #B40404 !important;
    border-radius: 15PX;
    fill: #B40404;
}

.navbar-light-bar .navbar-nav .icon-recherche a svg:hover {
    width: 50px;
    height: 50px;
    border: 2px solid #B40404 !important;
    border-radius: 15PX;
    background-color: #B40404;
    fill: #fff;
    transform: scale(1.3);
}

.navbar-light-bar .navbar-brand img{
        width: 15vw;
}

.navbar-light-bar .icon-connexion svg{
    fill: #000;
}

.navbar-light-bar .icon-connexion svg:hover {
    fill: #1111FE;
    transform: scale(1.3);
}

.recherche-modale .modal-content{
    width: 100%;
    height: 10vh;
    border-radius: 50px;
}

.recherche-modale .modal-content  .bar-de-recherche {
    display: flex;
    width: 90%;
    justify-content: end;
    font-weight: bolder;
    margin: auto auto;
}

.my-controller, .retoure{
    border: none !important;
}

.recherche-navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.recherche-modale .modal-content .bar-de-recherche {
    display: flex;
    width: 90%;
    margin: auto auto;
}

.recherche-modale .modal-content .bar-de-recherche .input-recherche-navbar {
    border-radius: 15px;
}

.recherche-modale .modal-content .bar-de-recherche  button {
    background: none;
    border: none;
}

.recherche-modale .modal-content .bar-de-recherche  button svg{
    fill: #B40404;
}

.recherche-modale .modal-content .bar-de-recherche button svg:hover {
    fill: #000;
}

.btn_retours svg{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    fill: #fff;
    background-color: #28BE21;
}

/* ***************Map**************** */

#map {
    width: 100vw;
    height: 100vh;
}

.leaflet-control-zoom.leaflet-bar.leaflet-control{
    margin-top: 100px;
    margin-left: 95vw;
}

/* NAV account  */

li.nav-item.avatar-account-pdp > a > img{
    width: 45px;
    height:45px;
}

.nav-item a{
    display: flex;
}

.link_type_menu{
    display: block;
    margin-left: 15px;
}

.content_left_menu {
    display: block;
    width: 16%;
    height: 100vh;
    width: 160px;
}

.navbar {
    box-shadow: 5px 5px 5px rgb(107 107 107 / 5%);
    background-color: white;
    padding-top : 0 !important;
    z-index: 10;
}

.nav-bar{
    margin-left: 15px;
}

.nav-link{
    display: flex;
    align-items: center
}

.content_entete_for_mobile{
    display: none;
}

.content_menu_open{
    display : none;
}

.content_left_menu{
    border-right: 1px solid gray;
    background-color: white;
}

.content_global{
    height: 100%;
}

.content_cart_map {
    display: block;
    width: 98%;
    margin: 0 auto;
    height: 95%;
    border-radius: 5px;
}


.right_content{
    display: block;
    width: 89%;
    position: relative;
    height : 100%;
    float: right;
}


.b-example-divider {
    display: flex;
    justify-content: center;
    padding-left: 10px;
}

.b-example-divider .fa-solid {
    cursor: pointer;
    font-size: 18pt;
    font-weight: bolder;
    margin-left: -56px;
    margin-top: 28px;
    margin-bottom: -57px;
}

.nav li{
    margin : 10px 0;
}

li a .station {
    /* width: 30px; */
    height: 23px;
}


/* .active{
    background-color : lightgray;
} */
.non_active{
    cursor: not-allowed !important;
}

.vertical-line {
    border-left: 1px solid #ccc;
    display: inline-block;
    height: 1080px;
    margin: 0 180px;
}

/* jheo: special for filter: checkbox and slider bar. DON'T CHANGE THIS. */
.bar-de-recherche{
    display : flex;
    width : 100%;
    justify-content:end;
    font-weight: bolder;
}

/* .content_filter_global{
    width: 86%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 10px;
    padding: 0 0 10px 0;
    margin-right: 15px;
} */

  
.content_description{
    display: block;
    width: 95%;
    margin: 5px auto;
    padding: 25px;
    height: 98%;
    background: white;
    box-shadow: 0px 2px 7px 0px black;
    overflow-y: auto;
    overflow-x: hidden;
    
    border-radius: 20px;

    /* Hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.content_description::-webkit-scrollbar {
    display: none;
}

.content_checkbox_filter{
    display: flex;
    justify-content: center;
    align-items: center;
}


.content_input_pass{
    position : relative;
}
.content_input_pass input{
    z-index: 5;
}
.content_input_pass i{
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 10;
}
.content_left_menu_account{
    z-index: 0 !important;
}

/* WORK TOMM */
.list-depart-all-detail-tous{
    position: absolute;
    width: 26vw !important;
    height: 71vh;
    z-index: 407;
}

.list-depart-all-detail-tous h4{
    font-size: 14pt;
}
