@media screen and (min-width:1000px) {
    .avatar-account img {
        transform: translate(-8px, 1px);
    }
    /* .leaflet-control-container{
        display: none ;
    } */

    .content_photos{
        width: 71%;
    }
    .leaflet-control-zoom{
        display: block !important;
    }

    .recherche-modale .modal-content {
        width: 40vw;
        height: 10vh;
    }

    .responsif-none-mobile {
        display: none !important;
    }

    ul#navBarTribu {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #fff;
    }

    /* ul.navBarTribu-t {
/* 
    ul.navBarTribu-t {
        border-radius: 15px !important;
    } */

    .bgPersonnalisee {
        border: none !important;
    }

    .bgPersonnalisee_tribut {
        background-image: linear-gradient(#888888 320px, #ffffff 0%);
        border: none !important;
        /* height: 350px !important; */
    }
    
    #profilTribu{
        height: 100px;
        border-radius: 10px;
    }

    .tribuT_form {
        margin-left: 10% !important;
    }

    .row_confidentiality {
        margin-left: 10% !important;
    }

    /* WORK TOMM */
    .responsif-none-pc {
        display: none !important;
    }

    .titre-invitation {
        margin-left: 10% !important;
    }

    .right_content.contentTribu {
        margin-left: 15% !important;
    }

    .change_photo_tribuG_js_jheo{
        font-size: 18pt;
        margin-top: 5px;
        cursor: pointer;
        background-position: 0px -130px;
        background-size: auto;
        width: 20px;
        height: 20px;
        background-repeat: no-repeat;
        display: inline-block;
    }
}

/* phone */

@media screen and (max-width:1000px) {

    *,
    *::before,
    *::after {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    
    }



    .hj-resto {
        margin-left: 0rem !important;
    }

    .close-resto-specific{
        margin-top: -25px;
        margin-left: 84vw;
    }

    .scroll-mobile{
        overflow-x: scroll;
        overflow-y: hidden;
    }

    .content_filter_dep {
        top: 170px !important;
        left: 119px !important;
    }

    .liste-depart-tomm{
        z-index: 401;
        position: absolute;
        top: 170px;
        left: 150px;
        height: 30px;
        border-radius: 15px;
        padding: 3px;
    }

    .content_right_actualite .exprime-pub {
        margin-top: 0px !important;
    }

    .btn-spec{
        position: absolute;
        top: 170px;
        left: 140px;
        z-index: 401;
        font-size: 8pt;
        width: 150px;
    }

    .marge-top-mobile-logo{
        margin-top: 200px;
    }

    .modal-content-mobile{
        height: 98vh;

    }

    .modal-body-mobile{
        height: 75vh;
        overflow-y: scroll;
    }

    .content-type-mobile{
        width: 100%;
        height: 75vh !important;
        z-index: 10401;
        margin-top: 160px;
    }

    .navbar-brand-setting-inscript-mobile  svg {
        position: absolute;
        top: 19px;
        left: 27px;
        z-index: 401;
    }

    .content_header_right_side{
        margin-top: 0 !important;
    }

    .content_legende{
        height: 80vh;
        margin-top: 151px;
        z-index: 10401;
    }

    /* .form-check{
        font-size: 6pt !important;
    } */
    .leaflet-control-layers-selector {
        top: 3px !important;
    }

    .title_right_side{
        font-size: 9pt !important;
    }

    .right_side_body .table thead{
        font-size: 9pt !important;
    }

    .content_start i{
        font-size: 9pt;
    }

    .font-point-6{
        font-size: 6pt !important;
    }

   

    .content_profil_image .profil_image{
        width: 30px !important;
        height: 30px !important;
    }

    .right_side_body .table tbody{
        font-size: 6pt !important;
    }

    .select_action_golf {
        font-size: 7pt !important;
        width: 20% !important;
        margin-top: -31px;
        padding: 3px;
        margin-left: 243px;
    }
    .icon_golf_legend {
        width: 20px !important;
        height: 0 !important;
    }

    .text-point-7{
        font-size: 7pt !important;
    }

    .span-btn-menu-tribut{
        width: 130px !important;
    }

    .span-btn-menu-en-lign{
        width: 215px !important;
    }

    .right_side_body {
        margin-top: 30px !important;
    }

    .right_side_body .form-check-input{
        margin-top: 8px;
    }

    .titre-tribu-t {
        font-size: 15pt;
        margin-top: 20px;
        color: #6D6DFE !important;
    }

    .descrp-tribu-t {
        margin-left: 131px !important;
        font-size: 9pt;
    }

    .swal2-popup{
        margin-top: -160px;
    }

    .navleft-mobile{
        background-color: #fff;
        width: 100vw;
        border-radius: 5px;
        height: 100vh;
        margin-top: 155px;
        box-shadow: 1px 1px 3px rgba(0, 0 ,0 , 0.2) !important;
        position: fixed;
        z-index: 10402;
    }

    #restoPastilleModal{
        z-index: 10401;
    }

    #staticBackdrop{
        z-index: 10405;
    }

    .scroll-mobile .navbar-nav .nav-item .nav-link{
        font-size: 9pt;
    }

    .logo-consomyzone-specific img {
        width: 45vw !important;
        margin-top: -30px;
        position: fixed;
        z-index: 20;
    }

    .cmz-left-container {
        margin-top: 0 !important; 
        margin-left: 0 !important;
    }
        
    /* .card-pub-actu img {
        width: 62vw;
    } */

    .content_box {
        height: 12%;
        width: 20%;
    }

    .content-nav-left{
        margin-top: 15px ;
        z-index: 1031 !important;
    }

    #list-depart-mobile {
        position: absolute;
        transition: all 2s ease-in-out !important;
        background-color: #fff;
        z-index: 407;
    }

    #list-depart-resto-mobile {
        position: absolute;
        transition: all 2s ease-in-out !important;
        background-color: #fff;
    }

    #list-arrand-resto {
        position: absolute;
        transition: all 2s ease-in-out !important;
        background-color: #fff;
        /* z-index: 407 !important; */
    }

    .apropos-tribu-t {
        height: 100% !important;
        max-width: 26.5rem !important;
    }

    .responsif-none {
        display: none !important;
    }

    .content_cart_map-respons {
        width: 100vw !important;
        height: 100vh !important;
        /* margin-top: 50px !important; */
    }

    /* WORK TOMM */
    .leaflet-verticalcenter {
        position: absolute;
        z-index: 1000;
        pointer-events: none;
        top: 50%;
        /* possible because the placeholder's parent is the map */
        transform: translateY(-50%);
        /* using the CSS3 Transform technique */
        padding-top: 10px;
    }

    .leaflet-verticalcenter.leaflet-right .leaflet-control {
        margin-bottom: 10px;
        width: 13vw;
        height: 8vh;
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 20px;
        box-shadow: 5px 15px 55px #6e6e6e;
    }

    .leaflet-verticalcenterl.leaflet-left {
        position: absolute;
        z-index: 1000;
        pointer-events: none;
        /* top: 50vh;
        /* possible because the placeholder's parent is the map */
        /* transform: translateY(-50%); */
        /* using the CSS3 Transform technique */
        /* padding-top: 10px; */
        background-color: #fff;
        width: 100vw;
        height: 100vh;
    }

    .leaflet-verticalcenterl.leaflet-left ul li {
        background-color: #ccc;
        border-radius: 25px;
        width: 90vw;
        height: 10vh;
        margin-top: 10px;
    }

    #map {
        width: 100vw;
        height: 100vh;
        /* margin-top: 50px !important; */
    }

    .horizontalmiddle-center {
        width: 50vw;
        height: 70vh;
    }

    .hide {
        display: none;
    }

    .leaflet-horizontalmiddle {
        height: 70vh;
        padding-left: 6vw;
        padding-top: 70vh;
    }

    .leaflet-horizontalmiddle .options-container {
        width: 88vw;
        height: 20vh;
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 40px;
        box-shadow: 5px 15px 55px #6e6e6e;
    }

    .leaflet-horizontalmiddle ul {
        display: flex;
    }

    .leaflet-horizontalmiddle ul li {
        list-style: none;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
        color: #fff;
    }



    .leaflet-horizontalmiddle li a {
        width: 50px;
        height: 50px;
        border: 2px solid #fff !important;
        border-radius: 50%;
    }

    .leaflet-horizontalmiddle .recherche:hover {
        width: 50px;
        height: 50px;
        border: 2px solid #C13B3B !important;
        background-color: #C13B3B;
        border-radius: 50%;
    }

    .leaflet-horizontalmiddle .ferme:hover {
        width: 50px;
        height: 50px;
        border: 2px solid #2343ac !important;
        background-color: #2343ac;
        border-radius: 50%;
    }

    .leaflet-horizontalmiddle .resto:hover {
        width: 50px;
        height: 50px;
        border: 2px solid #af37af !important;
        background-color: #af37af;
        border-radius: 50%;
    }

    .leaflet-horizontalmiddle .station:hover {
        width: 50px;
        height: 50px;
        border: 2px solid #40c456 !important;
        background-color: #40c456;
        border-radius: 50%;
    }

    .leaflet-horizontalmiddle .home {
        margin-left: 40vw;
        margin-top: 3vh;
    }

    .leaflet-horizontalmiddle .home-mobile {
        fill: #fff;
    }

    .leaflet-horizontalmiddle .home-mobile svg {
        margin-top: 5px;
    }

    .leaflet-horizontalmiddle .ferme svg {
        margin-top: -5px;
    }


    .leaflet-horizontalmiddle .home .retoure {
        background-color: transparent;
    }

    .swipe-me {

        transform: translateX(0vh);
    }

    .close {
        margin-left: 95vw;
        margin-top: 10px;
    }

    .close-ferme {
        margin-top: -40px;
        margin-left: 90vw;
        
    }
    
    .text-point-9{
        font-size: 9pt !important;
    }
    .text-point-10{
        font-size: 10pt !important;
    }
    .text-point-12{
        font-size: 12pt !important;
    }
    .swipe-me-reverse {

        transform: translateX(-50vh);
        opacity: 0
    }




    .content-mobil-resto {
        position: relative;
        z-index: 1400 !important;
        background-color: #fff;
        width: 100vw;
        height: 80vh;
        margin-top: 155px;
        padding-top: 25px;
        /* overflow-y: scroll !important; */
    }

    .list-depart-all-mobile {
        position: relative;
        height: 47vh;
        overflow-y: scroll !important;
    }

    .list-depart-all-mobile {
        height: 60vh;
    }



    .list-depart-all-mobile ul li {
        list-style: none;
        background-color: #e7e7e7;
        width: 90vw;
        height: 10vh;
        margin-left: 0px;
        margin-bottom: 20px;
        border-radius: 30px;
        box-shadow: -5px 10px 15px rgba(49, 49, 49, 0.3);
        font-size: 11pt;
    }

    .list-depart-all-mobile ul li h5 {

        font-size: 12pt;
    }

    .list-depart-all-mobile ul li .container-depart {
        margin: auto auto auto auto;
    }

    .list-depart-all-mobile ul li .container-depart svg {
        fill: #28BE21;
        width: 5vw;
        height: 5vh;
    }

    .list-depart-all-mobile ul li .container-depart svg:active {
        fill: #000;
        transform: scale(0.8);
    }

    .list-depart-all-mobile ul li .container-depart svg:hover {
        fill: #000;
        transform: scale(1.2);
    }
    .form-select-detail.select_action_golf_nanta_js {
        font-size: 12pt !important;
        width: 100% !important;
        margin-top: 0 !important;
        padding: 3px;
        margin-left: 0!important;
        border: #000 1px solid;
        border-radius: 3px;
    }

    .open-navleft-mobile i {
        position: absolute;
        left: 15px;
        top: 160px;
        z-index: 401;
        background-color: #2343ac;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        text-align: center;
        color: #fff;
        padding-top: 12px;
        font-size: 18pt;
        animation: 1s linear 1s infinite alternate slidein;
    }

        @keyframes slidein {
            from {
                transform: scale(100%);
            }
    
            to {
                transform: scale(80%);
            }
        }

    .open-search-mobil  i {
        position: absolute;
        right: 15px;
        top: 15px;
        z-index: 401;
        background-color: #2343ac;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        text-align: center;
        color: #fff;
        padding-top: 12px;
        font-size: 18pt;
     }

    .search-resto-mobil{
        position: absolute;
        top: 10px;
        right: 10px;
        width: 80% !important;
        z-index: 401;
    }

    .content-search-mob{
        width: 100%;
    }

    #modalAvisRestaurant{
        z-index: 10404;
    }

    #restoPastilleModal{
        z-index: 10405;
    }
    .modal-backdrop{
        z-index: 10405;
    }
    
    .navleft-detail-mobile {
        transform: translate(1vw, 1vh) !important;
        width: 355px;
        z-index: 1001 !important;
    }
    .swal-overlay--show-modal{
        z-index: 10405 !important;
    }

   
    .content_description {
        height: 95vh !important;
    }

    .content-logo-shearch {
        width: 100% !important;
        margin-left: 0px !important;
    }

    .search-resto-mobil-none{
        display: none;
    }

    .navbar-brand img {
        width: 6rem !important;
        margin-top: 0.7rem !important;
    }

    .navbar-brand-mobile svg {
        position: absolute;
        top: 20vh;
        left: 85vw;
        z-index: 401;
    }

    .logo-consomyzone {
        width: 50vw;
    }

    .logo-consomyzone img {
        width: 50vw !important;
    }

    .list-depart-all-specific {
        height: 78vh;
        overflow-y: scroll;
        overflow-x: hidden;
    }

    .list-depart-golf-specific {
        height: 60vh;
    }

    .list-depart-all-specific ul .card-list {
        list-style: none;
        background-color: #e7e7e7;
        width: 84vw;
        height: auto !important;
        margin-left: 0px;
        margin-bottom: 20px;
        border-radius: 12px;
        box-shadow: -5px 10px 15px rgba(49, 49, 49, 0.3);
        font-size: 11pt;
    }

    .list-depart-all-specific-station ul .card-list {
        height: 40vh !important;
    }

    .list-depart-all-specific ul li h5 {

        font-size: 12pt;
    }

    .list-depart-all-specific ul li .container-depart {
        margin: auto auto auto auto;
    }

    .list-depart-all-specific ul li .container-depart svg {
        fill: #28BE21;
        width: 5vw;
        height: 5vh;
        margin-left: -15px;
        margin-top: 15px;
    }

    .list-depart-all-specific ul li .container-depart svg:hover {
        fill: #000;
        width: 5.5vw;
        height: 5.5vh;
        margin-left: -15px;
        margin-top: 15px;
    }

    .ferme-specific-mobile h4 {
        font-size: 12pt;
        font-weight: 700;
    }

    .ferme-specific-mobile p {
        font-size: 10pt;
    }

    #list-specific-depart {
        position: absolute;
        transition: all 2s ease-in-out !important;
        background-color: #fff;
        z-index: 407;
    }

    #list-spesific-resto {
        position: absolute;
        transition: all 2s ease-in-out !important;
        background-color: #fff;
        z-index: 1407;
    }

    .content_detail_mobile {
        width: 95vw !important;
        height: 100vh !important;
    }

    .content_detail_mobile hr {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    .content_detail_mobile p {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        text-align: justify;
    }

    .content_detail_mobile .horaires li span {
        display: block;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        text-align: justify;
    }

    .content-mobil-ferme-detail {
        position: relative;
        z-index: 1400 !important;
        background-color: #fff;
        width: 100vw;
        height: 213vh;
        /* overflow-y: scroll !important; */
    }


    .titre-ferme h4 a {
        font-size: 10pt !important;
    }

    .list-depart-all {
        position: relative;
        height: 55vh;
        overflow-y: scroll !important;
        padding-left: 50px !important;
        overflow-x: hidden;
    }

    .list-depart-arrand{
        height: 60vh;
    }




    .list-depart-all ul li {
        list-style: none;
        background-color: #e7e7e7;
        width: 90vw;
        height: 10vh;
        margin-left: -40px;
        margin-bottom: 20px;
        border-radius: 30px;
        box-shadow: -5px 10px 15px rgba(49, 49, 49, 0.3);
        font-size: 11pt;
    }

    .list-depart-all ul li h5 {

        font-size: 12pt;
    }

    .list-depart-all ul li .container-depart {
        margin: auto auto auto auto;
    }

    .list-depart-all ul li .container-depart svg {
        fill: #28BE21;
        width: 5vw;
        height: 5vh;
    }

    .list-depart-all ul li .container-depart svg:active {
        fill: #000;
        transform: scale(0.8);
    }

    .list-depart-all ul li .container-depart svg:hover {
        fill: #000;
        transform: scale(1.2);
    }

    .content-detaile-resto {
        background-color: #fff;
    }

    .content-detaile-resto h4 span {
        font-size: 10pt;
    }

    .content-mobil-ferme {
        position: relative;
        z-index: 10401 !important;
        background-color: #fff;
        width: 100vw;
        height: 80vh;
        margin-top: 155px;
        padding-top: 10px;
    }

    .content_list_menu {
        width: 340px !important;
    }

    .account-profils {
        width: 60px !important;
    }


    .account-profils .rounded-circle {
        width: 40px !important;
        height: 40px !important;
        margin-left: 6px;
        margin-bottom: 13px;
        overflow-y: scroll !important;

    }

    .content_global,
    .right_content {
        width: 100vw;
        margin-right: 5px;
    }

    .tribut_t_reponsive {
        width: 100vw !important;
        margin-left: 18px !important;
    }

    .container-custom {
        padding: 2px !important;
        margin-left: 2px !important;
    }

    .logo {
        width: 140px !important;
    }

    .profilTribu {
        width: 50vw !important;
        max-width: 200px !important;
        left: 0px !important;
    }

    .img_account,
    .nav-icon {
        width: 30px !important;
        margin-top: 0px !important;
    }

    .img_menu {
        margin-top: 0 !important;
    }

    .navbar-mobile {
        width: 100vw !important;
        height: 66px !important;
    }

    .badge_message,
    .badge_notification {
        top: -5px !important;
        left: 15px !important;
    }

    /* .fw-bolder {
        width: 95vw !important;
    } */

    .navbar-brand {
        font-size: large !important;
        margin-right: 0 !important;
    }

    .container-invitation {
        margin-left: 70px !important;
        margin-top: 165px !important;
    }

    .container-invitation-menu {
        margin-left: 90px !important;
    }

    #panneau {
        margin: -50px !important;
        width: 100vw !important;
    }

    #onglets {
        margin-left: 0px;
        margin-top: 75px !important;
    }

    .demande,
    .invitation-conf,
    #contenus {
        /* width: 90vw !important; */
        margin: 20px;
    }

    .content_left_menu_account_mobile {
        width: 15vw !important;
    }

    .account-profils img {
        min-height: 40px !important;
        min-width: 40px !important;
        max-width: 40px !important;
        max-height: 40px !important;
    }

    .left_menu {
        padding-left: 0 !important;
        padding-top: 15px;
        margin-top: -40px;
    }

    

    .notification_popup,
    .message_popup {
        right: 2px !important;
        width: 100vw !important;
        /* left: 2px !important; */
    }

    ul.dropdown-menu[data-bs-popper] {
        width: 60px !important;
        right: 2px !important;
        float: right !important;
        left: 56vw !important;
    }

    .na-ul-right {
        margin-left: -10px !important;
    }

    .content_right_profil {
        position: relative !important;
        margin-left: -43px !important;
        top: 10px !important;
        width: 109vw !important;
    }

    .mobile-responsive {
        margin-top: -10%;
    }

    

    label[for="fileInputTribu"] {
        margin-left: 80px;
    }

    .tribuNameContent-mobile,
    #navBarTribu {
        font-size: small;
        color: black;
    }

    .bgPersonnalisee {
        background-image: linear-gradient(#888888 320px, #ffffff 0%);
        border: none !important;
        width: 100vw;
        margin-left: 0;
    }
    .bgPersonnalisee_menu {
        width: 90vw !important;
    }

    .content_right_actualite-g {
        width: 100% !important;
    }

    .content_right_actualite-g_menu {
        width: 88% !important;
    }

    .card-pub-g {
        width: 137% !important;
        margin-left: 2px !important;
    }

    .bgPersonnalisee_tribut {
        background-image: linear-gradient(#888888 320px, #ffffff 0%);
        border: none !important;
    }


    ul#navBarTribu {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: white;
    }

    /* #navBarTribu > li:nth-child(3){
             margin-top: 15px; 
          } */

    .apropos-tribu-t {
        right: 18px !important;
        height: 80vh !important;
        width: 90% !important;
    }

    .btn-navright-tribut{
        position: absolute;
        top: 105px;
        right: 0px;
    }

    .btn-ferme-tribut {
        font-size: 16pt;
    }

    .dropDownMenu {
        background-color: blue;
        text-align: justify !important;
    }

    .colorWhite {
        color: white !important;
    }


    .content_right_actualite {
        width: 100% !important;
        height: 100vh !important;
        overflow-y: scroll;
        /* overflow-x: hidden; */
        position: relative !important;
        right: 0;
        top: 0 !important;
        padding: 0px !important;
        margin-left: 0px !important;
    }

    .contentImage-mobile {
        width: 80px !important;
    }

    #btnShowModalAddPub {
        width: 80% !important;
        font-size: medium;
    }

    .content_title_tribuG {
        transform: translate(27px, 4%) !important;
        width: 140px;
    }

    .user_button {
        width: 80% !important;
        margin-left: 25px !important;
        font-size: small;
    }

    .rangee {
        top: 10px !important;
    }

    .content_bloc_js_jheo {
        margin-top: 15px !important;
        background-color: transparent;
        margin-bottom: 3px !important;
        border-radius: 5px !important;
    }


    .publication_js_jheo {
        margin-left: -15px !important;
        margin-right: -15px !important;
        margin-bottom: 5px !important;

    }

    .mobile-responsive {
        margin-bottom: 50px !important;
    }

    .div_mobile {
        padding: 0rem !important;
    }

    .nom_mobile {
        margin-top: 100px !important;
        width: 60%;
    }

    .profil_mobile {
        margin-top: -10px !important;
    }

    .right_content {
        margin-left: 0px !important;
        margin-right: 15px !important;
        width: 95vw !important;

    }

    .listpub_mobile {
        margin-left: 0px !important;
    }

    .publication_mobile {
        margin-left: 20px !important;
    }

    .listTribu_t_mobile{
            margin-left: 0px !important;
        }

    .table-list-membre {
        margin-left: 0px !important;
        width: 100% !important;
    }

    .tribuT_mobile {
        margin-left: 0px !important;
        margin-right: 0px !important;
        width: 100vw !important;
    }

    .tribuT_form {
        /* margin-left: 30px !important; */
        padding-right: 0px !important;
        width: 95% !important
    }

    .setting_mobile {
        margin-left: 10px !important;
    }

    .security_mobile {
        margin-left: 5px !important;
    }


    .col_confidentialite {
        margin-left: 10px !important;
    }

    #profilTribu {
        text-align: center;
        margin-left: 10px !important;
        height: 60px;
        border-radius: 10px;
    }

    .monTribu_mobile {
        width: 100% !important;
    }

    .contentTribu {
        margin-left: 0px !important;
        margin-right: 0px !important;
    }

    .paper_mobile {
        margin-bottom: 15px !important;
    }

    .membre-tribut {
        margin-top: 20px !important;
    }

    .detail_agenda_mobile_cont {
        margin-left: 0px !important;
    }

    .detail_agenda_mobile {
        margin-right: 0px !important;
    }

   .card-couverture-pub-tribu-t {
       width: 91vw !important;
        height: 35vh !important;
       margin-top: 0px !important;
   }



    .card-couverture-pub-tribu-t .content-couverture {
        width: 100vw !important;
    }

    .card-couverture-pub-tribu-t .content-couverture h1 {
        margin-left: 150px !important;
    }

    .card-couverture-pub-tribu-t .content-couverture .p-mobile {
        margin-left: 150px !important;
    }

    .content_right_actualite .card-couverture-pub-tribu-t .nome-fontateur-tribu-t {
        margin-top: 55px !important;
    }

    .champ-pub {
        width: 100vw !important;
        margin-top: 250px !important;
    }

    .content_right_actualite .pub-tribu-t {
        width: 100vw !important;
    }

    .content_right_actualite .card-couverture-pub-tribu-t .content-couverture img {
        height: 60px !important;
    }

    .content-tribu-t-name {
        margin-left: -150px;
    }

    .content-tribu-t {
        width: 140vw;
    }

    

    .content_right_actualite {
        width: 95vw !important;
    }


    .content_right_actualite_menu {
        width: 83vw !important;
        margin-left: 60px !important;
    }

    .bgPersonnalisee {
        background-image: none !important;
    }

    .change_photo_tribuG_js_jheo{
        font-size: 12pt !important;
        margin-left: -30px;
    }

    .card-my-tribu-t .avatar-tribu {
        width: 35px !important;
        height: 35px;
        border-radius: 15px;
    }

    .content_list_menu_tribut_mob {
        background-color: #fff;
        padding: 20px;
        width: 304px !important;
        height: 100vh;
        margin-left: -85vw;
        transition: margin-left 1.5s;
    }

    .content_list_menu_tribut_mob .card-my-tribu-t a{
        color: #000;
        text-decoration: none;
    }

    .transition-mob{
        margin-left: 0;
        transition: margin-left 1.5s;
    }

    /* .left_menu {
        background-color: transparent;
    } */

    .navbar-mobile-all{
        position: absolute;
        width: 100% !important;
        z-index: 401;
    }

    .leaflet-control-zoom.leaflet-bar.leaflet-control{
        margin-top: 70px !important;
    }

    .btn_group_vertical {
        margin-top: 10px !important;
    }

    .modal-avie-resto-mobile-tomm-js{
        z-index: 10405 !important;
    }

    .active-mobile{
        background-color: #1111fe;
        color: #fff !important;
        border-radius: 5px;
        width: 75px;
        height: 55px;
    }

    .active-mobile svg{
        fill: #fff !important;
        border: 2px solid #fff !important;
    }

    .spec-dep {
        margin-top: 20px;
    }

    .specific-detail{
        width: 100%;
        position: absolute;
        bottom: 10px;
        z-index: 1000 !important;
    }

    .swal-overlay{
        z-index: 10403;
    }

    

    .containt-specific{
        
        background-color: #fff;
        box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.3);
        border-radius: 15px;
        width: 85vw;
        height: 28vh;
        z-index: 401;
        padding: 5px;
    }

    .containt-specific p{
        /* margin-bottom: -5px; */
        line-height: 1.4;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .containt-specific-detail{
        background-color: #fff;
        box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.3);
        border-radius: 15px;
        width: 85vw;
        height: 28vh;
        z-index: 402;
        padding: 5px;
    }

    #form {
        height: 60vh !important;
        margin-top: 10px !important;
    }

    .swal2-popup{
        z-index: 10402 !important;
    }

    .all-z-index{
        z-index: 1401 !important;
    }
    #modalAvisRestaurant {
        margin-top: 0 !important;
    }

    .content_home_detail_mobile{
        margin-top: 10rem !important;
    }

    .list-depart-resto-mobile-tomm-js{
        position: absolute;
        z-index: 10000;
    }

    .ferme-genre{
        font-size: 8pt !important;
        background-color: #b1b1b1;
        padding: 2px;
        
    }

    .containt-specific-arrandismant {
        background-color: #fff;
        box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.3);
        border-radius: 15px;
        width: 60vw;
        height: 12vh;
        z-index: 401;
        padding: 5px;
    }

    /* .apropos-tribu-g {
        position: absolute !important;
        top: 135px !important;
        right: 15px !important;
        width: 360px !important;
    } */
    .apropos-tribu-g {
        position: absolute !important;
        top: 93px !important;
        right: 18px !important;
        width: 575px !important;
    }
    .list-amie-message-perso {
        width: 100% !important;
    } 
    
    .nav-message .nav-tabs{
        font-size: 9pt;
    }
    .content-pub {
        /* margin-top: 273px !important; */
        margin-top: 0px !important;
    }

    .content_list_p_tG {
        width: 100% !important;
    }

    .content_photos{
        width: 100% !important;
    }

    .img_nantenaina img{
        width: 25px;
        clip-path: circle();
    }
    
    .loading-tomm-js{
        position: absolute;
        top: 35%;
        right: 0;
    }
    

    .en-lign-mobile{
        position: absolute;
        background: #fff;
        width: 100%;
        height: 85vh;
        z-index: 1;
    }

    .margin-top-280{
        margin-top: 280px !important;
    }

    .modal_visio {
        width: 100% !important;
        left: 0 !important;
        right: 0 !important;
    }

.modal-pastille-golf{
        width: 340px !important;
    }

    .toggel-recherche i{
        position: absolute;
        left: 15px;
        top: 160px;
        z-index: 401;
        background-color: #2343ac;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        text-align: center;
        color: #fff;
        padding-top: 12px;
        font-size: 18pt;
        animation: 1s linear 1s infinite alternate slidein;
    }

    .fc-dayGridMonth-view table thead tr th {
        width: 0 !important;
        padding-left: 10px;
        /* padding-right: 5px; */
    }

    .container-agenda{
        margin-top: 50px !important;
    }

    #calendar {
        max-width: 100vw !important;
        margin: 0 !important;
    }

    #calendar .fc-view-container {
        padding: 0 !important;
        
    }

    #createAgenda .form-check-label{
        font-size: 12pt;
    }
        
    #createAgenda .form-check-inline{
        margin-top: 5px;
        margin-right: 5px !important;
        width: 100%;
    }

    #createAgenda .form-check-input{
        width: 12px;
        height: 12px;
        margin-right: 2px;
    }

    .card-couverture-pub-tribu-t .text-light{
        font-size: 10pt;
    }

    .dataTables_wrapper{
        overflow-x: scroll !important;
    }

    .list_resto_or_golf_partage .bg-white.w-75{
        width: 100% !important;
    }

    .partage_agenda .btn-partage-agenda {
        margin-left: 19vw !important;
    }

    #blockHistInvitation{
        overflow-x: scroll;
    }

    .content_emojy_picker{
        margin-left: -155px !important;
        margin-top: 280px !important;
    }

    .right_content {
        background: #fff !important;
    }

    .btn_submit {
        background: rgb(0, 111, 255) !important;
        width: 76vw !important; 
        color: #fff;
    }

    .possition-password {
        margin-top: 0 !important;
    }

    .title-link-inscription{
        text-align: center;
    }

    .content_form {
        background: #cdcdcd !important;
    }

    .custom-flash-inscription {
        position: absolute !important;
        top: 100% !important;
        right: 3% !important;
        width: 350px!important;
    }
                
}

@media screen and (max-width:400px) and (min-width:300px) {
    .content_right_actualite .card-couverture-pub-tribu-t .nome-fontateur-tribu-t p {
        margin-top: -25px !important;

    }

    /* .content_right_actualite .card-couverture-pub-tribu-t .content-couverture {
        height: 1vh !important;
    } */
    .account-profil-conected .pdp img {
        width: 110px !important;
    }
}

@media screen and (max-width:500px) and (min-width:400px) {
    .content_right_actualite .card-couverture-pub-tribu-t .nome-fontateur-tribu-t p {
        margin-top: 0 !important;
    }

    .content_right_actualite .card-couverture-pub-tribu-t .content-couverture {
        height: 18vh !important;
    }

    .account-profil-conected .pdp img {
        width: 110px !important;
    }
}

/* pc */

@media screen and (min-width:1020px) and (max-width: 1136px) {
 .width-content-t {
        width: 74%;
    }

    .navleft-chat{
        right: -205px !important;
    }

    .apropos-tribu-t {
        width: 220px !important;
    }

    .apropos-tribu-g {
        width: 220px !important;
        top: 140px !important;
    }

    .ep {
        margin-left: -64px;
    }

    .navbar-brand img {
        width: 7rem !important;
    }

    .nav-item a {
        /* font-size: 5pt !important; */
        font-size: 0.3587em !important;
    }

    .nav-item li{
        margin-left: 15px !important;
    }

    .xn {
        padding-left: 4rem !important;
    }

    .content-logo-shearch {
        width: 390px;
        margin-left: 20px !important;
    }

    /* .uf {
        max-width: 44.75rem !important;
    } */

    /* .card-pub-actu img {
            width: 52vw;
        } */
    .content_list {
        margin-left: -15px;
    }
    .form__input_time {
        width: 145px;
    }

    .result_container_resto_spec .navbar-light-left {
        margin-top: 1rem !important;
    }

    /* .spec-dep {
        margin-top: 115px;
    } */

    .result_container_ferme_spec .navbar-light-left {
        margin-top: 1rem !important;
    }

    .result_container_station_spec .navbar-light-left {
        margin-top: 1rem !important;
    }

    .result_container_resto_spec_arrond .navbar-light-left {
        margin-top: 1rem !important;
    }

    .content-logo-shearch {
        width: 360px;
    }

    .nav-menu {
        margin-left: 390px !important;
        width: 42vw;
    }

    .nav-menu-connexion {
        margin-left: 950px !important;
        margin-top: -2px;
        width: 0vw;
    }

    .content_right_actualite .card-couverture-pub-tribu-t .content-couverture img {
        height: 100px !important;
    }

    .form__input_time {
        margin-top: 15px !important;
        width: 140px !important;
        height: 20px !important;
    }

    .listTribu_t_mobile {
        margin-top: 0px !important;
    }
    
}

@media screen and (min-width:1137px) and (max-width: 1259px) {

    .width-content-t {
        width: 74%;
    }

    .navleft-chat{
        right: -205px !important;
    }

    .apropos-tribu-t {
        width: 220px !important;
    }

    .apropos-tribu-g {
        width: 220px !important;
        top: 140px !important;
    }

    .ep {
        margin-left: -64px;
    }

    .navbar-brand img {
        width: 7rem !important;
    }

    .nav-item a {
        font-size: 7pt !important;
    }

    .nav-item li{
        margin-left: 15px !important;
    }

    .xn {
        padding-left: 4rem !important;
    }

    .content-logo-shearch {
        width: 390px;
        margin-left: 20px !important;
    }

    /* .uf {
        max-width: 44.75rem !important;
    } */

    /* .card-pub-actu img {
            width: 52vw;
        } */
    .content_list {
        margin-left: -15px;
    }
    .form__input_time {
        width: 145px;
    }

    .result_container_resto_spec .navbar-light-left {
        margin-top: 1rem !important;
    }

    /* .spec-dep {
        margin-top: 115px;
    } */

    .result_container_ferme_spec .navbar-light-left {
        margin-top: 1rem !important;
    }

    .result_container_station_spec .navbar-light-left {
        margin-top: 1rem !important;
    }

    .result_container_resto_spec_arrond .navbar-light-left {
        margin-top: 1rem !important;
    }

    .content-logo-shearch {
        width: 360px;
    }

    .nav-menu {
        margin-left: 390px !important;
        width: 42vw;
    }

    .nav-menu-connexion {
        margin-left: 950px !important;
        margin-top: -2px;
        width: 0vw;
    }

    .content_right_actualite .card-couverture-pub-tribu-t .content-couverture img {
        height: 100px !important;
    }

    .form__input_time {
        margin-top: 15px !important;
        width: 140px !important;
        height: 20px !important;
    }

    .listTribu_t_mobile {
        margin-top: 0px !important;
    }
}

@media screen and (min-width:1260px) and (max-width: 1315px) {
 header > div > div.vd.sd.qo.f.ho.oo.wf.yf > nav > ul{
	font-size: 6pt !important;
    }
    .width-content-t {
        width: 74%;
    }
    .apropos-tribu-t {
        width: 16.5rem !important;
    }

    .navleft-chat{
        right: -300px !important;
    }
    .apropos-tribu-g {
        width: 220px !important;
        top: 140px !important;
    }

    .xn {
        padding-left: 4rem !important;
    }

    .content-logo-shearch {
        width: 530px;
        margin-left: 20px !important;
    }

    /* .uf {
        max-width: 44.75rem !important;
    } */
    /* .card-pub-actu img {
            width: 52vw;
        } */
    .form__input_time {
        width: 145px;
    }

    .result_container_resto_spec .navbar-light-left {
        margin-top: 1rem !important;
    }

    /* .spec-dep {
        margin-top: 115px;
    } */

    .result_container_ferme_spec .navbar-light-left {
        margin-top: 1rem !important;
    }

    .result_container_station_spec .navbar-light-left {
        margin-top: 1rem !important;
    }

    .result_container_resto_spec_arrond .navbar-light-left {
        margin-top: 1rem !important;
    }

    .content-logo-shearch {
        width: 360px;
    }

    .nav-menu {
        margin-left: 570px !important;
        width: 35vw !important;
    }

    .nav-menu-connexion {
        margin-left: 1140px !important;
        margin-top: -2px;
        width: 0vw;
    }

    .content_right_actualite .card-couverture-pub-tribu-t .content-couverture img {
        height: 100px !important;
    }

    .form__input_time {
        margin-top: 15px !important;
        width: 140px !important;
        height: 20px !important;
    }

    .listTribu_t_mobile {
        margin-top: 20px !important;
    }

    .content_list {
        margin-left: -15px;
    }

    .account-profils img{
        min-height: 60px !important;
        min-width: 60px !important;
        max-width: 60px !important;
        max-height: 60px !important;
    }
}

@media screen and (min-width:1316px) and (max-width: 1439px) {
    .width-content-t {
        width: 74%;
    }
    header > div > div.vd.sd.qo.f.ho.oo.wf.yf > nav > ul{
	font-size: 9pt !important;
    }

    .apropos-tribu-g {
        width: 290px !important;
        top: 140px !important;
    }

    .apropos-tribu-t {
        width: 18.5rem !important;
    }

    .xn {
        padding-left: 4rem !important;
    }

    .head-pub .param-content-g i {
        margin-left: 140px !important;
    }

    /* .uf {
        max-width: 44.75rem !important;
    } */
    .card-pub {
        margin-left: 0px !important;
    }

    .form__input_time {
        width: 145px;
    }
    .result_container_resto_spec .navbar-light-left {
        margin-top: 1rem !important;
    }

    /* .spec-dep {
        margin-top: 115px;
    } */

    .result_container_ferme_spec .navbar-light-left {
        margin-top: 1rem !important;
    }

    .result_container_station_spec .navbar-light-left {
        margin-top: 1rem !important;
    }

    .result_container_resto_spec_arrond .navbar-light-left {
        margin-top: 1rem !important;
    }

    .content-logo-shearch {
        width: 530px;
        margin-left: 20px !important;
    }

    .nav-menu {
        margin-left: 620px !important;
        width: 33vw !important;
    }
    .nav-menu-connexion {
        margin-left: 1180px !important;
        margin-top: -2px;
        width: 0vw;
    }

    .content_right_actualite .card-couverture-pub-tribu-t .content-couverture img {
        height: 100px !important;
    }

    .form__input_time {
        margin-top: 15px !important;
        width: 140px !important;
        height: 20px !important;
    }

    .listTribu_t_mobile {
        margin-top: 0px !important;
    }

    .account-profils img{
        min-height: 60px !important;
        min-width: 60px !important;
        max-width: 60px !important;
        max-height: 60px !important;
    }
}

@media screen and (min-width:1440px) and (max-width: 1550px) {
    .width-content-t {
        width: 74%;
    }
    .apropos-tribu-g {
        width: 290px !important;
        top: 140px !important;
    }

    .apropos-tribu-t {
        width: 315px !important;
    }
    /* .card-pub-actu img {
        width: 52vw;
    } */

    .result_container_resto_spec .navbar-light-left {
        margin-top: 1rem !important;
    }

    .account-profils img {
        min-height: 70px !important;
        min-width: 70px !important;
        max-width: 70px !important;
        max-height: 70px !important;
    }

    /* .spec-dep {
        margin-top: 115px;
    } */

    .result_container_ferme_spec .navbar-light-left {
        margin-top: 1rem !important;
    }

    .result_container_station_spec .navbar-light-left {
        margin-top: 1rem !important;
    }

    .result_container_resto_spec_arrond .navbar-light-left {
        margin-top: 1rem !important;
    }

    .container-invitation {
        margin-left: 290px !important;
    }

    /* .content_right_actualite .card-couverture-pub-tribu-t {
        margin-top: 150px !important;
    } */

    .content_right_actualite .exprime-pub {
        margin-top: 45px !important;
    }

    .content_right_actualite .card-couverture-pub-tribu-t .content-couverture img {
        height: 100px !important;
    }

    .flow-content .i-x {
        margin-left: 22vw !important;
    }

    .i-apropos {
        top: 147px !important;
        right: 39vw !important;
    }

    .content-logo-shearch {
        width: 33vw !important;
    }

    .head-left {
        padding-top: 10px !important;
    }

   

    .result_container_resto_spec .head-left {
        padding-top: 0 !important;
    }

    .result_container_resto_spec_arrond .navbar-light-left {
        margin-top: 15px !important;
    }

    /* .result_container_resto_spec_arrond .head-left {
        padding-top: 20px !important;
    } */

    .result_container_station_spec .navbar-light-left {
        margin-top: 35px !important;
    }

    /* .result_container_station_spec .head-left {
        padding-top: 70px !important;
    } */

    /* .navbar-light-left .fa-x {
        margin-left: 175px !important;
    } */

    .navbar-light-bar .navbar-brand img {
        margin-top: 5px !important;
    }

    .nav__toggler {
        margin-left: 930px !important;
    }

    .card-pub {
        width: 83vw;
        margin-left: 0;
    }

    .card-setting {
        width: 73vw;
        margin-left: -23px;
    }

    .card-setting-password {
        width: 73vw;
        margin-left: -59px;
    }

    .card-setting-confid {
        width: 73vw;
        margin-left: -116px;
    }

    .listTribu_t_mobile {
        margin-top: 0px !important;
    }

    .nav-menu {
        margin-left: 600px !important;
        width: 30vw !important;
    }

    .nav-menu-connexion {
        /* margin-left: 1720px !important; */
        width: 0vw;
    }

    .form__input_time {
        width: 145px !important;
    }

    .content_list {
        margin-left: -15px;
    }
}

@media screen and (min-width: 1551px) and (max-width: 1679px) {
    .width-content-t {
        width: 72%;
    }

    .apropos-tribu-g {
        width: 315px !important;
    }

    .apropos-tribu-t {
        width: 385px !important;
    }

    .navleft-chat{
        right: -370px !important;
    }

    /* .card-pub-actu img {
        width: 52vw;
    } */

    #map {
        /* margin-left: -5rem !important; */
    }

    .to\/4\/2 {
        margin-left: -6.5rem !important;
    }

    .head-pub .param-content i {
        margin-left: 460px !important;
    }

    .container-invitation {
        margin-left: 355px !important;
    }

    /* .content_right_actualite .card-couverture-pub-tribu-t {
        margin-top: -220px !important;
    } */

    .content_right_actualite .exprime-pub {
        margin-top: 10 !important;
    }

    .content_right_actualite .card-couverture-pub-tribu-t .content-couverture img {
        height: 100px !important;
    }

    .flow-content .i-x {
        margin-left: 22vw !important;
    }

    .i-apropos {
        top: 147px !important;
        right: 39vw !important;
    }

    .content-logo-shearch {
        width: 40vw !important;
    }

    .left_menu {
        height: 899px;
    }

    .result_container_resto_spec .navbar-light-left {
        margin-top: 15px !important;
    }

    .result_container_resto_spec .head-left {
        padding-top: 20px !important;
    }

    .result_container_resto_spec_arrond .navbar-light-left {
        margin-top: 35px !important;
    }

    .result_container_resto_spec_arrond .head-left {
        padding-top: 70px !important;
    }

    .result_container_station_spec .navbar-light-left {
        margin-top: 35px !important;
    }

    /* .result_container_station_spec .head-left {
        padding-top: 70px !important;
    } */

    /* .navbar-light-left .fa-x {
        margin-left: 185px !important;
    } */

    .navbar-light-bar .navbar-brand img {
        margin-top: 5px !important;
    }

    .nav__toggler {
        margin-left: 970px !important;
    }

    .card-pub {
        width: 80vw;
        margin-left: 0;
    }

    .card-setting {
        width: 73vw;
        margin-left: -23px;
    }

    .card-setting-password {
        width: 73vw;
        margin-left: -59px;
    }

    .card-setting-confid {
        width: 73vw;
        margin-left: -116px;
    }

    .listTribu_t_mobile {
        margin-top: 0px !important;
    }

    .content_list {
        margin-left: -15px;
    }

    .nav-menu {
        margin-left: 650px !important;
        width: 30vw !important;
    }

    .nav-menu-connexion {
        margin-left: 1430px !important;
        width: 0vw;
    }

    .form__input_time {
        width: 145px !important;
    }
}

@media screen and (min-width: 1680px) and (max-width: 1799px){
    .width-content-t {
        width: 74%;
    }
    .navleft-chat{
        right: -400px !important;
    }

    .apropos-tribu-g{
        width: 300px !important;
    }

    .apropos-tribu-t {
        width: 385px !important;
    }
    /* .card-pub-actu img {
        width: 52vw;
    } */

    .\32xl\:ud-max-w-230 {
        max-width: 63.5rem !important;
    }

    #map {
        /* margin-left: -8rem !important; */
    }

    .to\/4\/2 {
        margin-left: -9.3rem !important;
    }
    .head-pub .param-content i {
            margin-left: 470px !important;
        }
    .container-invitation {
        margin-left: 355px !important;
    }

    /* .content_right_actualite .card-couverture-pub-tribu-t {
        margin-top: -220px !important;
    } */

    .content_right_actualite .exprime-pub {
        /* margin-top: 265px !important; */
    }

    .content_right_actualite .card-couverture-pub-tribu-t .content-couverture img {
        height: 100px !important;
    }

    .flow-content .i-x {
        margin-left: 22vw !important;
    }

    .i-apropos {
        top: 147px !important;
        right: 39vw !important;
    }

    .content-logo-shearch {
        width: 40vw !important;
    }

    .head-left {
        padding-top: 35px !important;
    }

    .result_container_resto_spec .navbar-light-left {
        margin-top: 35px !important;
    }

    /* .result_container_resto_spec .head-left {
        padding-top: 70px !important;
    } */

    .result_container_resto_spec_arrond .navbar-light-left {
        margin-top: 35px !important;
    }

    .result_container_resto_spec_arrond .head-left {
        padding-top: 70px !important;
    }

    .left_menu {
        height: 899px;
    }

    .result_container_station_spec .navbar-light-left {
        margin-top: 35px !important;
    }

    /* .result_container_station_spec .head-left {
        padding-top: 70px !important;
    } */

    /* .navbar-light-left .fa-x {
        margin-left: 195px !important;
    } */

    .navbar-light-bar .navbar-brand img {
        margin-top: 5px !important;
    }

    .nav__toggler {
        margin-left: 1230px !important;
    }

    .card-pub {
        width: 82.7vw;
        margin-left: -2vw;
    }

    .card-setting {
        width: 73vw;
        margin-left: -23px;
    }

    .card-setting-password {
        width: 73vw;
        margin-left: -59px;
    }

    .card-setting-confid {
        width: 73vw;
        margin-left: -116px;
    }

    .listTribu_t_mobile {
        /* margin-top: 80px !important; */
    }

    .content_list {
        margin-left: -15px;
    }

    .nav-menu {
        margin-left: 760px !important;
        width: 30vw !important;
    }

    .nav-menu-connexion {
        margin-left: 1530px !important;
        width: 0vw;
    }

    .form__input_time {
        width: 145px !important;
    }

    .content_right_actualite {
        /* top: 79px !important; */
    }
}

@media screen and (min-width: 1800px) and (max-width: 1899px) {
    .width-content-t {
        width: 77%;
    }
    .navleft-chat{
        right: -430px !important;
    }
    /* .card-pub-actu img {
        width: 65vw;
    } */
    .apropos-tribu-g{
        width: 260px !important;
    }
    .apropos-tribu-t {
        width: 385px !important;
    }

    .\32xl\:ud-max-w-230-tribu-t {
        max-width: 70.5rem !important;
    }

    #map {
        /* margin-left: -12rem !important; */
    }

    .ep {
        margin-left: -90px;
    }

    .to\/4\/2 {
        width: 56% !important;
    }

    .head-pub .param-content i {
        margin-left: 830px;
    }
    .container-invitation {
        margin-left: 355px !important;
    }


    .content_right_actualite .card-couverture-pub-tribu-t .content-couverture img {
        height: 100px !important;
    }

    .flow-content .i-x {
        margin-left: 22vw !important;
    }

    .i-apropos {
        top: 147px !important;
        right: 39vw !important;
    }

    .content-logo-shearch {
        width: 40vw !important;
        margin-left: -155px !important;
    }

    .head-left {
        padding-top: 35px !important;
    }

    .result_container_resto_spec .navbar-light-left {
        margin-top: 35px !important;
    }

    /* .result_container_resto_spec .head-left {
        padding-top: 70px !important;
    } */

    .result_container_resto_spec_arrond .navbar-light-left {
        margin-top: 35px !important;
    }

    .result_container_resto_spec_arrond .head-left {
        padding-top: 70px !important;
    }

    .result_container_station_spec .navbar-light-left {
        margin-top: 35px !important;
    }

    /* .result_container_station_spec .head-left {
        padding-top: 70px !important;
    } */

    /* .navbar-light-left .fa-x {
        margin-left: 220px !important;
    } */

    .navbar-light-bar .navbar-brand img {
        margin-top: 5px !important;
    }

    .nav__toggler {
        margin-left: 1230px !important;
    }

    .card-pub {
        width: 82.7vw;
        margin-left: -6vw;
    }

    .card-setting {
        width: 73vw;
        margin-left: -23px;
    }

    .card-setting-password {
        width: 73vw;
        margin-left: -59px;
    }

    .card-setting-confid {
        width: 73vw;
        margin-left: -116px;
    }

    .listTribu_t_mobile {
        margin-top: 0px !important;
    }

    .content_list {
        margin-left: -15px;
    }

    .nav-menu {
        margin-left: 760px !important;
        width: 30vw !important;
    }

    .nav-menu-connexion {
        margin-left: 1530px !important;
        width: 0vw;
    }

    .form__input_time {
        width: 145px !important;
    }

    .content_right_actualite {
        top: 79px !important;
    }
    .left_menu {
        height: 929px;
    }

}


@media screen and (min-width: 1900px){
   
   .right_full{
           right: -445px !important;
   }

    .content-pub{
        max-width: 73.75rem !important;
    } 
    .width-content-t {
        width: 77%;
    }

    .navleft-chat{
        right: -460px !important;
    }

    .apropos-tribu-g{
        width: 270px !important;
    }
    .apropos-tribu-t {
        width: 385px !important;
    }
    

    ul#navBarTribu li.listNavBarTribu a {
        padding: 5px 5px !important;
    }

    /* .card-pub-actu img {
        width: inherit ;
    } */

    #map {
        /* margin-left: -16rem !important; */
    }

    .head-pub .param-content i {
        margin-left: 840px !important;
    }

    .\32xl\:ud-max-w-230 {
        max-width: 80.5rem !important;
    }
    .content_right_actualite .exprime-pub{
        margin-top: 0px !important;
    }

    .content_right_actualite .card-couverture-pub-tribu-t{
        margin-top: 0px !important;
    }

    .content_right_actualite .champ-pub {
        width: 76.4vw !important;
    }

    .content_right_actualite .card-couverture-pub-tribu-t .content-couverture img {
        height: 100px !important;
    }

    .content_right_actualite {
        top: 78px !important;
        /* width: 86% !important; */
    }

    .content_right_actualite-g {
        width: 86vw !important;
    }

    .card-tribu-g {
        width: 80.9vw !important;
    }
    .container-invitation {
        margin-left: 419px !important;
    }

    .content_list {
        margin-top: 0 !important;
        margin-left: -25px;
    }

	
   .flow-content .i-x{
        margin-left: 21vw !important;
    }

    .i-apropos {
        top: 147px !important;
        right: 39vw !important;
    }

    .content-logo-shearch {
        width: 40vw !important;
    }

    .navbar-light-bar .navbar-brand img {
        margin-top: 3px !important;
    }

    .head-left{
        padding-top: 35px !important;
    }
    
    .result_container_resto_spec .navbar-light-left{
	    margin-top: 35px !important;
    }

    /* .result_container_resto_spec .head-left{
	    padding-top: 70px !important;
    } */

    .result_container_resto_spec_arrond .navbar-light-left{
	    margin-top: 35px !important;
    }

    .result_container_resto_spec_arrond .head-left{
	    padding-top: 70px !important;
    }

    .result_container_resto_spec .navbar-light-left{
	    margin-top: 35px !important;
    }

    /* .result_container_resto_spec .head-left{
	 padding-top: 70px !important;
    } */

    .result_container_ferme_spec .navbar-light-left{
	    margin-top: 35px !important;
    }

    .result_container_ferme_spec .head-left{
	    padding-top: 70px !important;
    }

    .result_container_station_spec .navbar-light-left{
	    margin-top: 35px !important;
    }
/* 
    .result_container_station_spec .head-left{
	    padding-top: 70px !important;
    } */

    /* .navbar-light-left i.fa-x {
        margin-left: 230px !important;
    } */


    .nav__toggler {
        margin-left: 1280px !important;
    }

    .card-pub {
        width: 82.7vw;
        margin-left: -100px;
    }

    .card-setting {
        width: 73vw;
        margin-left: -23px;
    }

    .card-setting-password {
        width: 73vw;
        margin-left: -59px;
    }

    .card-setting-confid {
        width: 73vw;
        margin-left: -116px;
    }

    .listTribu_t_mobile {
        margin-top: 0px !important;
    }

    .nav-menu {
        margin-left: 951px !important;
        width: 23vw;
    }

    .nav-menu-connexion {
        margin-left: 1720px !important;
        width: 0vw;
    }

    .left_menu {
        height: 930px;
    }
}

/* **************respensif height************ */

@media screen and (min-height: 600px)  and (max-height : 799px){
    .content_right_actualite .card-couverture-pub-tribu-t .content-couverture {
        height: 15vh !important;
    }
}
