<div class="image-upload" id="imageUploadTribu">
	
	<div class="image-upload-wrap">
		{% if InputDropDown is defined %}
			{{ form_row(InputDropDown, {'attr': {'class': 'image-upload-input', 'accept': 'image/png, image/jpeg, image/gif', 'onchange':'readURL(this);'}}) }}
		{% else %}
			<input class="image-upload-input" id="{{id}}" name="{{name}}" type="file" onchange="readURL(this);" accept="image/png, image/jpeg, image/gif"/>
		{% endif %}
		<div class="drag-text">
			<img src="{{asset('assets/image/uplaodIcon.png')}}" alt="">
			<h3>Faites glisser et déposez un fichier ou sélectionnez ajouter une image</h3>
		</div>
	</div>
	<div class="image-upload-content">
		<img class="image-upload-image" src="#" alt="your image"/>
		<div class="image-title-wrap">
			<button type="button" onclick="removeUpload()" class="remove-image-uplaod">Modifier
				{# <span class="image-title">Uploaded Image</span> #}
			</button>
		</div>
	</div>
</div>
