{% macro textEditor(isAgenda=1) %}
    {% if isAgenda ==1 %}
        <div class="wrapper">
        <textarea cols="100" id="editor"></textarea>

        <pre id="output"></pre>
        </div>
    {%  elseif isAgenda ==0 %}
        <div class="wrapper">
            <textarea cols="100" id="editor-partenaire"></textarea>

            <pre id="output"></pre>
        </div>
    {%  elseif isAgenda ==2 %}
        <div class="wrapper">
            <textarea cols="100" id="editor-reponseDemandePartenaire"></textarea>

            <pre id="output"></pre>
        </div>
    {%  elseif isAgenda ==3 %}
        <div class="wrapper pt-3 pb-3">
            <textarea cols="100 invitation_description_js_jheo" id="exampleFormControlTextarea1"></textarea>

            <pre id="output"></pre>
        </div>
    {%  elseif isAgenda ==4 %}
        <div class="wrapper pt-3 pb-3">
            <textarea cols="100 agenda-non-inscrit" id="editor-agenda-non-inscrit"></textarea>

            <pre id="output"></pre>
        </div>
    {% endif %}
	
{% endmacro %}
