{% macro textEditor(isAgenda=1) %}
    {% if isAgenda ==1 %}
        <div class="wrapper">
        <textarea cols="100" id="editor"></textarea>

        <pre id="output"></pre>
        </div>
    {%  elseif isAgenda ==0 %}
        <div class="wrapper">
            <textarea cols="100" id="editor-partenaire"></textarea>

            <pre id="output"></pre>
        </div>
    {%  elseif isAgenda ==2 %}
        <div class="wrapper">
            <textarea cols="100" id="editor-reponseDemandePartenaire"></textarea>

            <pre id="output"></pre>
        </div>
    {% endif %}
	
{% endmacro %}
