<!-- Modal -->
<div class="modal fade" id="visioMessageElie" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="visioMessageElieLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <i class="fas fa-video-camera me-2 ms-1 text-danger"></i>
        <h5 class="modal-title" id="visioMessageElieLabel">VisioConférence</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        {# <button type="button" class="" aria-label="Close"><i class="fa-solid fa-expand"></i></button> #}
        {# <button type="button" class="btn-close"><i class="fa fa-angle-double-down"></i></button> #}
      </div>
      <div class="modal-body" id="bodyVisioMessageElie">

      </div>
      {# <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
        <button type="button" class="btn btn-primary">Understood</button>
      </div> #}
    </div>
  </div>
</div>