<div id="remove-detail-marche" class="hidden key_draggable_details_jheo_js">
	<div class="content_icon_draggable content_icon_draggable_jheo_js">
		<div class="message_tooltip_drag d-none message_tooltip_drag_jheo_js">Cliquez ici pour déplacer cette fiche.</div>
		<i class="fa-solid fa-up-down-left-right icon_draggable_jheo_js"></i>
	</div>
		<div class="dock-detail-rubrique"  onclick="dockFicheRubrique()">
			<i class="fa-solid fa-minus"></i>
		</div>
		<div id="close-detail-resto" class="close_detail_marche_js_jheo close_details_jheo_js">
			<i class="fa-solid fa-x"></i>
		</div>
		<div class="content_description" id="content_detail_marche_js_jheo">
			{# THE CONTENT IS GENERATE BY THE JS #}
		</div>
</div>