<div class="details_rubrique p-3">
	<div class="content_icon_draggable content_icon_draggable_jheo_js">
		<div class="message_tooltip_drag d-none message_tooltip_drag_jheo_js">Cliquez ici pour déplacer cette fiche.</div>
		<i class="fa-solid fa-up-down-left-right icon_draggable_jheo_js"></i>
	</div>
    <div class="dock-detail-rubrique" onclick="dockFicheRubrique()">
        <i class="fa-solid fa-minus"></i>
    </div>
    <div class="close_content_details_rubrique close_content_details_rubrique_jheo_js" onclick="closeDetailsContainer()">
        <i class="fa-solid fa-x"></i>
    </div>
    <div class="details_rubrique" id="content_detail_rubrique_jheo_js">
        <div class="content_chargment_details content_chargment_details_jheo_js">
            <div class="containt">
                <div class="word word-1">C</div>
                <div class="word word-2">M</div>
                <div class="word word-3">Z</div>
            </div>
        </div>
    </div>
</div>