<div class="list_nav_left p-3">
    <div class="card mb-3" style="max-width: 540px;">
        <div class="card-body">
            <div class="row g-0">
                <div class="col-12">
                    <h5 class="card-title">RESTAURANT</h5>
                </div>
            </div>
            <div class="row g-0">
                <div class="col-md-8">
                    <figure>
                        <blockquote class="blockquote mb-0">
                            <p>MCDONALD S</p>
                        </blockquote>
                        <div class="stars">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                        </div>
                        <figcaption class="blockquote-footer mt-0 mb-0">
                            Adresse: <br> <cite title="Source Title">Rue descartes 02000 chambry</cite>
                        </figcaption>
                    </figure>
                </div>
                <div class="col-md-4">
                    <img class="img-fluid rounded" alt="image"
                        src="https://images.unsplash.com/photo-1592861956120-e524fc739696?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D">
                </div>
            </div>
            {# <div class="row g-0">
                <div class="col-12">
                    <figure>
                        <figcaption class="blockquote-footer mt-0 mb-0">
                            Adresse : <cite title="Source Title">Rue descartes 02000 chambry</cite>
                        </figcaption>
                    </figure>
                </div>
            </div> #}
        </div>
    </div>
    <div class="card mb-3" style="max-width: 540px;">
        <div class="card-body">
            <div class="row g-0">
                <div class="col-12">
                    <h5 class="card-title">RESTAURANT</h5>
                </div>
            </div>
            <div class="row g-0">
                <div class="col-md-8">
                    <figure>
                        <blockquote class="blockquote mb-0">
                            <p>MCDONALD S</p>
                        </blockquote>
                        <div class="stars">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                        </div>
                        <figcaption class="blockquote-footer mt-0 mb-0">
                            Adresse: <br> <cite title="Source Title">Rue descartes 02000 chambry</cite>
                        </figcaption>
                    </figure>
                </div>
                <div class="col-md-4">
                    <img class="img-fluid rounded" alt="image"
                        src="https://images.unsplash.com/photo-1592861956120-e524fc739696?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D">
                </div>
            </div>
            {# <div class="row g-0">
                <div class="col-12">
                    <figure>
                        <figcaption class="blockquote-footer mt-0 mb-0">
                            Adresse : <cite title="Source Title">Rue descartes 02000 chambry</cite>
                        </figcaption>
                    </figure>
                </div>
            </div> #}
        </div>
    </div>
    <div class="card mb-3" style="max-width: 540px;">
        <div class="card-body">
            <div class="row g-0">
                <div class="col-12">
                    <h5 class="card-title">RESTAURANT</h5>
                </div>
            </div>
            <div class="row g-0">
                <div class="col-md-8">
                    <figure>
                        <blockquote class="blockquote mb-0">
                            <p>MCDONALD S</p>
                        </blockquote>
                        <div class="stars">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                        </div>
                        <figcaption class="blockquote-footer mt-0 mb-0">
                            Adresse: <br> <cite title="Source Title">Rue descartes 02000 chambry</cite>
                        </figcaption>
                    </figure>
                </div>
                <div class="col-md-4">
                    <img class="img-fluid rounded" alt="image"
                        src="https://images.unsplash.com/photo-1592861956120-e524fc739696?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D">
                </div>
            </div>
            {# <div class="row g-0">
                <div class="col-12">
                    <figure>
                        <figcaption class="blockquote-footer mt-0 mb-0">
                            Adresse : <cite title="Source Title">Rue descartes 02000 chambry</cite>
                        </figcaption>
                    </figure>
                </div>
            </div> #}
        </div>
    </div>
    <div class="card mb-3" style="max-width: 540px;">
        <div class="card-body">
            <div class="row g-0">
                <div class="col-12">
                    <h5 class="card-title">RESTAURANT</h5>
                </div>
            </div>
            <div class="row g-0">
                <div class="col-md-8">
                    <figure>
                        <blockquote class="blockquote mb-0">
                            <p>MCDONALD S</p>
                        </blockquote>
                        <div class="stars">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                        </div>
                        <figcaption class="blockquote-footer mt-0 mb-0">
                            Adresse: <br> <cite title="Source Title">Rue descartes 02000 chambry</cite>
                        </figcaption>
                    </figure>
                </div>
                <div class="col-md-4">
                    <img class="img-fluid rounded" alt="image"
                        src="https://images.unsplash.com/photo-1592861956120-e524fc739696?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D">
                </div>
            </div>
            {# <div class="row g-0">
                <div class="col-12">
                    <figure>
                        <figcaption class="blockquote-footer mt-0 mb-0">
                            Adresse : <cite title="Source Title">Rue descartes 02000 chambry</cite>
                        </figcaption>
                    </figure>
                </div>
            </div> #}
        </div>
    </div>
    <div class="card mb-3" style="max-width: 540px;">
        <div class="card-body">
            <div class="row g-0">
                <div class="col-12">
                    <h5 class="card-title">RESTAURANT</h5>
                </div>
            </div>
            <div class="row g-0">
                <div class="col-md-8">
                    <figure>
                        <blockquote class="blockquote mb-0">
                            <p>MCDONALD S</p>
                        </blockquote>
                        <div class="stars">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                        </div>
                        <figcaption class="blockquote-footer mt-0 mb-0">
                            Adresse: <br> <cite title="Source Title">Rue descartes 02000 chambry</cite>
                        </figcaption>
                    </figure>
                </div>
                <div class="col-md-4">
                    <img class="img-fluid rounded" alt="image"
                        src="https://images.unsplash.com/photo-1592861956120-e524fc739696?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D">
                </div>
            </div>
            {# <div class="row g-0">
                <div class="col-12">
                    <figure>
                        <figcaption class="blockquote-footer mt-0 mb-0">
                            Adresse : <cite title="Source Title">Rue descartes 02000 chambry</cite>
                        </figcaption>
                    </figure>
                </div>
            </div> #}
        </div>
    </div>
    <div class="card mb-3" style="max-width: 540px;">
        <div class="card-body">
            <div class="row g-0">
                <div class="col-12">
                    <h5 class="card-title">RESTAURANT</h5>
                </div>
            </div>
            <div class="row g-0">
                <div class="col-md-8">
                    <figure>
                        <blockquote class="blockquote mb-0">
                            <p>MCDONALD S</p>
                        </blockquote>
                        <div class="stars">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                        </div>
                        <figcaption class="blockquote-footer mt-0 mb-0">
                            Adresse: <br> <cite title="Source Title">Rue descartes 02000 chambry</cite>
                        </figcaption>
                    </figure>
                </div>
                <div class="col-md-4">
                    <img class="img-fluid rounded" alt="image"
                        src="https://images.unsplash.com/photo-1592861956120-e524fc739696?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D">
                </div>
            </div>
            {# <div class="row g-0">
                <div class="col-12">
                    <figure>
                        <figcaption class="blockquote-footer mt-0 mb-0">
                            Adresse : <cite title="Source Title">Rue descartes 02000 chambry</cite>
                        </figcaption>
                    </figure>
                </div>
            </div> #}
        </div>
    </div>
    
</div>