<div class="modal fade" id="list_rubrique_for_new_poi" tabindex="-1" aria-labelledby="list_rubrique_for_new_poi" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="list_rubrique_for_new_poi">Quelle rubrique voulez-vous créer ?</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" style="min-height: 140px;">
        <ul class="list-group list-group-flush list_rubrique_for_new_poi_jheo_js">
            <div class="card_mini_chargement card_mini_chargement_jheo_js">
                <div class="containt">
                    <div class="word word-1">C</div>
                    <div class="word word-2">M</div>
                    <div class="word word-3">Z</div>
                </div>
            </div>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
      </div>
    </div>
  </div>
</div>