{% extends 'base.html.twig' %}

{% block title %}ConsoMyZone
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{asset('assets/css/account/account.css')}}">
{% endblock %}

{% block javascripts %}
	<script src="{{ asset('assets/js/account/account.js') }}" defer></script>
{% endblock %}

{% block body %}

	<div class="container">
		<div class="row mx-auto">
			<div class="col-md-1">
           
				<a href="{{path('app_dashboardapropos_fondateur') ~ '?user_id=' ~ userIdP }}">
					<i class="fa-solid fa-arrow-left mt-3"></i>
				</a>
                
			</div>
			<div class="col">
				<h2>Publication de : </h2>
            </div>
            
		</div>

        <div class="card-list-publication-fondateur">
            <div class="row">
                <div class="col-md-1">
                    <img src="{{asset('uploads/users/photos/img_avatar.png')}}" alt="m-pdp">
                </div>
                <p class="col title-nom">
                    Non du publbication <br>
                    <span>publier le </span>
                </p>

                <div class="col-md-2">
                    <i class="fa-solid fa-ellipsis-vertical"></i>
                </div>
            </div>
            <hr>
            <div>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deserunt earum eius placeat similique velit dicta eaque. Facilis, cupiditate autem quod temporibus eos sit dolorem inventore eligendi vitae ab perspiciatis debitis?
                Soluta officiis reprehenderit eos magnam ut praesentium eaque mollitia vero molestiae sunt maxime dicta eligendi perspiciatis ipsum earum nemo, repellendus quidem magni tempore minus iste atque totam itaque voluptas! Illo?
                Omnis iure facere aut quibusdam dolorem provident nesciunt, 
            </div>
            <hr class="reaction-lign-1">
            <div class="reaction">
                <div class="row ">
                    <div class="col">
                        <i class="fa-regular fa-heart"></i>
                    </div>
                    <div class="col">
                        <i class="fa-regular fa-message"></i>
                    </div>
                    <div class="col">
                        <i class="fa-regular fa-share-from-square"></i>
                    </div>
                </div>
            </div>

            <hr class="reaction-lign-2">

        </div>

		

	</div>


{% endblock %}

