{% extends  'base.html.twig'%}
{# {% block stylesheets %}
    <link rel="stylsheet" href="{{asset('assets/css/downloadList.css')}}">
{% endblock %} #}
{% block body %}

<div class="mx-auto">
    <h1>Les guides d'utilisations de cMz.</h1>
    <ul class="guide_cmz mt-5">
        <li class="list-dw">
            <a class="pdf" href="/pdf/1" >ConsoMYzone_Slidedoc_2024_01_08_INTRO_pour_site_web.pdf</a>
        </li>
        <li class="list-dw">
            <a class="pdf" href="/pdf/3">ConsoMYzone_Slidedoc_2024_01_15_Prise_en_main_rapide.pdf</a>
        </li>
        <li class="list-dw">
            <a class="pdf" href="/pdf/2">ConsoMYzone_Slidedoc_2024_01_15_Prise_en_main.pdf</a>
        </li>
    </ul>
</div>
 
{% endblock %}