<button type="button" class="alert_flash_jheo_js" data-bs-toggle="modal" data-bs-target="#alertFlashModal"> Launch demo modal</button>


<div class="modal fade" id="alertFlashModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div>
        <div class="text-center modal-body alert  content_modal_alert_jheo_js">
             
        </div>
       <button type="button" class="d-none close_alertFlashModal_jheo_js" data-bs-dismiss="modal"></button>
    </div>
  </div>
</div>