<div class="modal fade" id="modal_evenement" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<div class="btn-group">
					<button type="button" id="data-view" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
						<i class="bi bi-eye"></i> Calendrier
					</button>
					<ul class="dropdown-menu">
						<li><a class="dropdown-item" href="#"><i class="bi bi-calendar-date"></i>  Calendrier</a></li>
						<li><a class="dropdown-item" href="#"><i class="bi bi-calendar-event"></i>  Événement</a></li>
						<li><a class="dropdown-item" href="#"><i class="bi bi-list-task"></i>  Tâche</a></li>
						<li><a class="dropdown-item" href="#"><i class="bi bi-alarm-fill"></i>  Rappel</a></li>
                        {# {% if has_restaurant == true %}
                            <li><a class="dropdown-item" href="#"><i class="bi bi-cup-hot"></i>  Repas</a></li>
                        {% endif %} #}
					</ul>
				</div>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<div class="wrapper " id="agenda" style="width:100%">
					<header>
						<small class="current-date" id="current-date"></small>
						<div class="icons">
							<span id="prev" class="material-symbols-rounded"><i class="bi bi-chevron-left"></i></span>
							<span id="next" class="material-symbols-rounded"><i class="bi bi-chevron-right"></i></span>
						</div>
					</header>

					<div class="calendar">
					</div>

				</div>

				<div class="tooltipss mt-2">
					<div class="card" style="width: 100%;padding-left:10px; padding-right:10px; " id="agenda-fetched">
					</div>
				</div>

			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger" data-bs-dismiss="modal">Fermer</button>
			</div>
		</div>
	</div>
</div>