<div class="modal fade" id="createAgenda" tabindex="-1" aria-labelledby="modalCreateAgendaTitles" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalCreateAgendaTitles">Création d'un événement</h5>
        <button type="button" class="btn-close btn_close_create_agenda_jheo_js" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container content_input_create_agenda_jheo_js">
            <div class="mb-3">
              <label for="nameEvent" class="form-label">Nom attribuér à votre événement</label>
              <input type="text" name="nameEvent" class="form-control nameEvent_jheo_js" id="typeEvent">
            </div>
            <div class="mb-3">
                <label for="typeEvent" class="form-label">Type de l'événement</label>
                <input type="text" name="typeEvent" class="form-control typeEvent_jheo_js" id="typeEvent"  list="typeEventList" >
                <datalist id="typeEventList">
                    <option value="Repas déjeuné">
                    <option value="Repas dîné">
                </datalist>
            </div>
            <div class="mb-3">
                <label for="lieuEvent" class="form-label">Lieu</label>
                <input type="text" class="form-control lieuEvent_jheo_js" id="lieuEvent">
            </div>
            <div class="mb-3">
                <label for="eventDesc" class="form-label">Description</label>
                <textarea class="form-control eventDesc_jheo_js" id="eventDesc" rows="2"></textarea>
            </div>
            <div class="mb-3">
                <label for="nbrParticipant" class="form-label">Nombre de participants</label>
                <input type="number" min=1 class="form-control nbrParticipant_jheo_js" id="nbrParticipant">
            </div>
            <div class="d-flex mb-3">
                <div class="flex-fill me-2">
                    <label for="eventStart" class="form-label">Date de début</label>
                    <input type="date" class="form-control eventStart_jheo_js" id="eventStart" required>
                </div>
                <div class="flex-fill ms-2">
                    <label for="eventEnd" class="form-label">Date de fin</label>
                    <input type="date" class="form-control eventEnd_jheo_js" id="eventEnd" required>
                </div>
            </div>
            <div class="d-flex mb-3">
                <div class="flex-fill me-2">
                    <label for="timeStart" class="form-label">Heure de début</label>
                    <input type="time" class="form-control timeStart_jheo_js" id="timeStart" required>
                </div>
                <div class="flex-fill ms-2">
                    <label for="timeEnd" class="form-label">Heure de fin</label>
                    <input type="time" class="form-control timeEnd_jheo_js" id="timeEnd" required>
                </div>
            </div>
            <div class="mb-3">
                <label for="nbrParticipant" class="form-label">Si vous avez des fichier</label>
                {% include 'shard/input/inputImageDragDrop.html.twig' %}
            </div>

            <div class="form-check form-switch">
              <input class="form-check-input confidEvent_jheo_js" type="checkbox" id="confid" >
              <label class="form-check-label" for="confid" >Tout le monde peut voir votre agenda?</label>
            </div>

        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary cta_cancel_create_agenda_jheo_js" data-bs-dismiss="modal">Annuler</button>
        <button type="button" class="btn btn-primary cta_confirm_create_agenda_jheo_js">Créer</button>
      </div>
    </div>
  </div>
</div>