<div class="modal fade" id="deleteCommModalConfirm" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel_pub">Suppression</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <span>Voulez-vous confirmer la suppression ?</span>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-success" data-bs-dismiss="modal"><i class="bi bi-x-circle"></i> Annuler</button>
        <button type="button" class="btn btn-outline-danger" id="data-pub-id-comm" onclick="removeCommentaire(this)" data-bs-dismiss="modal"><i class="bi bi-trash3"></i> Oui</button>
      </div>
    </div>
  </div>
</div>