<!-- templates/shard/modal/-->
<div class="modal fade" id="mediaModalTribu" tabindex="-1" aria-labelledby="mediaModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" id="modal-dialog-camera">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="mediaModalLabel">Votre caméra</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" data-bs-target="#addPictureModal" data-bs-toggle="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <div id="containerCamera"></div>
      </div>
    </div>
  </div>
</div>