<!-- Modal -->
<div class="modal fade" id="detailPublication" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header" id="detailHead">
        <h4 class="modal-title fs-5" id="exampleModalLabel">Détail de la publication</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p id="detailDescriprion"></p>
        <img id="detailImage" class="image-detail-publication d-none">
        <div id="detailReaction"></div>
      </div>
      <div class="modal-footer p-1">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
      </div>
    </div>
  </div>
</div>