<div class="modal fade" id="modalGalleryPhoto" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content modal-content-gallery">
			<button type="button" class="btn-close-custom-elie" data-bs-dismiss="modal" aria-label="Close" onclick="closeModalGallery()">
				<i class="fa-regular fa-rectangle-xmark"></i>
			</button>
			<div class="modal-body body-gallery" id="bodyGalleryPhoto"></div>
			<div class="modal-footer footer-gallery" id="footerGalleryPhoto"></div>
		</div>
	</div>
</div>
