{# Modal input avis ( resto, golf, ...) #}
{# relation avec les details des rubruique #}
<div class="modal fade modal-avie-mobile-tomm-js" id="modalAvis" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" aria-labelledby="modalAvisLabel" aria-hidden="true"> <div class="modal-dialog modal-dialog-scrollablee">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title title_modal_jheo_js" id="modalAvisLabel">Donner votre avis</h5>
				{# <button type="button" class="btn-close" data-bs-dismiss="modal" data-bs-toggle="modal" data-bs-target="#staticBackdrop" onclick="showListAvie()"></button> #}
				<button type="button" class="btn-close close_modal_input_avis_jheo_js" data-bs-dismiss="modal" data-bs-toggle="modal"></button>
			</div>
			<div class="modal-body">
				<form>
					{# <div class="mb-3"> #}
					<label for="text-note" class="col-form-label">Donner une note sur 4:</label>
					{# <textarea class="form-control note_number_jheo_js text-note-mobile-tomm-js" id="text-note"></textarea> #}
					<input class="form-control note_number_jheo_js text-note-mobile-tomm-js" id="text-note"/>
					<label for="message-text" class="col-form-label">Commentaire:</label>
					{# <textarea class="form-control note_avis_jheo_js" id="message-text"></textarea> #}
					<input
					class="form-control note_avis_jheo_js" id="message-text"/>
					
					{# <div class="audio-record">
						<i class="fa-solid fa-microphone start_audio_avis_elie_js"><span class="audio_tooltip_start">Démarrer un avis vocal</span></i>
						<i class="fa-solid fa-stop red stop_audio_avis_elie_js d-none"><span class="audio_tooltip_stop">Enregistrer l'avis vocal</span></i>
					</div> #}
					<div class="d-flex record">
						<div class="audio-record">
							<i class="fa-solid fa-microphone start_audio_avis_elie_js" id="start_audio_avis_elie_js">
								<span class="audio_tooltip_start">Démarrer un avis vocal</span>
							</i>
							{# <i class="fa-solid fa-chevron-up chevron-options"></i> #}
							<i class="fa-solid fa-stop red stop_audio_avis_elie_js d-none" id="stop_audio_avis_elie_js">
								<span class="audio_tooltip_stop">Enregistrer l'avis vocal</span>
							</i>
						</div>
						<div class="camera-record d-none">
							<i class="fa-solid fa-camera start_audio_avis_elie_js" id="start_camera_avis_elie_js">
								<span class="audio_tooltip_start">Démarrer un caméra</span>
							</i>
							{# <i class="fa-solid fa-stop red stop_audio_avis_elie_js d-none" id="start_camera_avis_elie_js"><span class="audio_tooltip_stop">Enregistrer l'avis vidéo ou image</span></i> #}
						</div>
					</div>
					
					<div class="d-flex flex-column vocal_display_elie_js mt-1 d-none"></div>
					
					{# </div> #}
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-warning send_avis_jheo_js" onclick="addAvis()">Envoyer</button>
				<button type="button" class="d-none btn_open_modal_list_avis_jheo_js" data-bs-dismiss="modal" data-bs-toggle="modal" data-bs-target="#staticBackdrop"></button>
			</div>
		</div>
	</div>
</div>

{# Modal input avis ( resto, golf,...) #}
<div class="modal" tabindex="-1" id="modalCameraAvis">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Caméra</h5>
				<button type="button" class="btn-close close_mediarecorder" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="m-2 rounded p-1 d-none" id="optionMedia">

				<div class="d-none d-flex flex-column" id="microOption"></div>

				<div class="d-none d-flex flex-column" id="cameraOption"></div>

			</div>

			<div class="modal-body body-cam" id="containerCameraAvis"></div>
			<div class="modal-footer p-1" id="spinCameraAvis">
				<button type="button" class="btn btn-secondary btn-sm close_mediarecorder" data-bs-dismiss="modal" data-bs-toggle="modal" data-bs-target="#modalAvis">Annuler</button>
			</div>
		</div>
	</div>
</div>

{# Modal input avis ( resto, golf,...) #}
<div class="modal" tabindex="-1" id="modalMicroOption">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Sélectionner un micro de votre choix</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<div class="d-flex flex-column rounded" id="selectMicroOption"></div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" onclick="startRecordingAudio(false)">Démarrer l'enregistrement</button>
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal" data-bs-toggle="modal" data-bs-target="#modalAvis">Annuler</button>
			</div>
		</div>
	</div>
</div>
