<div class="modal fade" id="createAgendaFromTribuT" tabindex="-1" aria-labelledby="modalCreateAgendaTitles" aria-hidden="true">
  <div class="modal-dialog custom_modal_dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalCreateAgendaTitles">Créer un événement</h5>
        <button type="button" class="btn-close btn_close_create_agenda_jheo_js" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body custom_modal">
        <div class="container content_input_create_agenda_jheo_js">
            <div class="mb-3">
              <label for="eventTitle" class="form-label text_black">Titre de l'événement</label>
              <input type="text" name="eventTitle" class="form-control input_black" id="eventTitle" placeholder="Saisir le titre">
            </div>
            <div class="mb-3">
                <div>
                  <label for="typeEvent" class="form-label text_black">Type de l'événement</label>
                  <input type="text" name="typeEvent" class="form-control input_black" id="typeEvent"  placeholder="Saisir le type">
                </div>
            </div>

            <div class="mb-3">
                <div id="etabCMZ">
                  <input type="hidden" name="etabSelectOptions" id="etabSelectOptions">
                  <div class="mt-3">
                    <label for="etabCMZLabel" class="text_black" data-bs-toggle="tooltip" data-bs-placement="top" title="Choisissez parmi les rubriques suivants.">Où se passera votre événement ?</label>
                  </div>
                  
                  <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="etabRadioOptions" id="golfRadio" value="golf" onclick="showDepModalGol()">
                      <label class="text_black" for="golfRadio" data-bs-toggle="tooltip" data-bs-placement="top" title="Golf présent dans CMZ">Golf</label>
                  </div>

                  <div class="form-check form-check-inline mt-2">
                    <input class="form-check-input" type="radio" name="etabRadioOptions" id="restoRadio" value="restaurant" onclick="showDepModal()" checked>
                    <label class="text_black" for="restoRadio" data-bs-toggle="tooltip" data-bs-placement="top" title="Restaurant présent dans CMZ">Restaurant</label>
                  </div>
                  <div class="form-check form-check-inline mt-2">
                    <input class="form-check-input" type="radio" name="etabRadioOptions" id="autreRadio" value="autre" onclick="seletOtherEtab(false)">
                    <label class="text_black" for="autreRadio" data-bs-toggle="tooltip" data-bs-placement="top" title="Si votre établissement n'est pas présent dans les rubriques de CMZ">Saisissez votre établissement</label>
                  </div>

                </div>
            </div>

            <div class="mb-3" id="containerNomEtab">
              <label for="nomEtabEvent" class="form-label text_black">Nom</label>
              <input type="text" name="nomEtabEvent" class="form-control input_black" id="nomEtabEvent" placeholder="Saisir le nom de votre établissement" disabled>
            </div>

            <div class="mb-3 lieuEventContainer" id="containerAdresseEtab">
                <label for="lieuEvent" class="form-label text_black">Adresse</label>
                <input type="text" class="form-control input_black lieuEvent_jheo_js" id="lieuEvent" placeholder = "Saisir l'adresse" disabled>
            </div>
            <div class="mb-3">
                <label for="eventDesc" class="form-label text_black">Description</label>
                <textarea class="form-control input_black eventDesc_jheo_js" id="eventDesc" rows="2" placeholder="Décrire votre événement"></textarea>
            </div>
            <div class="mb-3">
                <label for="nbrParticipant" class="form-label text_black">Nombre de participants</label>
                <input type="number" min=1 class="form-control input_black nbrParticipant_jheo_js" id="nbrParticipant" placeholder="Définir le nombre de participants">
            </div>
            <div class="d-flex mb-3">
                <div class="flex-fill me-2">
                    <label for="eventStart" class="form-label text_black">Date de début</label>
                    <input type="date" class="form-control input_black eventStart_jheo_js" id="eventStart" required>
                </div>
                <div class="flex-fill ms-2">
                    <label for="eventEnd" class="form-label text_black">Date de fin</label>
                    <input type="date" class="form-control input_black eventEnd_jheo_js" id="eventEnd" required>
                </div>
            </div>
            <div class="d-flex mb-3">
                <div class="flex-fill me-2">
                    <label for="timeStart" class="form-label text_black">Heure de début</label>
                    <input type="time" class="form-control input_black timeStart_jheo_js" id="timeStart" required>
                </div>
                <div class="flex-fill ms-2">
                    <label for="timeEnd" class="form-label text_black">Heure de fin</label>
                    <input type="time" class="form-control input_black timeEnd_jheo_js" id="timeEnd" required>
                </div>
            </div>
            {# <button class="btn btn-info btnAddPhoto_nanta_js" data-bs-target="#addPictureModal" data-bs-toggle="modal"><b><i class="bi bi-plus" style="font-size:20px;"></i> Ajouter une photo à votre événement</b></button> #}
            {# <div class="mb-3">
                <label class="form-label non_active">Si vous avez des fichier</label>
                {% include 'shard/input/inputImageDragDrop.html.twig' %}
            </div> #}

        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
        {# <button type="button" class="btn btn-success" data-bs-dismiss="modal" onclick="signinWithGoogleService()">Ajouter à votre Google Agenda</button> #}
        <button type="button" class="btn btn-info d-none" id="shareAgendaBtn"  data-bs-target="#confirmPartageAgenda" data-bs-toggle="modal" data-bs-dismiss="modal">Partager</button>
        <button type="button" class="btn btn-danger d-none" id="deleteAgendaBtn" onclick="deleteAgenda()">Supprimer</button>
        <button type="button" data-action="create" class="btn btn-primary" onclick="getObjectForNewAgenda(event)" id="createOrEditBtn" data-usi="{{app.user.id}}" >Créer</button>
      </div>
    </div>
  </div>
</div>

{% include 'shard/modal/media_modal.html.twig' %}

{% include 'shard/modal/ajout_de_photo_modal.html.twig' %}