{# ///// MODAL FOR CREATE AGENDA #}
<div class="modal fade" id="createAgenda" tabindex="-1" aria-labelledby="modalCreateAgendaTitles" aria-hidden="true">
  <div class="modal-dialog custom_modal_dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalCreateAgendaTitles">Créer un événement</h5>
        {# <button type="button" class="btn-close btn_close_create_agenda_jheo_js" data-bs-dismiss="modal" aria-label="Close"></button> #}
        <button type="button" class="btn-close btn_close_create_agenda_jheo_js" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body custom_modal">
        <div class="container content_input_create_agenda_jheo_js">
            <div class="mb-3">
              <label for="eventTitle" class="form-label text_black">Titre de l'événement</label>
              <input type="text" name="eventTitle" class="form-control input_black" id="eventTitle" placeholder="Saisir le titre">
            </div>
            <div class="mb-3">
                <div>
                  <label for="typeEvent" class="form-label text_black">Type de l'événement</label>
                  <input type="text" name="typeEvent" class="form-control input_black" id="typeEvent"  placeholder="Saisir le type">
                </div>
                {# <div>
                   <div class="form-check form-check-inline">
                    <input class="form-check-input inputRepas_radio_jheo_js" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                    <label class="form-check-label text_black" for="inlineRadio1">Repas</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input inputOther_radio_jheo_js" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                    <label class="form-check-label text_black" for="inlineRadio2">Autre</label>
                  </div>
                </div> #}
            </div>


            {# <div class="mb-3">
                 <label for="repas" class="form-label text_black">Repas</label>
                 <select id="repas" class="form-select form-select-sm input_black" aria-label=".form-select-sm example">
                    <option value="Repas déjeuné" selected> Déjeuné</option>
                    <option value="Repas dîné">Dinné</option>
                </select>
            </div> #}



            {# <div class="mb-3 content_typeEvent_jheo_js">
                <input type="text" name="typeEvent" class="form-control input_black typeEvent_jheo_js" id="typeEvent"  list="typeEventList" placeholder="Tapez votre type...">
            </div> #}

            <div class="mb-3">
                <label for="etablissement" class="form-label text_black">Etablissement</label>
                <select onchange="selectEtab(event)" id="etabSelectOptions" class="form-select form-select-sm input_black" aria-label=".form-select-sm example">
                    <option value = 1>Choisir parmi les établissements présent dans CMZ</option>
                    <option value = 2>Entrer votre établissement</option>
                </select>
                <div id="etabCMZ">

                  <div class="mt-3">
                    <label for="etabCMZLabel">Choisir entre les golf et restaurant</label>
                  </div>
                  
                  <div class="form-check form-check-inline ">
                      {# <input class="form-check-input" type="radio" name="etabRadioOptions" id="golfRadio" value="golf" onchange="handleChangeEtabCMZ(this)"> #}
                      <input class="form-check-input" type="radio" name="etabRadioOptions" id="golfRadio" value="golf" disabled>
                      <label class="form-check-label text-secondary" for="golfRadio">GOLF</label>
                  </div>

                  <div class="form-check form-check-inline mt-2">
                    {# <input class="form-check-input" type="radio" name="etabRadioOptions" id="restoRadio" value="restaurant" onchange="handleChangeEtabCMZ(this)"> #}
                    <input class="form-check-input" type="radio" name="etabRadioOptions" id="restoRadio" value="restaurant" onclick="showDepModal(this)">
                    <label class="form-check-label text_black" for="restoRadio">RESTAURANT</label>
                  </div>

                </div>
            </div>

            {# <div class="d-flex justify-content-center align-items-center mb-3 content_searchResto_jheo_js">
                <div class="flex-fill me-2">
                  <input type="search" name="searchResto" class="form-control" placeholder="Cherchez dans tous">
                </div>
                <div class="flex-fill ms-2">
                    <button type="button" class="btn btn-info chose_pastil_resto_jheo_js">
                      Choisir parmi les pastillés
                    </button>
                </div>
            </div> #}
            
            {# <div class="d-flex justify-content-center align-items-center mb-3 content_searchResto_jheo_js">
                <div class="flex-fill me-2">
                  <label for="searchResto" class="form-label non_active">Recherche</label>
                  <input type="search" name="searchResto" class="form-control input_block searchResto_jheo_js" id="searchResto"  list="searchRestoList" placeholder="Tapez et Entre." disabled>
                </div>
                <div class="flex-fill ms-2">
                    <button type="button" class="btn btn-info chose_pastil_resto_jheo_js">
                      Choisir parmit vos restaurants pastillés
                    </button>
                </div>
            </div> #}

            {# <div class="mb-3 d-none content_restoEvent_jheo_js">
              <label for="restoEvent" class="form-label text_black">Restaurant</label>
              <input type="text" name="restoEvent" class="form-control input_black restoEvent_jheo_js" id="restoEvent" disabled>
            </div> #}

            <div class="mb-3 d-none" id="containerNomEtab">
              <label for="nomEtabEvent" class="form-label text_black">Nom</label>
              <input type="text" name="nomEtabEvent" class="form-control input_black" id="nomEtabEvent" placeholder="Saisir le nom de votre établissement" disabled>
            </div>

            <div class="mb-3 lieuEventContainer d-none" id="containerAdresseEtab">
                <label for="lieuEvent" class="form-label text_black">Adresse</label>
                <input type="text" class="form-control input_black lieuEvent_jheo_js" id="lieuEvent" placeholder = "Saisir l'adresse" disabled>
            </div>
            <div class="mb-3">
                <label for="eventDesc" class="form-label text_black">Description</label>
                <textarea class="form-control input_black eventDesc_jheo_js" id="eventDesc" rows="2" placeholder="Décrire votre événement"></textarea>
            </div>
            <div class="mb-3">
                <label for="nbrParticipant" class="form-label text_black">Nombre de participants</label>
                <input type="number" min=1 class="form-control input_black nbrParticipant_jheo_js" id="nbrParticipant" placeholder="Définir le nombre de participants">
            </div>
            <div class="d-flex mb-3">
                <div class="flex-fill me-2">
                    <label for="eventStart" class="form-label text_black">Date de début</label>
                    <input type="date" class="form-control input_black eventStart_jheo_js" id="eventStart" required>
                </div>
                <div class="flex-fill ms-2">
                    <label for="eventEnd" class="form-label text_black">Date de fin</label>
                    <input type="date" class="form-control input_black eventEnd_jheo_js" id="eventEnd" required>
                </div>
            </div>
            <div class="d-flex mb-3">
                <div class="flex-fill me-2">
                    <label for="timeStart" class="form-label text_black">Heure de début</label>
                    <input type="time" class="form-control input_black timeStart_jheo_js" id="timeStart" required>
                </div>
                <div class="flex-fill ms-2">
                    <label for="timeEnd" class="form-label text_black">Heure de fin</label>
                    <input type="time" class="form-control input_black timeEnd_jheo_js" id="timeEnd" required>
                </div>
            </div>
            <div class="mb-3 non_active">
                <label class="form-label non_active">Si vous avez des fichier</label>
                {% include 'shard/input/inputImageDragDrop.html.twig' %}
            </div>

        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary cta_cancel_create_agenda_jheo_js" data-bs-dismiss="modal">Annuler</button>
        <button type="button" class="btn btn-info" id="shareAgendaBtn"  data-bs-target="#confirmPartageAgenda" data-bs-toggle="modal" data-bs-dismiss="modal">Partager</button>
        <button type="button" class="btn btn-danger d-none" id="deleteAgendaBtn" onclick="deleteAgenda()">Supprimer</button>
        <button type="button" data-action="create" class="btn btn-primary" onclick="getObjectForNewAgenda(event)" id="createOrEditBtn">Créer</button>
      </div>
    </div>
  </div>
</div>

{# ///// END MODAL FOR CREATE AGENDA #}

{# ///// MODAL FOR LIST RESTO #}
<button class="d-none listRestoModal_jheo_js" data-bs-target="#listRestoModal" data-bs-toggle="modal" data-bs-dismiss="modal"></button>


<div class="modal fade" id="listRestoModal" aria-hidden="true" aria-labelledby="listRestoModal_label" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title listResto_title_jheo_js" id="listRestoModa_label">Résultat de restaurant trouver</h5>
        <button type="button" class="btn-close cta_close_list_resto_jheo_js" data-bs-target="#createAgenda" data-bs-toggle="modal" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body custom_modal">
        <div class="content_list_resto content_list_resto_js">
          <div class="list_resto">
            <table class="table table-striped ">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Nom</th>
                  <th scope="col">Adress</th>
                  <th scope="col">Action</th>
                </tr>
              </thead>
              <tbody class="list_tr_resto_jheo_js">
                {# <tr>
                  <th>1</th>
                  <td>La debotte</td>
                  <td>Otto</td>
                  <td><button type="button" class="btn btn-outline-info" onclick="setRestoAgenda({ name:'La debotte',adress: 'adresse resto la debotte'} ,this)">Pastillé</button></td>
                </tr> #}
              </tbody>
            </table>
          </div>
        </div>
        <div class="content_chargement content_chargement_jheo_js">

        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-info cta_close_list_resto_jheo_js" data-bs-target="#createAgenda" data-bs-toggle="modal" data-bs-dismiss="modal">Terminer</button>
      </div>
    </div>
  </div>
</div>

{# ///// END MODAL FOR LIST RESTO #}



{# MODAL FOR GOLF OR RESTO #}
<div class="modal fade" id="listRestoOrGolfModal" aria-hidden="true" aria-labelledby="listRestoOrGolfModal_label" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <a href="#" data-bs-target="#listDepModal" data-bs-toggle="modal" data-bs-dismiss="modal">
          <svg version="1.0" xmlns="http://www.w3.org/2000/svg" width="3vw" height="3vh" viewBox="0 0 128.000000 128.000000" preserveAspectRatio="xMidYMid meet">

            <g transform="translate(0.000000,128.000000) scale(0.100000,-0.100000)" fill="#000000" stroke="none">
              <path d="M215 835 c-94 -69 -170 -130 -170 -137 0 -15 335 -257 358 -258 15 0
              17 11 17 96 l0 97 90 -7 c174 -13 337 -77 472 -184 72 -57 183 -183 213 -243
              9 -16 20 -29 25 -29 6 0 -4 28 -21 63 -148 295 -406 481 -741 532 l-37 6 -3
              92 c-2 72 -6 92 -18 94 -8 2 -91 -53 -185 -122z"></path>
            </g>
          </svg>
        </a>
        <ul class="nav nav-tabs ml-3" id="smallNavInvitation">
          <li class="nav-item">
            <a class="nav-link text-secondary active" aria-current="page" href="#" onclick="activeOnglet(this)">Tous</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-secondary" href="#" onclick="activeOnglet(this)">Pastillé</a>
          </li>
        </ul>
        <button type="button" class="btn-close cta_close_list_resto_jheo_js" data-bs-target="#createAgenda" data-bs-toggle="modal" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body custom_modal">
        <div class="container_list">
        
          <div class="mb-3">
            <form action="/search/restaurant" method="get" class="bar-de-recherche form_content_search_navbar_js">
              <input type="text" name="cles0" class="form-control input-recherche-navbar input_search_type_js" placeholder="Quoi ?" id="cleQuoiAgenda" disabled>
              <input type="text" name="cles1" list="datalistOptions" class="form-control input-recherche-navbar mx-3 input_mots_cle_js" placeholder="Où ?" id="cleOuAgenda" disabled>
              <datalist id="datalistOptions"></datalist>
              <button type="submit" class="hidden"></button>
            </form>
          </div>
          <div class="list_resto_or_golf">
              <table class="table table-striped" id="tableEtabCMZ">
                <thead>
                  <tr>
                    {# <th scope="col" class="d-none forLogo">Logo</th>
                    <th scope="col" class="d-none forTribu">TribuT</th> #}
                    <th scope="col">Nom</th>
                    <th scope="col">Adresse</th>
                    <th scope="col">Téléphone</th>
                    <th scope="col">Action</th>
                  </tr>
                </thead>
                <tbody>
                  {# <tr>
                    <td>ROYAT BURGER</td>
                    <td>2bis allard 63130 royat</td>
                    <td>
                      <button type="button" class="btn btn-outline-info">Choisir</button>
                    </td>
                  </tr> #}
                </tbody>
              </table>
          </div>
          {# <div class="list_resto_or_golf_past d-none">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">Nom</th>
                    <th scope="col">Adresse</th>
                    <th scope="col">Action</th>
                  </tr>
                </thead>
                <tbody>
                  
                </tbody>
              </table>
          </div> #}
          {# <div class="chargement_content content_chargement_nanta_js mt-3 mb-3"></div> #}
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-info cta_close_list_resto_jheo_js" data-bs-target="#createAgenda" data-bs-toggle="modal" data-bs-dismiss="modal">Terminer</button>
      </div>
    </div>
  </div>
</div>

{# END MODAL #}

{# ///// MODAL FOR ERROR ANGENDA CREATE #}
<button class="d-none invalid_agenda_jheo_js" data-bs-target="#popup_invalid_agenda_jheo_js" data-bs-toggle="modal" data-bs-dismiss="modal"></button>

<div class="modal fade" id="popup_invalid_agenda_jheo_js" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="alert alert-danger text-center" role="alert">
      Veuillez complète tous les nécessaires.
    </div>
    <button type="button" class="d-none close_modal_invalid_agenda_jheo_js" data-bs-target="#createAgenda" data-bs-toggle="modal" data-bs-dismiss="modal">></button>
  </div>
</div>

{# MODAL FOR LIST DEP #}
<div class="modal fade" id="listDepModal" aria-hidden="true" aria-labelledby="listDepModal_label" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <a href="#" data-bs-target="#createAgenda" data-bs-toggle="modal" data-bs-dismiss="modal">
          <svg version="1.0" xmlns="http://www.w3.org/2000/svg" width="3vw" height="3vh" viewBox="0 0 128.000000 128.000000" preserveAspectRatio="xMidYMid meet">

            <g transform="translate(0.000000,128.000000) scale(0.100000,-0.100000)" fill="#000000" stroke="none">
              <path d="M215 835 c-94 -69 -170 -130 -170 -137 0 -15 335 -257 358 -258 15 0
              17 11 17 96 l0 97 90 -7 c174 -13 337 -77 472 -184 72 -57 183 -183 213 -243
              9 -16 20 -29 25 -29 6 0 -4 28 -21 63 -148 295 -406 481 -741 532 l-37 6 -3
              92 c-2 72 -6 92 -18 94 -8 2 -91 -53 -185 -122z"></path>
            </g>
          </svg>
        </a>
        <ul class="nav nav-tabs ml-3">
          <li class="nav-item">
            <a class="nav-link text-secondary active" aria-current="page" href="#" onclick="activeOngletForDep(this)">Choisissez un département,</br> puis choisissez l'établissement où se passera votre événement.</a>
          </li>
          <li class="nav-item d-none">
            <a class="nav-link text-secondary" href="#" onclick="activeOngletForDep(this)">Pastillé</a>
          </li>
        </ul>
        <ul class="nav nav-tabs ml-3 d-none" id="smallNavInvitationDep">
          <li class="nav-item">
            <a class="nav-link text-secondary active" aria-current="page" href="#" onclick="activeOngletForDep(this)">Choisissez un département,</br> puis choisissez l'établissement où se passera votre événement.</a>
          </li>
          <li class="nav-item d-none">
            <a class="nav-link text-secondary" href="#" onclick="activeOngletForDep(this)">Pastillé</a>
          </li>
        </ul>
        <button type="button" class="btn-close cta_close_list_resto_jheo_js" data-bs-target="#createAgenda" data-bs-toggle="modal" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body custom_modal">
        <div class="container_list_dep">
        
        </div>
      </div>
      <div class="modal-footer">
        <input type="hidden" name="hidden" id="hiddenListDep">
        <button class="btn btn-danger cta_close_list_resto_jheo_js" data-bs-target="#createAgenda" data-bs-toggle="modal" data-bs-dismiss="modal">Fermer</button>
      </div>
    </div>
  </div>
</div>

{# MODAL FOR DETAIL ETAB #}
<div class="modal fade" id="detailEtabModal" aria-hidden="true" aria-labelledby="detailEtabModal_label" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        {# <h5 class="modal-title">Détail</h5> #}
        <div class="content_etab_detail">
        </div>
        <button type="button" class="btn-close" data-bs-target="#listRestoOrGolfModal" data-bs-toggle="modal" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        
      </div>
      <div class="modal-footer">
        <button class="btn btn-danger" data-bs-target="#listRestoOrGolfModal" data-bs-toggle="modal" data-bs-dismiss="modal">Fermer</button>
      </div>
    </div>
  </div>
</div>