<div class="modal fade" id="modalPartageMessage" tabindex="-1" aria-labelledby="modalPartageMessageLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalPartageMessageLabel">Transférer votre message à vos amis:</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" id="close_message_shared_faniry_js" aria-label="Close"></button>
      </div>
      <div class="modal-body" id="modal_Partage_Message_Faniry_js">
        <div class="d-flex justify-content-center loader-fan d-none">
           <div class="spinner-border text-primary" role="status">
                <span class="visually-hidden">Loading...</span>
          </div>
        </div>
        <div class="search_bar">
        
        </div>
        
        <div class="result_search">
        
        </div>
       
        <div class="contacts">
            
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger btnn-ef-click" id="canceled_message_shared_faniry_js" data-bs-dismiss="modal">Annulez</button>
        <button type="button" class="btn btn-success btnn-ef-click" id="patager_message_faniry_js" disabled>Transférer</button>
      </div>
    </div>
  </div>
</div>