
{# CONFIRM PARTAGE AGENDA #}
<div class="modal fade" id="confirmPartageAgenda" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title modal_title_event_jheo_js" id="modalShowEvent">Confirmation</h5>
        </div>
        <div class="modal-body">
            Veuillez partager cette agenda ?
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-bs-target="#listPartisantInTribu" data-bs-toggle="modal" data-bs-dismiss="modal">OUI</button>
            <button type="button" class="btn btn-danger" data-bs-target="#createAgenda" data-bs-toggle="modal" data-bs-dismiss="modal">NON</button>
        </div>
    </div>
  </div>
</div>

{# MODAL FOR GOLF OR RESTO #}
<div class="modal fade" id="listPartisantInTribu" aria-hidden="true" aria-labelledby="listRestoOrGolfModal_label" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <a href="#" data-bs-target="#createAgenda" data-bs-toggle="modal" data-bs-dismiss="modal">
          <svg version="1.0" xmlns="http://www.w3.org/2000/svg" width="3vw" height="3vh" viewBox="0 0 128.000000 128.000000" preserveAspectRatio="xMidYMid meet">

            <g transform="translate(0.000000,128.000000) scale(0.100000,-0.100000)" fill="#000000" stroke="none">
              <path d="M215 835 c-94 -69 -170 -130 -170 -137 0 -15 335 -257 358 -258 15 0
              17 11 17 96 l0 97 90 -7 c174 -13 337 -77 472 -184 72 -57 183 -183 213 -243
              9 -16 20 -29 25 -29 6 0 -4 28 -21 63 -148 295 -406 481 -741 532 l-37 6 -3
              92 c-2 72 -6 92 -18 94 -8 2 -91 -53 -185 -122z"></path>
            </g>
          </svg>
        </a>
        <ul class="nav nav-tabs ml-3" id="smallNavInvitation">
          <li class="nav-item">
            <a class="nav-link text-secondary list_partisant_tous_jheo_js active" aria-current="page" href="#" onclick="tableActiveFilterPartisant(this)">Tous</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-secondary list_partisant_tribuG_jheo_js" href="#" onclick="tableActiveFilterPartisant(this)">Tribu G</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-secondary list_partisant_tribuT_jheo_js" href="#" onclick="tableActiveFilterPartisant(this)">Tribu T</a>
          </li>
        </ul>
        <button type="button" class="btn-close cta_close_list_resto_jheo_js" data-bs-target="#createAgenda" data-bs-toggle="modal" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body custom_modal">
        <div class="container_list">
            <div class="form-check float-end mb-3">
                <input class="form-check-input" type="checkbox" value="" id="checkTous" name="checkTous" >
                <label class="form-check-label user-select-none" for="checkTous">
                    Séléctionner tous
                </label>
            </div>
            <div class="list_resto_or_golf">
                <table class="table table-striped" id="tableEtabCMZ">
                    <thead>
                    <tr>
                        {# <th scope="col" class="d-none forLogo">Logo</th>
                        <th scope="col" class="d-none forTribu">TribuT</th> #}
                        <th scope="col">Nom</th>
                        <th scope="col">Adresse</th>
                        <th scope="col">Téléphone</th>
                        <th scope="col">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    {# <tr>
                        <td>ROYAT BURGER</td>
                        <td>2bis allard 63130 royat</td>
                        <td>
                        <button type="button" class="btn btn-outline-info">Choisir</button>
                        </td>
                    </tr> #}
                    </tbody>
                </table>
            </div>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-info cta_close_list_resto_jheo_js" data-bs-target="#createAgenda" data-bs-toggle="modal" data-bs-dismiss="modal">Terminer</button>
      </div>
    </div>
  </div>
</div>
