{% import 'shard/input/textEditor.twig' as textEditor %}
{# CONFIRM PARTAGE AGENDA #}
<div class="modal fade" id="confirmPartageAgenda" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
        <h3 class="mx-auto mt-4">Voulez-vous partager ?</h3>
        <div class="mx-auto mt-3">
            <a href="{{path('app_partage_agenda')}}" class="btn btn-primary">OUI</a>
            <button type="button" class="btn btn-danger" data-bs-target="#createAgenda" data-bs-toggle="modal" data-bs-dismiss="modal">NON</button>
        </div>
    </div>
  </div>
</div>

{# CONFIRM PARTAGE AGENDA du partage #}
<div class="modal fade " id="confirmPartageAgendaTribu" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<h3 class="mx-auto mt-4">Voulez-vous partager ?</h3>
			<div class="mx-auto mt-3 mb-3">
				<a href="" class="btn btn-primary">OUI</a>
				<button type="button" class="btn btn-danger" data-bs-target="#createAgenda" data-bs-toggle="modal" data-bs-dismiss="modal">NON</button>
			</div>
		</div>
	</div>
</div>

<<<<<<< HEAD

  <div class="modal fade" id="ModalPartisonsSelect" aria-hidden="true" aria-labelledby="listRestoOrGolfModal_label" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="ms-5 mt-4 mb-4"><i class="fa-solid fa-list"></i> Liste des partisans que vous avez sélectionner</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body custom_modal">
          <div class="container_list">
              <div class="list_resto_or_golf_modal" id="list-partisans-tribu-t-partage-agenda">
                  <table id="list-partisans-tribu-selection" class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Profile</th>
                            <th scope="col">Nom</th>
                            <th scope="col">Prenom</th>
                            <th scope="col">Tribu</th>
                            <th scope="col">
                                <input type="checkbox" class="selectTribuGAll" name="selectionner" id="selectTribuGAll" onclick="selectTribuGAll(this)"> 
                                <label for="selectionner">Sélection</label></th>
                            </th>

                        </tr>
                    </thead>
                    <tbody id="list-partisans-tribu-selection-ckecked">
                        
                    </tbody>
                  </table>
              </div>
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-info   ">Terminer</button>
=======
<div class="modal fade" id="emailTemplateModal" tabindex="-1" aria-labelledby="emailTemplateModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="emailTemplateModalLabel" >Veuillez valider ou modifier votre invitation</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="indication">
          Les parties en fond orange seront remplies automatiquement par l'application CMZ <br>
          La partie en bleue est à remplir par vous. <br>
          Les restes du texte sont modifiables
>>>>>>> dev
        </div>
        {{ textEditor.textEditor() }}
        <div class="container_list"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-g="true" onclick="sendInvitation(event)" id="btnValidate">Valider</button>
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Annuler</button>
      </div>
    </div>
  </div>
</div>