<div class="modal fade" id="showAgenda" tabindex="-1" aria-labelledby="modalShowEvent" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title modal_title_event_jheo_js" id="modalShowEvent">Evenement</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container content_input_view_agenda_jheo_js">
            <div class="mb-3">
              <label for="nameEvent" class="form-label">Nom de l'événement</label>
              <input type="text" name="nameEvent" class="form-control nameEvent_jheo_js" id="nameEvent" disabled>
            </div>
            <div class="mb-3">
                <label for="typeEvent" class="form-label">Type de l'événement</label>
                <input type="text" class="form-control typeEvent_jheo_js" id="typeEvent" disabled>
            </div>
            <div class="mb-3">
                <label for="lieuEvent" class="form-label">Lieu</label>
                <input type="text" class="form-control lieuEvent_jheo_js" id="lieuEvent" disabled>
            </div>
            <div class="mb-3">
                <label for="eventDesc" class="form-label">Description</label>
                <textarea class="form-control eventDesc_jheo_js" id="eventDesc" rows="2" disabled></textarea>
            </div>
            <div class="d-flex mb-3">
                <div class="flex-fill me-2">
                  <label for="nbrParticipantMax" class="form-label">Nombre de participants maximun</label>
                  <input type="number" min=1 class="form-control nbrParticipantMax_jheo_js" id="nbrParticipant" disabled >
                </div>
                <div class="flex-fill ms-2">
                  <label for="nbrParticipantCur" class="form-label">Nombre de participants actuellement</label>
                  <input type="number" min=1 class="form-control nbrParticipantCur_jheo_js" id="nbrParticipantCur" value="0" disabled >
                </div>
            </div>
            <div class="d-flex mb-3">
                <div class="flex-fill me-2">
                    <label for="dateStart" class="form-label">Date de début</label>
                    <input type="date" class="form-control dateStart_jheo_js" id="dateStart" disabled >
                </div>
                <div class="flex-fill ms-2">
                    <label for="dateEnd" class="form-label">Date de fin</label>
                    <input type="date" class="form-control dateEnd_jheo_js" id="dateEnd" disabled >
                </div>
            </div>
            <div class="d-flex mb-3">
                <div class="flex-fill me-2">
                    <label for="timeStart" class="form-label">Heure de début</label>
                    <input type="time" class="form-control timeStart_jheo_js" id="timeStart" disabled >
                </div>
                <div class="flex-fill ms-2">
                    <label for="timeEnd" class="form-label">Heure de fin</label>
                    <input type="time" class="form-control timeEnd_jheo_js" id="timeEnd" disabled >
                </div>
            </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary d-none cta_cancel_edit_agenda_jheo_js">Annuler la modification</button>
        <button type="button" class="btn btn-primary cta_update_agenda_jheo_js">Voulez-vous modifier?</button>
      </div>
    </div>
  </div>
</div>