<div class="modal fade" id="modal_show_photo" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-body">
      <button type="button" class="btn-close float-end" data-bs-dismiss="modal" aria-label="Close"></button>
        <img id="img_modal" style="width:100%">
      </div>
      
    </div>
  </div>
</div>