#calendar {
  max-width: 900px;
  margin: 0 auto;
}

#calendar .fc-view-container {
  padding: 30px;
  background-color: #fff;
  -webkit-box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.2);
}

.td_day{
  cursor: pointer!important;
}

.td_day::hover{
  background: rgb(2,0,36);
  background: linear-gradient(196deg, rgba(2,0,36,1) 1%, rgba(210,220,240,0.10407913165266103) 4%, rgba(0,212,255,1) 100%);
}

.content_chargement{
  position: absolute;
  top: 60%;
  width: 100%;
}

.custom_modal{
  overflow-x: hidden !important;
}

.chargement_content {
  width: auto !important;
  height: auto !important;
}

.opacity_03{
  opacity: 0.3 !important;
}

.repas{
  background-color: aqua;
}

.other_event{
  background-color: cadetblue;
}

.text_black{
  font-weight: 500;
  color: black;
}

.input_black{
  border: 1.9px solid black;
}

.image-upload-wrap, .input_block{
  cursor: not-allowed !important;
  pointer-events: none !important;
  cursor: not-allowed !important;

}