{# /////SHOW DETAILS STATION #}
<div class="navleft-detail fixed-top hidden key_draggable_details_jheo_js" id="remove-detail-station">
	<nav>
<div class="content_icon_draggable content_icon_draggable_jheo_js">
			<div class="message_tooltip_drag d-none message_tooltip_drag_jheo_js">Cliquez ici pour déplacer cette fiche.</div>
			<i class="fa-solid fa-up-down-left-right icon_draggable_jheo_js"></i>
		</div>
		<div id="close-detail-station">
			<i class="fa-solid fa-x"></i>
		</div>
		<div class="content_description" id="content-details-station">
			{# THE CONTENT IS GENERATE BY THE JS #}
		</div>
	</nav>
</div>
