<div class="row " style="height:100% ; margin-top:150px">
	<div class="col-lg-9  mx-auto" style="height:100%">
		<div class="container">
            <div class="card">
                <div class="card-body">
                    <h5>{{notification.title}}</h5>
                    <h6 class="card-subtitle mb-2 text-muted font-italic"> from: {{notification.poster}} </h6>
                    <p class="card-text">
                        {{notification.content}}
                    </p>
                </div>
            </div>
        </div>
	</div>
</div>