{% extends 'base.html.twig' %}

{% block title %}ConsoMyZone{% endblock %}

{% block stylesheets %}

<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css" integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI=" crossorigin=""/>
<script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js" integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM=" crossorigin=""></script>
<link rel="stylesheet" href="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.css"/>
<script src="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js"></script>





{% endblock %}

{% block javascripts %}

<script src="{{asset('/assets/js/addEtab/addEtab.js')}}" defer></script>

{% endblock %}

{% block body %}
    <div class="carte text-center">
        <h2>Où êtes-vous situé ?</h2>
        <p>Faites glisser la carte, puis zoomez pour placer le repère à l'emplacement exact de votre établissement. Après clickez sur suivant</p>
        <a href="{{path('app_create_etab_suit')}}" class="btn btn-outline-info mb-2" id="etab-next-cart">Suivant</a>

        <div id="map" style=" height: 500px; width:50% ;margin-left: auto;margin-right: auto;"></div>
    </div>
{% endblock %}

