{% extends 'base.html.twig' %}

{% block title %}ConsoMyZone{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{asset('assets/css/addEtab/add_etab.css')}}">
{% endblock %}

{% block javascripts %}
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <h2 class="text-center">Choix de votre activité</h2>
        <div class="btn-choix-etab mt-5">
            <div class="choix-f mt-2">
                <a href="{{path('app_create_etab')}}" class="btn btn-outline-info">Ferme</a>
            </div>
            <div class="choix-r mt-2">
                <a href="" class="btn btn-outline-info">Réstaurant</a>
            </div>
            <div class="choix-s mt-2">
                <a href="" class="btn btn-outline-info">Station</a>
            </div>
        </div>
    </div>
{% endblock %}

