{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid container_error_page">
    
        <div class="error_page">
            <div class="mx-auto">
                <h2 class="text-danger">Page non trouvée</h2>
                <p>
                  La page demandée est introuvable. <br> Vérification pour toute faute d'orthographe d'URL<br>
                  ou  <br>
                  <a class="btn btn-primary text-white" href="{{ path('app_account') }}">Retour à la page d'accueil</a>
                </p>
            </div>
        </div>
    </div>
{% endblock %}