{% extends 'base.html.twig' %}

{% block title %}
	ConsoMyZone : Actualité
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{asset('assets/css/account/style.css')}}">

{% endblock %}

{% block javascripts %}
    

{% endblock %}

{% block body %}
<div class="nh">
    {% include 'shard/account_navleft_new.html.twig' %}
    {% include 'shard/account_navbar_new.html.twig' %}
    <!-- ===== Main Content Start ===== -->
    <main class="gv hm hv content-actualite-connected">
        <div class="sk bu 2xl:ud-p-11">
            <div class="lc kg hg av vg au 2xl:ud-gap-7.5 yb ot 2xl:ud-mt-7.5">
                <!-- ====== Chart pub One Start -->
                <div class="yd uf 2xl:ud-max-w-230 rh ni bj wr nj xr content-pub">
                    <div class="head-pub">
                        <div class="pdp-content">
                            <img src="/assets/image/img_avatar3.png" alt="">
                        </div>
                        <div class="name-content-h">
                            <div class="name-content" >
                                <p class="form-pub">Partagez ce que vous pensez, Tommy...</p>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="icon-piece-join">
                        <i class="fa-solid fa-camera"></i>
                        <i class="fa-solid fa-paperclip"></i>
                    </div>
                    
                </div>
                <!-- ====== Chart pub One End -->
            </div>
             
            <div class="lc kg hg av vg au 2xl:ud-gap-7.5 yb ot 2xl:ud-mt-7.5">
                <!-- ====== Chart One Start -->
                <div class="yd uf 2xl:ud-max-w-230 rh ni bj wr nj xr content-pub">
                    <div class="head-pub">
                        <div class="pdp-content">
                            <img src="/assets/image/img_avatar3.png" alt="">
                        </div>
                        <div class="name-content-h">
                            <div class="name-content">
                                <h5> &ensp;Tommy RAMIHOATRARIVO &ensp;</h5>
                                <p  class="p-title"> a publié sur <span>tribu T</span></p>
                            </div>
                            <div class="status-content d-flex">
                                <p class="p-heure"> Il y a 1 heure</p>
                                <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                                    
                                    <div class="btn-group" role="group">
                                        
                                        <button id="btnGroupDrop1" class="dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa-solid fa-earth-oceania"></i> </button>
                                        <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                            <a class="dropdown-item" href="#">Modifier le status</a>
                                            
                                        </div>
                                    </div>
                                </div>

                                
                            </div>
                        </div>
                        <div class="param-content">
                            <i class="fa-solid fa-ellipsis"></i>
                        </div>

                        
                    </div>
                        
                    <div class="card-pub-actu">
                        <p class="text-pub"> Lorem ipsum dolor sit amet consectetur adipisicing elit. In saepe a magnam, molestias libero dolor quam error minima iusto officia. </p>
                        <img src="https://img.mesrecettesfaciles.fr/wp-content/uploads/2019/01/pennesauceauchorizolight-1000x500.jpg" alt="">
                    </div>

                    <div class="card-reaction">
                        <p class="text-comment"> 12 commentaire</p>
                        <div class="reaction-icon d-flex">
                            <i class="bi-heart like"></i>
                            <i class="fa-regular fa-comment comment" ></i>
                        </div>
                    </div>
                    
                </div>
                <!-- ====== Chart One End -->
                

            </div>

            <div class="lc kg hg av vg au 2xl:ud-gap-7.5 yb ot 2xl:ud-mt-7.5">
                <!-- ====== Chart One Start -->
                <div class="yd uf 2xl:ud-max-w-230 rh ni bj wr nj xr content-pub">
                    <div class="head-pub">
                        <div class="pdp-content">
                            <img src="/assets/image/img_avatar3.png" alt="">
                        </div>
                        <div class="name-content-h">
                            <div class="name-content">
                                <h5> &ensp;Tommy RAMIHOATRARIVO &ensp;</h5>
                                <p  class="p-title"> a publié sur <span>tribu T</span></p>
                            </div>
                            <div class="status-content d-flex">
                                <p class="p-heure"> Il y a 1 heure</p>
                                <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                                    
                                    <div class="btn-group" role="group">
                                        
                                        <button id="btnGroupDrop1" class="dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa-solid fa-earth-oceania"></i> </button>
                                        <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                            <a class="dropdown-item" href="#">Modifier le status</a>
                                            
                                        </div>
                                    </div>
                                </div>

                                
                            </div>
                        </div>
                        <div class="param-content">
                            <i class="fa-solid fa-ellipsis"></i>
                        </div>

                        
                    </div>
                        
                    <div class="card-pub-actu">
                        <p class="text-pub"> Lorem ipsum dolor sit amet consectetur adipisicing elit. In saepe a magnam, molestias libero dolor quam error minima iusto officia. </p>
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRfTLPmXG2rfNQfwt8hKedzFdMYJhDiAIp1cg&usqp=CAU" alt="">
                    </div>

                    <div class="card-reaction">
                        <p class="text-comment"> 12 commentaire</p>
                        <div class="reaction-icon d-flex">
                            <i class="bi-heart like"></i>
                            <i class="fa-regular fa-comment comment" ></i>
                        </div>
                    </div>
                    
                </div>
                <!-- ====== Chart One End -->
            </div>
            <!-- ====== Chart Two Start -->
                <div class="apropos-tribu-g yd vf 2xl:ud-max-w-180 rh ni bj wr nj xr al responsif-none">
                    <div class="kb qg ss">
                        <div class="kb qs">
                            <h4 class="tn kn zn gs">C'est quoi tribu G?</h4>
                        </div>
                        
                    </div>

                    <div>
                        <div class="-ud-ml-5 -ud-mb-9">
                            <p>tribu G c'est Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis ex enim, commodi eaque quod esse.</p>
                        </div>
                    </div>
                </div>

                <!-- ====== Chart Two End -->
        </div>
    </main>
    <!-- ===== Main Content End ===== -->

</div>
{% endblock %}