
<div class="row " style="height:100% ; margin-top:150px">
	<div class="col-lg-9  mx-auto" style="height:100%">
		 <div class="container">
            <div class="card card-pub">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore officiis quo incidunt, labore dicta nesciunt voluptatum fugit facere voluptate, delectus iure hic voluptas veniam atque blanditiis! Molestiae ipsum dignissimos fugit!</p>
            </div>
        </div>
	</div>
</div>
