
<!-- Modal update publication-->
<div class="modal fade" id="modal_publication_modif" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Modifier publication</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <input type="hidden" id="pub_id_modif">
                <input type="hidden" id="tbl_pub">
                <div class="mb-3">
                    <label for="message-text" class="col-form-label">Message</label>
                    <textarea class="form-control" id="message-text_modif" maxlength="3000"></textarea>
                </div>
                <div class="mb-3">
                    <label for="formFileMultiple" class="form-label">Confidentialité</label>
                    <select class="form-control" id="option_modif">
                        <option value="1">Publique</option>
                        <option value="2">Ami(e)s</option>
                        <option value="3">Moi uniquement</option>
                    </select>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Annuler</button>
                <input type="button" class="btn btn-primary" data-bs-dismiss="modal"  value="Modifier" onclick="updatePublication()">
            </div>
        </div>
    </div>
</div>
<!-- End Modal-->


<!-- Modal update commentaire-->
<div class="modal fade" id="modal_commentaire_modif" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabelCom">Modifier commentaire</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <input type="hidden" id="comment_id_modif">
                <input type="hidden" id="comment_table_modif">
                <div class="mb-3">
                    <label for="message-text" class="col-form-label">Message</label>
                    <textarea class="form-control" id="comment_text_modif" maxlength="3000"></textarea>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Annuler</button>
                <input type="button" class="btn btn-primary" data-bs-dismiss="modal"  value="Modifier" onclick="updateCommentaire()">
            </div>
        </div>
    </div>
</div>
<!-- End Modal-->

<!-- Modal Delete Pub-->
<div class="modal fade" id="deletePubModalConfirm" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel_pub">Suppression</h1>
        <input type="hidden" id="tbl_pub_remove">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <span>Voulez-vous confirmer la suppression ?</span>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-success" data-bs-dismiss="modal"><i class="bi bi-x-circle"></i> Annuler</button>
        <button type="button" class="btn btn-outline-danger" id="data-pub-id" onclick="removePublication(this)" data-bs-dismiss="modal"><i class="bi bi-trash3"></i> Oui</button>
      </div>
    </div>
  </div>
</div>
<!-- End Modal -->

<!-- Modal Delete Com-->
<div class="modal fade" id="deleteCommModalConfirm" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel_pub">Suppression</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <input type="hidden" id="comment_table_delete">
        <span>Voulez-vous confirmer la suppression ?</span>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-success" data-bs-dismiss="modal"><i class="bi bi-x-circle"></i> Annuler</button>
        <button type="button" class="btn btn-outline-danger" id="data-pub-id-comm" onclick="removeCommentaire(this)" data-bs-dismiss="modal"><i class="bi bi-trash3"></i> Oui</button>
      </div>
    </div>
  </div>
</div>
<!-- End Modal -->