<div class="modal fade" id="addPictureModal" tabindex="-1" aria-labelledby="addPictureModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5" id="addPictureModalLabel">Ajout de photo</h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<div class="inputImageAndScreenShoot">
					<div id="pictureOnLocal" class="pictureOnLocal" data-bs-dismiss="modal">
						<label for="fileInputProfil" class="labelFileRepertory">
							<i class="bi bi-cloud-arrow-up pictureOnBoth"></i>
							Voulez-vous choisir une photo dans le répertoire de votre appareil?
						</label>
						<input type="file" name="fileRepertory" id="fileInputProfil" class="d-none">
					</div>
					<div class="text-center text_black mt-2">Ou</div>
					<div class="mt-3 pictureOnDevice" id="getPictureOnDevice" data-bs-dismiss="modal" data-bs-target="#mediaModal" data-bs-toggle="modal">
						<label onclick="showModalPicture()" class="labelPrisePhoto">
							<i class="bi bi-camera-fill pictureOnBoth"></i>
							Prendre une photo?</label>
					</div>
					<img id="image-preview" class="d-none"/>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger" data-bs-dismiss="modal">Fermer</button>
			</div>
		</div>
	</div>
</div>
