
<div class="toast show" role="alert" aria-live="assertive" aria-atomic="true">
	<div class="toast-header">
        <img src="{{asset('assets/image/closeup-of-modern-asian-girl-sitting-on-street-stairs-and-holding-smartphone-young-woman-resting-outdoors-texting-message-of-browsing-internet.jpg')}}" alt="">
		<strong class="me-auto">lumix</strong>
        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-camera-reels-fill" viewbox="0 0 16 16">
            <path d="M6 3a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
            <path d="M9 6a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"/>
            <path d="M9 6h.5a2 2 0 0 1 1.983 1.738l3.11-1.382A1 1 0 0 1 16 7.269v7.462a1 1 0 0 1-1.406.913l-3.111-1.382A2 2 0 0 1 9.5 16H2a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h7z"/>
        </svg>
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-dash" viewbox="0 0 16 16">
            <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z"/>
        </svg>
		<button type="button" class="btn-close ms-2 mb-1" data-bs-dismiss="toast" aria-label="Close">
			<span aria-hidden="true"></span>
		</button>
	</div>
	<div class="toast-body">
		Hello, world!
{# <img src="" height="50" alt="Prévisualisation de l'image…"> #}

	</div>
    <div class="">
        <div class=" imput-chat ">
            <div class="row-js">
                {# <div class=""> #}
                    <i class="fa-solid fa-file-import fa-xl ms-3" >
                     <input class="first-input" multiple type="file" accept="image/jpeg, image/png, image/jpg" onchange="show(event)" aria-disabled> 

                    </i>
                {# </div>  #}
                {# <div class="col-lg-3"> #}
                    <div class="text-chat down" >
                        <div id="file-container-js" style="display:none">
                        <div class="upload-img">
                            <div class="attachement">
                                <div class="icon-upload-f">
                                    <i class="fa-solid fa-file-import fa-xl" aria-disabled></i>
                                </div>
                            </div>
                        </div>
                        
                        </div>
                        <input type="text" class="form-control icon-envoyer" placeholder="Votre message">
                    </div>
                    {# <button class="btn btn-primary" type="button" id="button-addon2">Envoyer</button> #}
                {# </div> #}
                    <i class="fa-solid fa-paper-plane fa-xl"></i>
            </div>
        </div>
    </div>
</div>
